Repository grafana/pyroscope, pull requests merged in 2021-06, with the labels that each got.

#222 Hotfix/segment cache panic
  pkg/storage/cache/cache.go
  pkg/storage/cache/cache_test.go
  pkg/storage/dict/serialize.go
  pkg/storage/dimension/serialization.go
  pkg/storage/segment/serialization.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/storage/tree/serialize.go
  pkg/testing/config.go
Labels: backend, bug

#233 Add README for dotnet examples
  examples/dotnet/3.1/fast-slow/Dockerfile
  examples/dotnet/3.1/fast-slow/example/Example.csproj
  examples/dotnet/3.1/web/Dockerfile
  examples/dotnet/3.1/web/example/Example.csproj
  examples/dotnet/5.0/fast-slow/docker-compose.yml
  examples/dotnet/5.0/fast-slow/example/Program.cs
  examples/dotnet/5.0/web/docker-compose.yml
  examples/dotnet/5.0/web/example/Program.cs
  examples/dotnet/README.md
  examples/dotnet/fast-slow/Dockerfile
  examples/dotnet/fast-slow/docker-compose.yml
  examples/dotnet/fast-slow/example/Example.csproj
  examples/dotnet/fast-slow/example/Program.cs
  examples/dotnet/web/Dockerfile
  examples/dotnet/web/docker-compose.yml
  examples/dotnet/web/example/Example.csproj
  examples/dotnet/web/example/Program.cs
Labels: documentation, dotnet, enhancement

#213 Dynamically resizes cache depending on the amount of RAM available (issue #167)
  .gitignore
  Dockerfile
  Makefile
  benchmark/docker-compose.yml
  benchmark/grafana-provisioning/dashboards/main.json
  benchmark/grafana-provisioning/dashboards/main.yml
  benchmark/grafana/grafana.ini
  benchmark/main.go
  benchmark/prometheus/prometheus.yml
  benchmark/run-parameters.env
  benchmark/start.sh
  benchmark/take-screenshot.js
  go.mod
  go.sum
  pkg/agent/selfprofile.go
  pkg/agent/types/types.go
  pkg/agent/upstream/direct/direct.go
  pkg/agent/upstream/remote/remote.go
  pkg/cli/cli.go
  pkg/cli/cli_darwin.go
  pkg/cli/flags.go
  pkg/cli/server_unix.go
  pkg/cli/sortedflags.go
  pkg/cli/usage.go
  pkg/config/config.go
  pkg/dbmanager/cli.go
  pkg/server/controller.go
  pkg/server/ingest.go
  pkg/storage/cache/cache.go
  pkg/storage/cache/cache_test.go
  pkg/storage/key.go
  pkg/storage/local.go
  pkg/storage/segment/serialization.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/testing/config.go
  pkg/testing/tmpdir.go
  pkg/util/atexit/atexit.go
  pkg/util/attime/attime.go
  pkg/util/bytesize/bytesize.go
  pkg/util/debug/cpu.go
  pkg/util/debug/disk.go
  pkg/util/debug/ram.go
  pkg/util/metrics/metrics.go
  pkg/util/varint/varint.go
  revive.toml
  scripts/generate-sample-config/main.go
Labels: backend, enhancement

#238 fix #226: support the readiness and liveness for kubernetes
  pkg/server/controller.go
  pkg/server/healthz.go
Labels: enhancement

#182 Closes #168 - Implement data retention in storage layer (WIP)
  benchmark/grafana-provisioning/dashboards/main.json
  pkg/agent/upstream/remote/remote_test.go
  pkg/cli/flags.go
  pkg/cli/server_unix.go
  pkg/config/config.go
  pkg/storage/dimension/dimension.go
  pkg/storage/dimension/dimension_test.go
  pkg/storage/local.go
  pkg/storage/mem.go
  pkg/storage/periodic.go
  pkg/storage/segment/relationship.go
  pkg/storage/segment/segment.go
  pkg/storage/segment/segment_test.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/testing/config.go
  pkg/testing/time.go
  pkg/util/atexit/atexit.go
  pkg/util/duration/parse.go
Labels: backend, storage

#237 Bump rbspy v0.6.0
  examples/ruby/Dockerfile
  pkg/agent/rbspy/placeholder.go
  pkg/agent/rbspy/rbspy.go
  pkg/agent/target/service.go
  pkg/cli/flags_test.go
  pkg/config/config.go
  pkg/exec/cli.go
  third_party/rustdeps/Cargo.lock
  third_party/rustdeps/Cargo.toml
  third_party/rustdeps/rbspy.h
Labels: enhancement, 💎  ruby

#245 Ignore tags on dictionary lookup
  pkg/storage/key.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: backend, enhancement, performance, storage

#236 Improves generate-sample-config script
  pkg/cli/cli.go
  pkg/cli/flags.go
  pkg/config/config.go
  scripts/generate-sample-config/example.md
  scripts/generate-sample-config/main.go
Labels: documentation, enhancement, ux

#243 Graceful shutdown
  go.mod
  go.sum
  pkg/agent/selfprofile.go
  pkg/agent/session.go
  pkg/agent/upstream/direct/direct.go
  pkg/analytics/analytics.go
  pkg/cli/cli.go
  pkg/cli/server.go
  pkg/cli/server_unix.go
  pkg/dbmanager/cli.go
  pkg/exec/cli.go
  pkg/exec/cli_unix.go
  pkg/exec/cli_windows.go
  pkg/exec/exec_test.go
  pkg/server/controller.go
  pkg/server/http.go
  pkg/server/ingest.go
  pkg/server/labels.go
  pkg/server/render.go
  pkg/storage/local.go
  pkg/storage/periodic.go
  pkg/storage/storage.go
  pkg/util/atexit/atexit.go
  pkg/util/atexit/atexit_suite_test.go
  pkg/util/debug/reporter.go
Labels: backend, enhancement, 🧹 cleanup

#255 Document dotnet magic denominator
  pkg/agent/dotnetspy/session.go
Labels: .net, documentation, 🧹 cleanup

#259 Adds new build and config endpoints
  benchmark/main.go
  pkg/build/build.go
  pkg/server/build.go
  pkg/server/build_test.go
  pkg/server/config.go
  pkg/server/config_test.go
  pkg/server/controller.go
  pkg/server/healthz.go
  pkg/server/ingest.go
  pkg/server/ingest_test.go
  pkg/server/labels.go
  pkg/server/render.go
Labels: backend, ops

#261 Fix signal sending on Windows
  pkg/exec/cli.go
  pkg/exec/cli_unix.go
  pkg/exec/cli_windows.go
Labels: bug, windows
