Repository grafana/pyroscope, pull requests merged in 2024-03, with the labels that each got.

#3073 [DOC] Set up profiling and tracing intro for sharing
  docs/sources/configure-client/_index.md
  docs/sources/view-and-analyze-profile-data/profile-tracing/_index.md
Labels: type/docs, backport release/v1.4

#3076 [DOC] replace video for get started
  docs/sources/get-started/_index.md
Labels: type/docs, backport release/v1.4

#3099 [DOC] Fix minor issues in Span profiles doc
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
Labels: type/docs, backport release/v1.4

#3120 Add release notes for v1.5
  docs/sources/release-notes/v1-4.md
  docs/sources/release-notes/v1-5.md
Labels: type/docs, backport release/v1.5

#3141 Fix example links in README.md
  README.md
Labels: type/docs

#3136 docs: Update grafana agent java example readme
  examples/grafana-agent-auto-instrumentation/java/README.md
Labels: type/docs
