Repository grafana/pyroscope, pull requests merged in 2024-06, with the labels that each got.

#3366 Update azure identity
  api/go.mod
  api/go.sum
  ebpf/go.mod
  ebpf/go.sum
  go.mod
  go.sum
  go.work.sum
Labels: type/bug, backport release/v1.6

#3365 Update golang version to 1.21.11
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
Labels: type/bug, backport release/v1.6

#3364 Update alpine version to 3.18.7
  cmd/pyroscope/Dockerfile
  cmd/pyroscope/debug.Dockerfile
Labels: type/bug, backport release/v1.6

#3374 [release/v1.6] Update golang version to 1.21.11
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
Labels: type/bug, backport

#3375 Update release workflow to be v2 compatible
  .github/workflows/release.yml
Labels: type/bug, backport release/v1.6

#3339 Update outdated java span profile information
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
Labels: type/docs, backport release/v1.6

#3138 feat: symdb custom binary format
  docs/sources/reference-pyroscope-architecture/block-format/_index.md
  pkg/phlaredb/block/metadata.go
  pkg/phlaredb/block_querier_symbols.go
  pkg/phlaredb/compact.go
  pkg/phlaredb/compact_test.go
  pkg/phlaredb/head.go
  pkg/phlaredb/phlaredb.go
  pkg/phlaredb/schemas/v1/functions.go
  pkg/phlaredb/schemas/v1/locations.go
  pkg/phlaredb/schemas/v1/mappings.go
  pkg/phlaredb/schemas/v1/models.go
  pkg/phlaredb/schemas/v1/schema_test.go
  pkg/phlaredb/schemas/v1/strings.go
  pkg/phlaredb/symdb/block_reader.go
  pkg/phlaredb/symdb/block_reader_parquet.go
  pkg/phlaredb/symdb/block_reader_test.go
  pkg/phlaredb/symdb/block_writer.go
  pkg/phlaredb/symdb/block_writer_v2.go
  pkg/phlaredb/symdb/block_writer_v3.go
  pkg/phlaredb/symdb/dedup_slice.go
  pkg/phlaredb/symdb/format.go
  pkg/phlaredb/symdb/functions.go
  pkg/phlaredb/symdb/functions_test.go
  pkg/phlaredb/symdb/locations.go
  pkg/phlaredb/symdb/locations_test.go
  pkg/phlaredb/symdb/mappings.go
  pkg/phlaredb/symdb/mappings_test.go
  pkg/phlaredb/symdb/partition_memory.go
  pkg/phlaredb/symdb/resolver_pprof_tree.go
  pkg/phlaredb/symdb/rewriter.go
  pkg/phlaredb/symdb/stacktrace_tree.go
  pkg/phlaredb/symdb/stacktrace_tree_test.go
  pkg/phlaredb/symdb/strings.go
  pkg/phlaredb/symdb/strings_test.go
  pkg/phlaredb/symdb/symdb.go
  pkg/phlaredb/symdb/symdb_test.go
  pkg/phlaredb/symdb/testdata/symbols/v3/symbols.symdb
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
  pkg/slices/slices.go
  pkg/test/integration/microservices_test.go
Labels: storage, performance, type/docs

#3382 [DOC] Remove --stability-level for Alloy v1.2
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/grafana-agent/java/_index.md
Labels: type/docs, backport release/v1.6
