Repository grafana/pyroscope, pull requests merged in 2024-02, with the labels that each got.

#2982 Add span profiles documentation
  docs/sources/configure-client/go-span-profiles.md
  examples/tracing/tempo/README.md
Labels: type/docs

#2980 [DOC] Add traces to profile content
  docs/sources/configure-server/about-server-api.md
  docs/sources/ingest-and-analyze-profile-data/_index.md
  docs/sources/introduction/continuous-profiling/_index.md
  docs/sources/view-and-analyze-profile-data/_index.md
  docs/sources/view-and-analyze-profile-data/analyze-profiles/_index.md
  docs/sources/view-and-analyze-profile-data/flamegraphs.md
  docs/sources/view-and-analyze-profile-data/profile-cli.md
  docs/sources/view-and-analyze-profile-data/profile-tracing/_index.md
  docs/sources/view-and-analyze-profile-data/profile-tracing/traces-to-profiles.md
  docs/sources/view-and-analyze-profile-data/profiling-types/_index.md
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
  docs/sources/view-and-analyze-profile-data/self-vs-total.md
Labels: type/docs

#2988 docs: copypaste docs bout __process_pid__ label
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
Labels: type/docs

#2991 docs: Add v1.4 release notes
  docs/sources/release-notes/v1-4.md
Labels: type/docs

#2987 docs: update examples
  docs/sources/configure-client/language-sdks/java.md
  examples/golang-push/rideshare/go.mod
  examples/golang-push/rideshare/go.sum
  examples/golang-push/simple/go.mod
  examples/golang-push/simple/go.sum
  examples/java/fib/Dockerfile
  examples/java/rideshare/Dockerfile
  examples/java/rideshare/build.gradle.kts
  examples/java/simple/Dockerfile
Labels: type/docs

#3000 Minor Java doc improvements
  docs/sources/configure-client/language-sdks/java.md
Labels: type/docs

#3012 docs: fix pyroscope product link
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
Labels: type/docs, backport release-v1.3, backport release-v1.4

#3017 [release/v1.3] docs: fix pyroscope product link
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
Labels: type/docs

#3027 [DOC] Update links for new examples folder
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/grafana-agent/java/_index.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/introduction/pyroscope-in-grafana.md
Labels: type/docs

#3062 [release/v1.4] Update example links to point to branch
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/go-span-profiles.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/grafana-agent/java/_index.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/configure-server/about-server-api.md
Labels: type/docs

#3061 [release/v1.3] Update example links to point to branch
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/configure-server/about-server-api.md
Labels: type/docs

#3028 [DOC] Update Configure the client and span profiles doc
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/go-span-profiles.md
Labels: type/docs

#3063 docs: Add additional span profiles docs
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/view-and-analyze-profile-data/profile-tracing/traces-to-profiles.md
Labels: type/docs, backport release/v1.4

#3069 [release/v1.4] [DOC] Update Configure the client and span profiles doc
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/go-span-profiles.md
Labels: type/docs, backport

#3071 [release/v1.4] docs: Add additional span profiles docs
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/view-and-analyze-profile-data/profile-tracing/traces-to-profiles.md
Labels: type/docs, backport
