Repository grafana/pyroscope, pull requests merged in 2024-04, with the labels that each got.

#3160 docs: Add link to use pprof and go sdk simultaneously
  examples/language-sdk-instrumentation/golang-push/migrating-from-standard-pprof/README.md
Labels: type/docs, backport release/v1.4, backport release/v1.5

#3128 [documentation] update config.river sample for k8s ebpf use case
  examples/grafana-agent-auto-instrumentation/ebpf/k8s/config.river
Labels: type/docs

#3176 [DOC] Pyroscope landing page for doc
  docs/sources/_index.md
  docs/sources/introduction/_index.md
Labels: type/docs, backport release/v1.5

#3200 Improve wording in docs / examples
  README.md
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
  docs/internal/RELEASE.md
  docs/internal/contributing/README.md
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/aws-lambda.md
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
  docs/sources/configure-client/grafana-agent/sampling.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/configure-server/_index.md
  docs/sources/configure-server/about-configurations.md
  docs/sources/configure-server/about-server-api.md
  docs/sources/configure-server/about-tenant-ids.md
  docs/sources/configure-server/configure-shuffle-sharding/index.md
  docs/sources/configure-server/reference-configuration-parameters/index.md
  docs/sources/deploy-kubernetes/helm.md
  docs/sources/deploy-kubernetes/tanka-jsonnet.md
  docs/sources/introduction/continuous-profiling/_index.md
  docs/sources/introduction/profiling.md
  docs/sources/reference-pyroscope-architecture/block-format/_index.md
  docs/sources/reference-pyroscope-architecture/components/compactor/index.md
  docs/sources/reference-pyroscope-architecture/components/query-frontend/index.md
  docs/sources/reference-pyroscope-architecture/hash-ring/index.md
  docs/sources/release-notes/v1-1.md
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/upgrade-guide/_index.md
  docs/sources/view-and-analyze-profile-data/_index.md
  docs/sources/view-and-analyze-profile-data/analyze-profiles/_index.md
  docs/sources/view-and-analyze-profile-data/flamegraphs.md
  docs/sources/view-and-analyze-profile-data/profiling-types/_index.md
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
  docs/sources/view-and-analyze-profile-data/self-vs-total.md
  examples/language-sdk-instrumentation/golang-push/README.md
  examples/language-sdk-instrumentation/java/rideshare/README.md
  examples/language-sdk-instrumentation/python/README.md
  examples/language-sdk-instrumentation/python/rideshare/README.md
  examples/language-sdk-instrumentation/ruby/README.md
  examples/language-sdk-instrumentation/ruby/rideshare/README.md
  pkg/querier/vcs/github.md
  pkg/validation/limits.go
Labels: type/docs, backport release/v1.5

#3201 [DOC] Add note for Agent to Alloy to docs
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/grafana-agent/_index.md
  docs/sources/configure-client/grafana-agent/ebpf/_index.md
  docs/sources/configure-client/grafana-agent/ebpf/setup-docker.md
  docs/sources/configure-client/grafana-agent/ebpf/setup-kubernetes.md
  docs/sources/configure-client/grafana-agent/ebpf/setup-linux.md
  docs/sources/configure-client/grafana-agent/java/_index.md
Labels: type/docs, backport release/v1.5

#3217 Handle zero references when merging
  pkg/pprof/merge.go
  pkg/pprof/merge_test.go
Labels: bug

#3215 [release/v1.5] Improve wording in docs / examples
  README.md
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
  docs/internal/RELEASE.md
  docs/internal/contributing/README.md
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/aws-lambda.md
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
  docs/sources/configure-client/grafana-agent/sampling.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/configure-server/_index.md
  docs/sources/configure-server/about-configurations.md
  docs/sources/configure-server/about-server-api.md
  docs/sources/configure-server/about-tenant-ids.md
  docs/sources/configure-server/configure-shuffle-sharding/index.md
  docs/sources/configure-server/reference-configuration-parameters/index.md
  docs/sources/deploy-kubernetes/helm.md
  docs/sources/deploy-kubernetes/tanka-jsonnet.md
  docs/sources/introduction/continuous-profiling/_index.md
  docs/sources/introduction/profiling.md
  docs/sources/reference-pyroscope-architecture/block-format/_index.md
  docs/sources/reference-pyroscope-architecture/components/compactor/index.md
  docs/sources/reference-pyroscope-architecture/components/query-frontend/index.md
  docs/sources/reference-pyroscope-architecture/hash-ring/index.md
  docs/sources/release-notes/v1-1.md
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/upgrade-guide/_index.md
  docs/sources/view-and-analyze-profile-data/_index.md
  docs/sources/view-and-analyze-profile-data/analyze-profiles/_index.md
  docs/sources/view-and-analyze-profile-data/flamegraphs.md
  docs/sources/view-and-analyze-profile-data/profiling-types/_index.md
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
  docs/sources/view-and-analyze-profile-data/self-vs-total.md
  examples/language-sdk-instrumentation/golang-push/README.md
  examples/language-sdk-instrumentation/java/rideshare/README.md
  examples/language-sdk-instrumentation/python/README.md
  examples/language-sdk-instrumentation/python/rideshare/README.md
  examples/language-sdk-instrumentation/ruby/README.md
  examples/language-sdk-instrumentation/ruby/rideshare/README.md
  pkg/querier/vcs/github.md
  pkg/validation/limits.go
Labels: type/docs, backport

#3224 Example and docs for .NET span profiles
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  examples/language-sdk-instrumentation/dotnet/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/dotnet/rideshare/example/Example.csproj
  examples/language-sdk-instrumentation/dotnet/rideshare/example/Program.cs
  examples/language-sdk-instrumentation/dotnet/rideshare/example/ScooterService.cs
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
  examples/tracing/tempo/docker-compose.yml
Labels: type/docs, backport release/v1.5

#3233 [DOC Update flamegraphs.md
  docs/sources/view-and-analyze-profile-data/flamegraphs.md
Labels: type/docs, backport release/v1.5

#3228 [DOC] Add links to supported profile types in SDKs
  docs/sources/configure-client/grafana-agent/_index.md
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/view-and-analyze-profile-data/profiling-types/_index.md
Labels: type/docs, backport release/v1.5

#3234 [DOC] Update screenshots in Pyroscope UI'
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
Labels: type/docs, backport release/v1.5

#3238 Update flamegraphs.md
  docs/sources/view-and-analyze-profile-data/flamegraphs.md
Labels: type/docs

#3248 [release/v1.5] docs: Fix invalid references to in discovery.relabel
  docs/sources/configure-client/grafana-agent/ebpf/setup-linux.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  examples/grafana-agent-auto-instrumentation/ebpf/k8s/config.river
Labels: type/docs, backport

#3243 [DOC] Add changes from Cloud Profiles UI to OSS docs
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
Labels: type/docs
