Repository grafana/pyroscope, pull requests merged in 2024-01, with the labels that each got.

#2884 Add self vs total docs
  docs/sources/ingest-and-analyze-profile-data/self-vs-total.md
Labels: type/docs

#2893 add 1 min youtube short video on ebpf
  docs/sources/configure-client/grafana-agent/ebpf/_index.md
Labels: type/docs

#2895 [DOC] Add memory overhead doc
  docs/sources/configure-client/aws-lambda.md
  docs/sources/configure-client/memory-overhead.md
Labels: type/docs

#2904 Update java.md
  docs/sources/configure-client/language-sdks/java.md
Labels: type/docs

#2912 Use LabelValues for ProfileTypes call in querier
  api/gen/proto/go/ingester/v1/ingester_vtproto.pb.go
  api/gen/proto/go/ingester/v1/ingesterv1connect/ingester.connect.go
  api/gen/proto/go/storegateway/v1/storegateway_vtproto.pb.go
  api/gen/proto/go/storegateway/v1/storegatewayv1connect/storegateway.connect.go
  api/ingester/v1/ingester.proto
  api/storegateway/v1/storegateway.proto
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querier/store_gateway_querier.go
Labels: 🛠. refactoring

#2930 docs(examples): Grafana agent java example
  examples/grafana-agent/golang-pull/README.md
  examples/grafana-agent/golang-pull/agent/config/agent.yaml
  examples/grafana-agent/golang-pull/agent/config/config.river
  examples/grafana-agent/golang-pull/docker-compose.yml
  examples/grafana-agent/golang-pull/grafana-provisioning/dashboards/main.json
  examples/grafana-agent/golang-pull/grafana-provisioning/dashboards/main.yml
  examples/grafana-agent/golang-pull/grafana-provisioning/datasources/datasources.yml
  examples/grafana-agent/golang-pull/grafana/grafana.ini
  examples/grafana-agent/golang-pull/grafana/home.json
  examples/grafana-agent/java/FastSlow.java
  examples/grafana-agent/java/config.river
  examples/grafana-agent/java/docker-compose.yml
  examples/grafana-agent/java/java.Dockerfile
Labels: type/docs

#2931 docs(lambda): AWS Lambda extension SDK support
  docs/sources/configure-client/aws-lambda.md
Labels: type/docs

#2949 [DOC] Add 1.3 release notes for docs
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
Labels: type/docs, backport release-v1.3

#2948 Update RELEASE.md
  docs/internal/RELEASE.md
Labels: type/docs

#2951 [DOC] Add 1.3 release notes for docs (#2949)
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
Labels: type/docs

#2973 docs(pyroscope.java): add pyroscope.java agent docs
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
  docs/sources/configure-client/grafana-agent/java/_index.md
Labels: type/docs
