Repository grafana/pyroscope, pull requests merged in 2024-11, with the labels that each got.

#3655 docs: Update k8s + alloy setup docs
  docs/sources/configure-client/grafana-alloy/ebpf/setup-kubernetes.md
Labels: type/docs, backport release/v1.9

#3664 [DOC] Add doc for DisbleGCRuns
  docs/sources/configure-client/language-sdks/go_push.md
Labels: type/docs, backport release/v1.9

#3658 docs: add documentation for Pyroscope SDK profiles through Alloy
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/grafana-alloy/_index.md
  docs/sources/configure-client/grafana-alloy/receive_profiles.md
Labels: type/docs

#3584 docs: Getting started demo + sandbox
  docs/sources/get-started/ride-share-tutorial.md
Labels: type/docs, backport release/v1.9

#3674 docs: Add step to pull latest grafana
  examples/grafana-agent-auto-instrumentation/golang-pull/README.md
  examples/grafana-agent-auto-instrumentation/java/docker/README.md
  examples/language-sdk-instrumentation/golang-push/README.md
  examples/language-sdk-instrumentation/golang-push/rideshare/README.md
  examples/language-sdk-instrumentation/java/rideshare/README.md
  examples/language-sdk-instrumentation/java/simple/README.md
  examples/language-sdk-instrumentation/nodejs/README.md
  examples/language-sdk-instrumentation/python/README.md
  examples/language-sdk-instrumentation/python/README_zh.md
  examples/language-sdk-instrumentation/python/rideshare/README.md
  examples/language-sdk-instrumentation/python/rideshare/README_zh.md
  examples/language-sdk-instrumentation/python/rideshare/fastapi/README.md
  examples/language-sdk-instrumentation/python/rideshare/flask/README.md
  examples/language-sdk-instrumentation/ruby/README.md
  examples/language-sdk-instrumentation/ruby/README_zh.md
  examples/language-sdk-instrumentation/ruby/rideshare/README.md
  examples/language-sdk-instrumentation/ruby/rideshare/README_zh.md
  examples/language-sdk-instrumentation/ruby/rideshare_rails/README.md
  examples/language-sdk-instrumentation/rust/rideshare/README.md
  examples/tracing/tempo/README.md
Labels: type/docs

#3678 docs: add home link and sources in Helm chart
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
Labels: type/docs

#3692 [DOC] Add v1.10 release notes and fix page weights
  docs/sources/release-notes/v1-10.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/release-notes/v1-5.md
  docs/sources/release-notes/v1-6.md
  docs/sources/release-notes/v1-7.md
  docs/sources/release-notes/v1-8.md
  docs/sources/release-notes/v1-9.md
  docs/sources/view-and-analyze-profile-data/profile-cli.md
Labels: type/docs, backport release/v1.10

#3686 doc(docs.sources.configureServer.aboutServerAPI): fix typo
  docs/sources/configure-server/about-server-api.md
Labels: type/docs, backport release/v1.10

#3698 examples: add a java span profiling example without the Pyroscope sdk
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  examples/tracing/java/.gitignore
  examples/tracing/java/Dockerfile
  examples/tracing/java/Dockerfile.load-generator
  examples/tracing/java/README.md
  examples/tracing/java/build.gradle.kts
  examples/tracing/java/docker-compose.yml
  examples/tracing/java/gradle/wrapper/gradle-wrapper.jar
  examples/tracing/java/gradle/wrapper/gradle-wrapper.properties
  examples/tracing/java/gradlew
  examples/tracing/java/gradlew.bat
  examples/tracing/java/grafana-provisioning/datasources/pyroscope.yml
  examples/tracing/java/grafana-provisioning/plugins/explore-profiles.yml
  examples/tracing/java/load-generator.py
  examples/tracing/java/settings.gradle.kts
  examples/tracing/java/src/main/java/org/example/rideshare/Main.java
  examples/tracing/java/src/main/java/org/example/rideshare/OrderService.java
  examples/tracing/java/src/main/java/org/example/rideshare/RideShareController.java
  examples/tracing/java/src/main/java/org/example/rideshare/bike/BikeService.java
  examples/tracing/java/src/main/java/org/example/rideshare/car/CarService.java
  examples/tracing/java/src/main/java/org/example/rideshare/scooter/ScooterService.java
  examples/tracing/java/tempo/tempo.yml
  examples/tracing/tempo/docker-compose.yml
Labels: type/docs, backport release/v1.9, backport release/v1.10

#3701 docs: update configure client diagram
  docs/sources/configure-client/_index.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#3695 docs: Add example for OTel eBPF profiler
  examples/grafana-agent-auto-instrumentation/ebpf-otel/README.md
  examples/grafana-agent-auto-instrumentation/ebpf-otel/docker/Dockerfile
  examples/grafana-agent-auto-instrumentation/ebpf-otel/docker/config/otel-collector-config.yaml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/docker/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/docker/grafana-provisioning/datasources/pyroscope.yml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/Dockerfile
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/cpu-stress.yaml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/grafana.yaml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/otel-collector.yaml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/profiler.yaml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/kubernetes/pyroscope.yaml
Labels: type/docs

#3690 Update quickstart to include explore profiles
  docs/sources/get-started/_index.md
Labels: type/docs, backport release/v1.10
