Repository grafana/pyroscope, pull requests merged in 2024-12, with the labels that each got.

#3713 docs: add otel ebpf profiling support
  docs/sources/configure-client/opentelemetry/ebpf-profiler.md
Labels: type/docs, backport release/v1.10

#3727 Update examples and docs with the latest java sdk
  docs/sources/configure-client/language-sdks/java.md
  examples/language-sdk-instrumentation/java/fib/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/build.gradle.kts
  examples/language-sdk-instrumentation/java/simple/Dockerfile
Labels: type/docs, backport release/v1.10

#3753 fix(docs): Make sure helm Grafana example works as expected.
  docs/sources/deploy-kubernetes/helm.md
Labels: type/docs, backport release/v1.9, backport release/v1.10

#3758 docs(examples): Remove version statement
  examples/base-url/docker-compose.yml
  examples/golang-pgo/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/ebpf-otel/docker/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/ebpf/docker/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/ebpf/local/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/golang-pull/docker-compose.yml
  examples/grafana-agent-auto-instrumentation/java/docker/docker-compose.yml
  examples/language-sdk-instrumentation/dotnet/fast-slow/docker-compose.yml
  examples/language-sdk-instrumentation/dotnet/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/dotnet/web-new/docker-compose.yml
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/docker-compose.yml
  examples/language-sdk-instrumentation/golang-push/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/golang-push/simple/docker-compose.yml
  examples/language-sdk-instrumentation/java/fib/docker-compose.yml
  examples/language-sdk-instrumentation/java/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/java/simple/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/express-pull/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/express-ts/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/express/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/tinyhttp/docker-compose.yml
  examples/language-sdk-instrumentation/python/rideshare/django/docker-compose.yml
  examples/language-sdk-instrumentation/python/rideshare/fastapi/docker-compose.yml
  examples/language-sdk-instrumentation/python/rideshare/flask/docker-compose.yml
  examples/language-sdk-instrumentation/python/simple/docker-compose.yml
  examples/language-sdk-instrumentation/ruby/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/ruby/rideshare_rails/docker-compose.yml
  examples/language-sdk-instrumentation/ruby/simple/docker-compose.yml
  examples/language-sdk-instrumentation/rust/rideshare/docker-compose.yml
  examples/tracing/java/docker-compose.yml
  examples/tracing/tempo/docker-compose.yml
Labels: type/docs

#3778 chore(examples): rename flask-ride-sharing-app in tutorial
  docs/sources/get-started/ride-share-tutorial.md
  examples/language-sdk-instrumentation/python/README.md
Labels: type/docs, missing-labels, backport release/v1.9, backport release/v1.10

#3777 docs: ebpf-otel fixes
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/Dockerfile
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/README.md
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/docker/Dockerfile
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/docker/docker-compose.yml
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/kubernetes/Dockerfile
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/kubernetes/otel-collector.yaml
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/kubernetes/profiler.yaml
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/kubernetes/pyroscope.yaml
Labels: type/docs, backport release/v1.9, backport release/v1.10
