Repository grafana/pyroscope, pull requests merged in 2024-07, with the labels that each got.

#3432 docs: Link to supported languages
  README.md
Labels: type/docs

#3440 [DOC] Fix broken links
  docs/sources/configure-client/grafana-agent/ebpf/_index.md
  docs/sources/configure-client/grafana-agent/ebpf/configuration/_index.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/grafana-agent/java/_index.md
  docs/sources/configure-client/grafana-agent/sampling.md
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/python-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/introduction/pyroscope-in-grafana.md
Labels: type/docs, backport release/v1.6

#3444 docs: Add parameters from otel-profiling-java
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
Labels: type/docs, backport release/v1.6

#3446 fix(docs): remove old GF_FEATURE_TOGGLES_ENABLE=flameGraph
  docs/sources/deploy-kubernetes/helm.md
  docs/sources/get-started/_index.md
  tools/grafana-phlare
Labels: type/docs, backport release/v1.7
