Repository grafana/pyroscope, pull requests merged in 2024-10, with the labels that each got.

#3607 docs: fix broken OpenTelemetry links
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
Labels: type/docs, backport release/v1.9

#3612 [DOC] Add links to updated Alloy examples to docs
  docs/sources/configure-client/grafana-agent/java/_index.md
Labels: documentation, type/docs, backport release/v1.9

#3614 [DOC] Fix broken links from doc report
  docs/sources/configure-client/grafana-agent/_index.md
  docs/sources/configure-client/grafana-agent/go_pull.md
  docs/sources/configure-client/grafana-agent/java/_index.md
  docs/sources/get-started/_index.md
  docs/sources/introduction/pyroscope-in-grafana.md
Labels: type/docs, backport release/v1.9

#3640 chore: frontend dependencies bumps
  package.json
  yarn.lock
Labels: type/bug, backport release/v1.9

#3659 [DOC] Update and expand profiling types doc
  README.md
  docs/sources/configure-client/aws-lambda.md
  docs/sources/configure-client/grafana-alloy/_index.md
  docs/sources/configure-client/grafana-alloy/ebpf/_index.md
  docs/sources/configure-client/grafana-alloy/java/_index.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/nodejs.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/language-sdks/rust.md
  docs/sources/configure-client/memory-overhead.md
  docs/sources/configure-client/profile-types.md
  docs/sources/configure-client/trace-span-profiles/_index.md
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/configure-server/about-server-api.md
  docs/sources/introduction/continuous-profiling/_index.md
  docs/sources/introduction/profiling-types/_index.md
  docs/sources/introduction/profiling.md
  docs/sources/introduction/pyroscope-in-grafana.md
  docs/sources/shared/available-profile-types.md
  docs/sources/shared/index.md
Labels: type/docs, backport release/v1.9
