Repository grafana/pyroscope, pull requests merged in 2025-03, with the labels that each got.

#3971 Set `GRAFANA_VERSION` in front matter
  docs/sources/_index.md
Labels: missing-labels, backport release/v1.10, backport release/v1.11, backport release/v1.12

#4001 Update receive_profiles.md
  docs/sources/configure-client/grafana-alloy/receive_profiles.md
Labels: type/docs, backport release/v1.11, backport release/v1.12

#4023 doc: fix configure-disk-storage.md default -pyroscopedb.max-block-dur…
  docs/sources/configure-server/storage/configure-disk-storage.md
Labels: type/docs, backport release/v1.11, backport release/v1.12

#4044 fix: Storage prefix validation
  pkg/objstore/client/config.go
  pkg/objstore/client/factory_test.go
Labels: type/bug, backport release/v1.12, backport release/v1.13

#4056 fix: Update minio-go to fix bug in AWS STS auth
  go.mod
  go.sum
  go.work.sum
  pkg/objstore/providers/s3/config_test.go
Labels: type/bug, backport release/v1.12, backport release/v1.13

#4058 Update golang version to 1.23.7
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/test.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Labels: backport release/v1.13, product-approved

#4063 doc: Update release notes for v1.13.1
  docs/sources/release-notes/v1-13.md
Labels: type/docs, backport release/v1.13

#4064 doc: Update release notes for v1.12.1
  docs/sources/release-notes/v1-12.md
Labels: type/docs, backport release/v1.12, backport release/v1.13
