Repository grafana/pyroscope, pull requests merged in 2025-02, with the labels that each got.

#3912 docs: improve nodejs collectCpuTime option description
  docs/sources/configure-client/language-sdks/nodejs.md
Labels: type/docs, backport release/v1.12

#3936 Rename Explore Apps to App Drilldown
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/ride-share-tutorial.md
  docs/sources/shared/intro/continuous-profiling.md
  docs/sources/shared/intro/flame-graphs.md
  docs/sources/shared/use-explore-profiles.md
  docs/sources/view-and-analyze-profile-data/_index.md
  docs/sources/view-and-analyze-profile-data/explore-profiles.md
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
Labels: type/docs

#3937 [v1.12.x] Rename Explore Apps to App Drilldown
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/ride-share-tutorial.md
  docs/sources/shared/intro/continuous-profiling.md
  docs/sources/shared/intro/flame-graphs.md
  docs/sources/shared/use-explore-profiles.md
  docs/sources/view-and-analyze-profile-data/_index.md
  docs/sources/view-and-analyze-profile-data/explore-profiles.md
  docs/sources/view-and-analyze-profile-data/pyroscope-ui.md
Labels: type/docs

#3947 perf: add log buffer
  pkg/phlare/phlare.go
Labels: enhancement, performance
