Repository grafana/pyroscope, pull requests merged in 2025-04, with the labels that each got.

#4085 docs: State which versions we do maintain
  docs/sources/release-notes/_index.md
Labels: type/docs, missing-labels, backport release/v1.12, backport release/v1.13

#4104 397 Add doc for anonymous usage stats
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
  docs/sources/configure-server/anonymous-usage-statistics-reporting.md
  docs/sources/configure-server/reference-configuration-parameters/index.md
  docs/sources/configure-server/reference-configuration-parameters/index.template
  docs/sources/get-started/_index.md
  pkg/usagestats/reporter.go
  tools/doc-generator/parse/root_blocks.go
Labels: type/docs, backport release/v1.12, backport release/v1.13

#4116 [release/v1.13] Update golang version to 1.23.8
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/test.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Labels: type/bug, backport

#4115 [release/v1.12] Update golang version to 1.23.8
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/test.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  ebpf/go.mod
  examples/golang-pgo/Dockerfile
  examples/golang-pgo/go.mod
  examples/golang-pgo/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/go.work
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/go.work
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  examples/tracing/golang-push/go.mod
  examples/tracing/golang-push/go.work
  go.mod
  go.work
Labels: type/bug, backport
