Repository grafana/pyroscope, pull requests merged in 2025-01, with the labels that each got.

#3787 chore(examples): Update release-1.10 with changes from /docs
  docs/sources/configure-client/_index.md
  docs/sources/configure-client/grafana-alloy/java/_index.md
  docs/sources/configure-client/grafana-alloy/receive_profiles.md
  docs/sources/configure-client/language-sdks/_index.md
  docs/sources/configure-client/language-sdks/dotnet.md
  docs/sources/configure-client/language-sdks/go_push.md
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/language-sdks/python.md
  docs/sources/configure-client/language-sdks/ruby.md
  docs/sources/configure-client/opentelemetry/ebpf-profiler.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/python-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  docs/sources/configure-server/reference-configuration-parameters/index.md
  docs/sources/get-started/ride-share-tutorial.md
  docs/sources/introduction/profiling.md
Labels: type/docs

#3812 Update java examples with latest SDKs
  docs/sources/configure-client/language-sdks/java.md
  docs/sources/configure-client/trace-span-profiles/dotnet-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/go-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/java-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/python-span-profiles.md
  docs/sources/configure-client/trace-span-profiles/ruby-span-profiles.md
  examples/language-sdk-instrumentation/java/fib/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/build.gradle.kts
  examples/language-sdk-instrumentation/java/simple/Dockerfile
  examples/tracing/java/Dockerfile
  examples/tracing/java/README.md
  examples/tracing/java/build.gradle.kts
  examples/tracing/java/docker-compose.yml
  examples/tracing/java/src/main/java/org/example/rideshare/Main.java
  examples/tracing/java/src/main/java/org/example/rideshare/OrderService.java
Labels: type/docs, backport release/v1.11

#3819 fix(distributor): validate string table accesses
  pkg/distributor/distributor_test.go
  pkg/test/integration/ingest_pprof_test.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Labels: type/bug

#3818 fix(distributor): validate string table accesses
  pkg/distributor/distributor_test.go
  pkg/test/integration/ingest_pprof_test.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Labels: type/bug

#3823 Fix broken link in configure client
  docs/sources/configure-server/about-tenant-ids.md
Labels: type/docs, backport release/v1.11

#3837 Fix: Acutally validate config struct
  pkg/objstore/client/config.go
  pkg/phlare/phlare.go
Labels: type/bug

#3845 docs: Add v1.12 release notes
  docs/sources/release-notes/v1-12.md
Labels: type/docs, backport release/v1.12

#3836 Update README for doc rel notes process
  docs/internal/RELEASE.md
Labels: type/docs

#3850 docs: add missing Java profiling options
  docs/sources/configure-client/language-sdks/java.md
Labels: type/docs, backport release/v1.12

#3864 docs: remove otel support misleading block
  docs/sources/configure-client/opentelemetry/ebpf-profiler.md
Labels: type/docs, backport release/v1.12
