Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Downgrade dotnet to 0.10.0
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
Owners: @grafana/pyroscope-team

Try fix certificate issue with dotnet
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
Owners: @grafana/pyroscope-team

Create /render status code tests
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

Add test cases for /render endpoints
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

Empty from/until is an error
  pkg/querier/http.go
Owners: @marcsanmi

fix: Assign appropriate HTTP status codes (#4684)
  pkg/querier/http.go
Owners: @marcsanmi

Refactor test layout
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

Add /render-diff tests
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

Add tests for /ProfileTypes endpoint
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

feat: Add profile_id_selector for individual profile retrieval (#4657)
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/querier/querier.go
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_tree.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta

Fix update-examples after ruby upgrade
  examples/language-sdk-instrumentation/ruby/rideshare/Dockerfile
  examples/language-sdk-instrumentation/ruby/simple/Dockerfile
  examples/tracing/ruby/Dockerfile
Owners: @grafana/pyroscope-team

Update ruby version in update-examples
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Keep go version in update-examples updated
  tools/upgrade-go-version.sh
Owners: @grafana/pyroscope-team

Update golang version to 1.24.11
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Fix update-examples after ruby upgrade (#4687)
  examples/language-sdk-instrumentation/ruby/rideshare/Dockerfile
  examples/language-sdk-instrumentation/ruby/simple/Dockerfile
  examples/tracing/ruby/Dockerfile
  tools/update_examples.Dockerfile
  tools/upgrade-go-version.sh
Owners: @grafana/pyroscope-team

chore(examples): update examples
  examples/language-sdk-instrumentation/python/rideshare/django/app/requirements.txt
  examples/language-sdk-instrumentation/python/rideshare/fastapi/Dockerfile
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/python/simple/requirements.txt
  examples/language-sdk-instrumentation/ruby/rideshare/Gemfile.lock
  examples/language-sdk-instrumentation/ruby/simple/Gemfile.lock
Owners: @grafana/pyroscope-team

chore: Ensure files copied in are writeable in ruby/simple example
  examples/language-sdk-instrumentation/ruby/simple/Dockerfile
Owners: @grafana/pyroscope-team

feat: Add trace spans for exemplars and profile ID selectors
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder.go
  pkg/querybackend/query.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_tree.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

chore: Ensure files copied in are writeable in ruby/simple example (#4690)
  examples/language-sdk-instrumentation/ruby/simple/Dockerfile
Owners: @grafana/pyroscope-team

feat: Add trace spans for exemplars and profile ID selectors (#4686)
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder.go
  pkg/querybackend/query.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_tree.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

lidia: dynsym symbols
  lidia/lidia.go
  lidia/lidia_test.go
  lidia/testdata/libfib.so
Owners: @korniltsev, @marcsanmi

review fixes
  lidia/lidia.go
  lidia/lidia_test.go
Owners: @korniltsev, @marcsanmi

lidia: dynsym symbols (#4691)
  lidia/lidia.go
  lidia/lidia_test.go
  lidia/testdata/libfib.so
Owners: @korniltsev, @marcsanmi

address review
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @aleks-p

Update to Go 1.25.5
  api/go.mod
  go.mod
  go.work
  lidia/go.mod
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @korniltsev

Use generative AI to create architecture docs from markdown
  docs/sources/reference-pyroscope-v2-architecture/_index.md
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/index.md
  docs/sources/reference-pyroscope-v2-architecture/compaction/index.md
  docs/sources/reference-pyroscope-v2-architecture/components/_index.md
  docs/sources/reference-pyroscope-v2-architecture/components/compaction-worker.md
  docs/sources/reference-pyroscope-v2-architecture/components/distributor.md
  docs/sources/reference-pyroscope-v2-architecture/components/metastore/index.md
  docs/sources/reference-pyroscope-v2-architecture/components/query-backend.md
  docs/sources/reference-pyroscope-v2-architecture/components/query-frontend.md
  docs/sources/reference-pyroscope-v2-architecture/components/segment-writer.md
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/index.md
  docs/sources/reference-pyroscope-v2-architecture/deployment-modes/index.md
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

This shouldn't become a roadmap
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/index.md
  docs/sources/reference-pyroscope-v2-architecture/components/query-backend.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Follow the writers-toolkit style guides
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/index.md
  docs/sources/reference-pyroscope-v2-architecture/compaction/index.md
  docs/sources/reference-pyroscope-v2-architecture/components/_index.md
  docs/sources/reference-pyroscope-v2-architecture/components/compaction-worker.md
  docs/sources/reference-pyroscope-v2-architecture/components/distributor.md
  docs/sources/reference-pyroscope-v2-architecture/components/metastore/index.md
  docs/sources/reference-pyroscope-v2-architecture/components/query-backend.md
  docs/sources/reference-pyroscope-v2-architecture/components/query-frontend.md
  docs/sources/reference-pyroscope-v2-architecture/components/segment-writer.md
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/index.md
  docs/sources/reference-pyroscope-v2-architecture/deployment-modes/index.md
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Add mermaid images and generation
  docs/Makefile
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/architecture-overview.mermaid
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/architecture-overview.svg
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/index.md
  docs/sources/reference-pyroscope-v2-architecture/compaction/compaction-sequence.mermaid
  docs/sources/reference-pyroscope-v2-architecture/compaction/compaction-sequence.svg
  docs/sources/reference-pyroscope-v2-architecture/compaction/index.md
  docs/sources/reference-pyroscope-v2-architecture/compaction/job-status-lifecycle.mermaid
  docs/sources/reference-pyroscope-v2-architecture/compaction/job-status-lifecycle.svg
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/index.md
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/placement-flow.mermaid
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/placement-flow.svg
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/shard-placement.mermaid
  docs/sources/reference-pyroscope-v2-architecture/data-distribution/shard-placement.svg
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/cleanup-sequence.mermaid
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/cleanup-sequence.svg
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/index-write-sequence.mermaid
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/index-write-sequence.svg
  docs/sources/reference-pyroscope-v2-architecture/metadata-index/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Tone down warning
  docs/sources/reference-pyroscope-v2-architecture/about-pyroscope-v2-architecture/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Adapt size of state diagram
  docs/sources/reference-pyroscope-v2-architecture/compaction/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Fix code blocks code generation
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Missing labels updates to sample groups in `VisitSampleSeries`
  pkg/model/pprofsplit/pprof_split.go
Owners: @korniltsev, @bryanhuhta

Check if left/right queries are nil before attempting to log them
  pkg/util/spanlogger/query_log.go
Owners: @grafana/pyroscope-team

Set left/right queries to default if nil
  pkg/frontend/frontend_diff.go
  pkg/frontend/readpath/queryfrontend/query_diff.go
Owners: @marcsanmi, @bryanhuhta

Fix error codes
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
Owners: @marcsanmi, @bryanhuhta

Check for zero step size
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
Owners: @marcsanmi, @bryanhuhta

Reject /LabelValues requests with no name
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/querier/querier.go
Owners: @marcsanmi, @bryanhuhta

Add tests to check for status codes
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

fix: Missing labels updates to sample groups in `VisitSampleSeries` (#4695)
  pkg/model/pprofsplit/pprof_split.go
Owners: @korniltsev, @bryanhuhta

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
