Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

Fixed lints
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

feat: add OTLP canary query (#4488)
  .vscode/launch.json
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
  pkg/ingester/otlp/convert.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

Added HTTP/json and HTTP/protobuf OTLP ingestion
  pkg/api/api.go
  pkg/ingester/otlp/ingest_handler.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

fix: add otlp stub creation back for unsymbolized profiles
  pkg/ingester/otlp/convert.go
Owners: @alsoba13, @korniltsev

Add http/json+http/protobuf ingestion with canary
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
  pkg/ingester/otlp/ingest_handler.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

fix tests
  pkg/ingester/otlp/convert.go
  pkg/ingester/otlp/testdata/TestConversionOffCpu.json
  pkg/ingester/otlp/testdata/TestSampleAttributes.json
  pkg/ingester/otlp/testdata/TestSymbolizedFunctionNames.json
Owners: @alsoba13, @korniltsev

Updated endpoint path to match OTLP
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
  pkg/api/api.go
Owners: @grafana/pyroscope-team

Add OTLP HTTP/json and HTTP/protobuf ingestion (#4495)
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
  pkg/api/api.go
  pkg/ingester/otlp/ingest_handler.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

fix distributor sampling rule processing priority
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @aleks-p, @alsoba13

fix distributor sampling rule processing priority (#4491)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
Owners: @aleks-p, @alsoba13

feat: add health check/warmup to segmentwriter to reduce first-write latency (#4453)
  pkg/segmentwriter/service.go
Owners: @alsoba13, @korniltsev

Speculative improvement of handling of unsymbolized profiles
  pkg/ingester/otlp/convert.go
Owners: @alsoba13, @korniltsev

feat: Implement utf8 label name client capability (#4442)
  pkg/featureflags/client_capability.go
  pkg/featureflags/client_capability_test.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/frontend/readpath/queryfrontend/query_label_names.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/pyroscope/modules.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @aleks-p

Update reference configuration doc
  docs/sources/configure-server/reference-configuration-parameters/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Format
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team

Update feature flags
  pkg/pyroscope/feature_flags.go
Owners: @grafana/pyroscope-team

Skip label name sanitization if utf8 label names enabled
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @aleks-p, @alsoba13, @marcsanmi

Fix `TestHelp`
  cmd/pyroscope/help-all.txt.tmpl
Owners: @grafana/pyroscope-team

Add setting to enable/disable utf 8 label names
  pkg/featureflags/client_capability.go
  pkg/featureflags/client_capability_test.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team

Use `allow-utf8-labelnames` client capability in UI
  public/app/components/TagsBar.tsx
  public/app/services/base.ts
  public/app/util/query.ts
Owners: @grafana/pyroscope-team

Updates to support local UI dev
  package.json
  public/README.md
  scripts/webpack/webpack.dev.js
  yarn.lock
Owners: @grafana/pyroscope-team

Remove spacing after semicolon
  cmd/profilecli/client.go
Owners: @grafana/pyroscope-team

Use `allow-utf8-labelnames` client capability in profilecli
  cmd/profilecli/client.go
  cmd/profilecli/client_test.go
Owners: @grafana/pyroscope-team

Update deprecated function call
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

fix: Handle utf-8 matchers correctly
  pkg/frontend/readpath/queryfrontend/compat.go
  pkg/frontend/readpath/queryfrontend/compat_test.go
Owners: @marcsanmi, @bryanhuhta

Only quote label names when necessary
  public/app/components/TagsBar.tsx
  public/app/util/query.ts
Owners: @grafana/pyroscope-team

Add TenantService.GetTenants to the metastore, for admin purposes
  api/gen/proto/go/metastore/v1/metastorev1connect/tenant.connect.go
  api/gen/proto/go/metastore/v1/metastorev1connect/tenant.connect.mux.go
  api/gen/proto/go/metastore/v1/tenant.pb.go
  api/gen/proto/go/metastore/v1/tenant_vtproto.pb.go
  api/metastore/v1/tenant.proto
  api/openapiv2/gen/phlare.swagger.json
  pkg/metastore/client/methods.go
  pkg/metastore/client/server_mock_test.go
  pkg/metastore/index/index.go
  pkg/metastore/tenant_service.go
  pkg/test/mocks/mockmetastorev1/mock_tenant_service_client.go
  pkg/test/mocks/mockmetastorev1/mock_tenant_service_server.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

Add admin page to list blocks for v2
  pkg/api/api.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/time.go
  pkg/operations/v2/tool.blocks.detail.gohtml
  pkg/operations/v2/tool.blocks.index.gohtml
  pkg/operations/v2/tool.blocks.list.gohtml
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team

Print labels, remove block stats
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/tool.blocks.detail.gohtml
Owners: @grafana/pyroscope-team

Add dataset details page
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.detail.gohtml
Owners: @grafana/pyroscope-team

Cleanup
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.detail.gohtml
  pkg/operations/v2/tool.blocks.index.gohtml
  pkg/pyroscope/modules_experimental.go
Owners: @grafana/pyroscope-team

Improve block and dataset details
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.detail.gohtml
Owners: @grafana/pyroscope-team

Improve block and dataset details
  pkg/api/api.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.detail.gohtml
Owners: @grafana/pyroscope-team

Some more cleanup
  pkg/operations/v2/model.go
  pkg/operations/v2/time.go
Owners: @grafana/pyroscope-team

Sort tenants
  pkg/operations/v2/handlers.go
Owners: @grafana/pyroscope-team

Format
  public/app/components/TagsBar.tsx
Owners: @grafana/pyroscope-team

feat: Add `client_capability_enabled_total` counter in ClientCapability middleware
  pkg/featureflags/client_capability.go
  pkg/pyroscope/modules.go
Owners: @grafana/pyroscope-team

Use OpenJ9 java vm
  examples/grafana-alloy-auto-instrumentation/java/docker/config.alloy
  examples/grafana-alloy-auto-instrumentation/java/docker/java.Dockerfile
Owners: @grafana/pyroscope-team

Improved handling of mixed symbolization cases
  pkg/ingester/otlp/convert.go
Owners: @alsoba13, @korniltsev

feat: Speculative improvement of handling of mixed OTLP profiles (#4470)
  pkg/ingester/otlp/convert.go
Owners: @alsoba13, @korniltsev
