Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Allocate nodes in one piece
  pkg/model/stacktraces.go
  pkg/model/tree.go
Owners: @korniltsev, @bryanhuhta

Preallocate hash slices for worst case
  pkg/phlaredb/symdb/symbol_merger.go
Owners: @simonswine, @korniltsev

Expect ID in output
  pkg/phlaredb/symdb/symbol_merger_test.go
Owners: @simonswine, @korniltsev

Set pre-push as default hook in `.pre-commit-config.yaml` (#4803)
  .pre-commit-config.yaml
Owners: @grafana/pyroscope-team

Fix renovate config
  renovate.json
Owners: @grafana/pyroscope-team

Rollback unintended change
  cmd/profilecli/client.go
Owners: @grafana/pyroscope-team

Update golang version to 1.24.13
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Collect and store query diagnostics
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
  cmd/profilecli/client.go
  cmd/profilecli/query.go
  pkg/api/api.go
  pkg/api/api_experimental.go
  pkg/api/connect_options.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/diagnostics_list.gohtml
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @bryanhuhta

admin(v2): query diagnostics
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Add execution trace UIi
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/querybackend/backend.go
  pkg/querybackend/block_reader.go
  pkg/querybackend/query.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta

Convert admin query diagnostics page to use React
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/diagnostics_list.gohtml
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/admin/static/styles.css
  pkg/frontend/readpath/queryfrontend/admin/static/util.js
  pkg/frontend/readpath/queryfrontend/admin/tree.go
  public/app/admin/admin.tsx
  public/app/admin/components/ExecutionTraceViewer.tsx
  public/app/admin/components/ExecutionTreeNode.tsx
  public/app/admin/components/Header.tsx
  public/app/admin/components/PlanTreeNode.tsx
  public/app/admin/components/QueryForm.tsx
  public/app/admin/components/QueryPlanViewer.tsx
  public/app/admin/pages/DiagnosticsListPage.tsx
  public/app/admin/pages/QueryDiagnosticsPage.tsx
  public/app/admin/services/api.ts
  public/app/admin/styles.css
  public/app/admin/types.ts
  public/app/admin/utils.ts
  scripts/webpack/webpack.common.js
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Move query requests to the browser
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/diagnostics_list.gohtml
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/admin/static/styles.css
  pkg/frontend/readpath/queryfrontend/admin/static/util.js
  pkg/frontend/readpath/queryfrontend/admin/tree.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
  pkg/pyroscope/modules_experimental.go
  pkg/querybackend/backend.go
  pkg/querybackend/block_reader.go
  pkg/querybackend/report_aggregator.go
  pkg/querybackend/report_aggregator_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @aleks-p

Switch to React Flow for the execution trace
  package.json
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  public/app/admin/admin.tsx
  public/app/admin/components/ExecutionFlowGraph.tsx
  public/app/admin/components/ExecutionTraceViewer.tsx
  public/app/admin/components/Header.tsx
  public/app/admin/pages/DiagnosticsListPage.tsx
  public/app/admin/pages/QueryDiagnosticsPage.tsx
  public/app/admin/services/api.ts
  public/app/admin/styles.css
  public/app/admin/utils.ts
  yarn.lock
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Animate query execution
  public/app/admin/components/ExecutionFlowGraph.tsx
  public/app/admin/components/ExecutionTraceViewer.tsx
  public/app/admin/styles.css
  public/app/admin/utils.ts
Owners: @grafana/pyroscope-team

Fix lint error
  pkg/frontend/readpath/queryfrontend/admin/admin.go
Owners: @marcsanmi, @bryanhuhta

Clean up unused bits
  cmd/profilecli/client.go
  cmd/profilecli/query.go
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Cleanup some more
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/pyroscope/modules_experimental.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @grafana/pyroscope-team

Switch to default (bezier) edge type
  public/app/admin/components/ExecutionFlowGraph.tsx
Owners: @grafana/pyroscope-team

Simplify endpoint
  pkg/frontend/readpath/queryfrontend/admin/admin.go
Owners: @marcsanmi, @bryanhuhta

Fix potential issue when migrating from v1 to v2
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  public/app/admin/components/ExecutionFlowGraph.tsx
Owners: @marcsanmi, @bryanhuhta, @grafana/pyroscope-team

Fix lint errors
  .prettierignore
  public/app/admin/components/ExecutionFlowGraph.tsx
  public/app/admin/components/ExecutionTraceViewer.tsx
  public/app/admin/components/QueryForm.tsx
  public/app/admin/components/QueryPlanViewer.tsx
  public/app/admin/pages/DiagnosticsListPage.tsx
  public/app/admin/pages/QueryDiagnosticsPage.tsx
  public/app/admin/services/api.ts
  public/app/admin/styles.css
  public/app/admin/utils.ts
Owners: @grafana/pyroscope-team

Flush diagnostics in the background
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
Owners: @marcsanmi, @bryanhuhta

Move query diagnostics to the admin component
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/diagnostics/client_wrapper.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/operations/v2/blocks/admin.go
  pkg/operations/v2/blocks/dataset_handlers.go
  pkg/operations/v2/blocks/handlers.go
  pkg/operations/v2/blocks/model.go
  pkg/operations/v2/blocks/pages.go
  pkg/operations/v2/blocks/profile_handlers.go
  pkg/operations/v2/blocks/time.go
  pkg/operations/v2/blocks/tool.blocks.dataset.gohtml
  pkg/operations/v2/blocks/tool.blocks.dataset.index.gohtml
  pkg/operations/v2/blocks/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/blocks/tool.blocks.dataset.symbols.gohtml
  pkg/operations/v2/blocks/tool.blocks.detail.gohtml
  pkg/operations/v2/blocks/tool.blocks.index.gohtml
  pkg/operations/v2/blocks/tool.blocks.list.gohtml
  pkg/operations/v2/blocks/tool.blocks.profile.call.tree.gohtml
  pkg/operations/v2/blocks/tool.pagination.gohtml
  pkg/operations/v2/querydiagnostics/admin.go
  pkg/operations/v2/querydiagnostics/diagnostics_list.gohtml
  pkg/operations/v2/querydiagnostics/pages.go
  pkg/operations/v2/querydiagnostics/query_diagnostics.gohtml
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
  public/app/admin/services/api.ts
  public/app/admin/utils.ts
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Improve diagnostics handling in profilecli
  cmd/profilecli/client.go
  cmd/profilecli/query.go
  pkg/frontend/readpath/queryfrontend/diagnostics/client_wrapper.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Update golang version to 1.24.13 (#4808)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Address review
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attributetable/attributetable.go
  pkg/model/heatmap/range.go
  pkg/model/timeseries/merger.go
  pkg/model/timeseries/range_test.go
  pkg/model/timeseries/timeseries.go
  pkg/model/timeseriescompact/aggregator.go
  pkg/model/timeseriescompact/aggregator_test.go
  pkg/model/timeseriescompact/timeseriescompact.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev

chore: Allow to control mounting of shared volume
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/templates/deployments-statefulsets.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
  operations/pyroscope/jsonnet/values.json
Owners: @grafana/pyroscope-team

chore(deps): Add Renovate rules for managing Makefile dependencies (#4781)
  renovate.json
Owners: @grafana/pyroscope-team

chore: Allow to control mounting of shared volume (#4809)
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/templates/deployments-statefulsets.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
  operations/pyroscope/jsonnet/values.json
Owners: @grafana/pyroscope-team

Update heatmap group_by and centralise logic into attributetable
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attributetable/attributetable.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev

feat: /ingest accept metric name
  go.work.sum
  pkg/ingester/pyroscope/ingest_handler.go
  pkg/og/convert/pprof/profile.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev, @bryanhuhta

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
