Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Pin `node` to v23 in examples until latest (v25) is supported
  examples/language-sdk-instrumentation/nodejs/express-pull/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express/Dockerfile
  examples/language-sdk-instrumentation/nodejs/tinyhttp/Dockerfile
Owners: @grafana/pyroscope-team

Simplify canary-exporter label check to "at least these labels"
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Remove count check
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Pin `node` to v23 in examples until latest (v25) is supported (#4561)
  examples/language-sdk-instrumentation/nodejs/express-pull/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express/Dockerfile
  examples/language-sdk-instrumentation/nodejs/tinyhttp/Dockerfile
Owners: @grafana/pyroscope-team

Remove now-unneeded sort
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Simplify canary-exporter label check to "at least these labels" (#4562)
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Add basic tracing to metastore endpoints
  pkg/metastore/compaction_service.go
  pkg/metastore/index_service.go
  pkg/metastore/query_service.go
  pkg/metastore/tenant_service.go
Owners: @aleks-p

chore(helm): replace minio with seaweedfs for object storage
  operations/pyroscope/helm/pyroscope/Chart.lock
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/charts/minio-4.1.0.tgz
  operations/pyroscope/helm/pyroscope/charts/seaweedfs-4.0.393.tgz
Owners: @grafana/pyroscope-team

Dependencies update: pt1
  go.mod
  go.sum
  go.work.sum
Owners: @grafana/pyroscope-team

Update vendoring
  api/go.mod
  api/go.sum
  go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

Update grpc go package
  go.mod
  go.sum
  go.work.sum
Owners: @grafana/pyroscope-team

More packages, make go/mod
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

chore: Dependencies update pt1 (#4566)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

chore: Update dependencies pt2
  go.mod
  go.sum
Owners: @grafana/pyroscope-team

Update sony/gobreaker
  go.mod
  go.sum
Owners: @grafana/pyroscope-team

Update github.com/samber/lo
  go.mod
  go.sum
Owners: @grafana/pyroscope-team

feat(v2): add admin page for inspecting the symbols db
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
Owners: @grafana/pyroscope-team

Cover new metric in existing test
  pkg/metastore/index/dlq/recovery_test.go
Owners: @aleks-p

Add a basic metric for metastore DLQ recovery
  pkg/metastore/index/dlq/metrics.go
  pkg/metastore/index/dlq/recovery.go
  pkg/metastore/index/dlq/recovery_test.go
  pkg/metastore/metastore.go
  pkg/segmentwriter/segment_test.go
Owners: @aleks-p, @alsoba13, @korniltsev

Add debug log for blocks successfully added to the DLQ
  pkg/segmentwriter/segment.go
Owners: @alsoba13, @korniltsev

Update go version and gnostic
  Makefile
  api/go.mod
  api/go.sum
  examples/golang-pgo/go.mod
  examples/golang-pgo/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/go.work
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/go.work
  examples/tracing/golang-push/go.mod
  examples/tracing/golang-push/go.work
  go.mod
  go.sum
  go.work
  go.work.sum
  lidia/go.mod
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p, @korniltsev

Add tracing to Raft and boltdb
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/context_registry.go
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/metrics.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/index_service.go
  pkg/metastore/metastore_raft.go
  pkg/metastore/raftnode/node.go
Owners: @aleks-p

fix: Handle Speedscope sample types in ingestion
  pkg/ingester/pyroscope/ingest_adapter.go
  pkg/test/integration/helper.go
  pkg/test/integration/ingest_speedscope_test.go
Owners: @alsoba13, @korniltsev, @grafana/pyroscope-team

Remove unused params
  pkg/test/integration/ingest_speedscope_test.go
Owners: @grafana/pyroscope-team

Add a basic metric for metastore DLQ recovery (#4563)
  pkg/metastore/index/dlq/metrics.go
  pkg/metastore/index/dlq/recovery.go
  pkg/metastore/index/dlq/recovery_test.go
  pkg/metastore/metastore.go
  pkg/segmentwriter/segment.go
  pkg/segmentwriter/segment_test.go
Owners: @aleks-p, @alsoba13, @korniltsev

Add tracing to Raft and boltdb (part 2)
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/index/index.go
  pkg/metastore/index/index_bench_test.go
  pkg/metastore/index/index_test.go
  pkg/metastore/index/query_test.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/index_service.go
  pkg/metastore/query_service.go
  pkg/metastore/tenant_service.go
Owners: @aleks-p

feat(v2): add admin page for inspecting the symbols db (#4560)
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
Owners: @grafana/pyroscope-team

Simplify tracing for Raft handlers
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/tracing.go
Owners: @aleks-p

Fix linter errors
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/index/index.go
  pkg/metastore/index/index_bench_test.go
  pkg/metastore/index/index_test.go
  pkg/metastore/index/query_test.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/tracing.go
Owners: @aleks-p

Add even more tracing
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tracing/util.go
Owners: @aleks-p

Remove GO_MOD_VERSION to reduce maintenance burden
  Makefile
Owners: @grafana/pyroscope-team

Update Renovate config: allow major updates
  renovate.json
Owners: @grafana/pyroscope-team

chore: Renovate: allow updates in examples
  renovate.json
Owners: @grafana/pyroscope-team

chore: Renovate: allow auto-merging of patches
  renovate.json
Owners: @grafana/pyroscope-team

Ignore automerge preset
  renovate.json
Owners: @grafana/pyroscope-team

chore: Renovate: allow updates in examples (#4571)
  renovate.json
Owners: @grafana/pyroscope-team

chore: Renovate: allow major updates (#4572)
  renovate.json
Owners: @grafana/pyroscope-team

chore: Update dependencies pt2 (#4567)
  Makefile
  api/go.mod
  api/go.sum
  examples/golang-pgo/go.mod
  examples/golang-pgo/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.work
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/go.work
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/go.work
  examples/tracing/golang-push/go.mod
  examples/tracing/golang-push/go.work
  go.mod
  go.sum
  go.work
  go.work.sum
  lidia/go.mod
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p, @korniltsev

chore: Renovate: allow auto-merging of patches (#4570)
  renovate.json
Owners: @grafana/pyroscope-team

Revert Renovate base config as the base config is in private repo
  renovate.json
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
