Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

fix: Cherry pick integration test fix from main
  pkg/test/integration/microservices_test.go
Owners: @grafana/pyroscope-team

Don't 500 on bad profile types (#4537)
  .gitignore
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/profile.go
  pkg/model/profile_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @korniltsev

feat(v2): add admin page to list, visualize and download profiles
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
  pkg/operations/v2/tool.pagination.gohtml
  pkg/pyroscope/modules_experimental.go
Owners: @grafana/pyroscope-team

Don't 500 on bad profile types (#4537) (#4542)
  .gitignore
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/profile.go
  pkg/model/profile_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @korniltsev

Reenable OTLP HTTP canary exporter
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

fix: add proper permissions to update-make-docs workflow
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

fix: not missing recording rules symbols by relaxing ObserveSymbols condition
  pkg/block/compaction_test.go
  pkg/block/testdata/profiles_recorded.txt
  pkg/block/testdata/profiles_recorded_shadowed.txt
  pkg/metrics/observer.go
Owners: @simonswine, @marcsanmi, @alsoba13, @grafana/pyroscope-team

fix: Fix `go get` in `update-examples-cron.yml`
  Makefile.examples
  tools/update_examples.go
Owners: @grafana/pyroscope-team

fix: Fix `go get` in `update-examples-cron.yml` (#4547)
  Makefile.examples
  tools/update_examples.go
Owners: @grafana/pyroscope-team

Remove obsolete comment
  cmd/profilecli/canary_exporter.go
Owners: @grafana/pyroscope-team

Reenable OTLP HTTP canary exporter (#4544)
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

fix: use github nodes to update-make-docs workflow
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Revert "fix: use github nodes to update-make-docs workflow"
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Keep auth
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

add write permission
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Allow PR creation
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Update `make docs` procedure
  docs/docs.mk
  docs/make-docs
Owners: @jdbaldry

Use app token instead
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Fix url setting
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Update `make docs` procedure
  docs/docs.mk
  docs/make-docs
Owners: @jdbaldry

fix: use github app to update-make-docs workflow (#4548)
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Update `make docs` procedure
  docs/docs.mk
  docs/make-docs
Owners: @jdbaldry

fix: not missing recording rules symbols by relaxing ObserveSymbols condition (#4545)
  pkg/block/compaction_test.go
  pkg/block/testdata/profiles_recorded.txt
  pkg/block/testdata/profiles_recorded_shadowed.txt
  pkg/metrics/observer.go
Owners: @simonswine, @marcsanmi, @alsoba13, @grafana/pyroscope-team

fix: Ensure to build the same architecture image, as the current machine
  Makefile
Owners: @grafana/pyroscope-team

fix: Redirect to admin pages when no query API available
  pkg/api/api.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team

make the minStepDuration of the querier configurable per tenant from limits configuration
  pkg/api/api.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/timeline/calculator.go
  pkg/querier/timeline/calculator_test.go
  pkg/validation/limits.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

fix CI
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
  docs/sources/configure-server/reference-configuration-parameters/index.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

feat(v2): add admin page to list, visualize and download profiles (#4543)
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
  pkg/operations/v2/tool.pagination.gohtml
  pkg/pyroscope/modules_experimental.go
Owners: @grafana/pyroscope-team

feat(v2): add admin page for inspecting TSDB indices
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.index.gohtml
Owners: @grafana/pyroscope-team

fix: Redirect to admin pages when no query API available (#4553)
  pkg/api/api.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team

fix: Ensure to build the same architecture image, as the current machine (#4552)
  Makefile
Owners: @grafana/pyroscope-team

fix panic in ad-hoc profile upload
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/og/structs/flamebearer/convert/convert_test.go
Owners: @grafana/pyroscope-team

Fix incorrect multitenancy header handling in new HTTP OTLP endpoint
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

Fixed dangling conjunction
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

fix: golang-push examples test
  examples/language-sdk-instrumentation/golang-push/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/golang-push/rideshare/grafana-provisioning/datasources/pyroscope.yml
  examples/language-sdk-instrumentation/golang-push/rideshare/prometheus-provisioning/prometheus.yaml
Owners: @grafana/pyroscope-team

fix: golang-push examples test (#4558)
  examples/language-sdk-instrumentation/golang-push/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/golang-push/rideshare/grafana-provisioning/datasources/pyroscope.yml
  examples/language-sdk-instrumentation/golang-push/rideshare/prometheus-provisioning/prometheus.yaml
Owners: @grafana/pyroscope-team

Added test covering new auth handling
  pkg/ingester/otlp/ingest_handler_auth_test.go
Owners: @alsoba13, @korniltsev

fix panic in ad-hoc profile upload (#4556)
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/og/structs/flamebearer/convert/convert_test.go
Owners: @grafana/pyroscope-team

feat(v2): add admin page for inspecting TSDB indices (#4555)
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.index.gohtml
Owners: @grafana/pyroscope-team

fix: incorrect multitenancy header handling in new HTTP OTLP endpoint (#4559)
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_auth_test.go
Owners: @alsoba13, @korniltsev
