Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

chore: Update OpenTelemetry dependencies proto=v1.9.0 profiles=v0.2.0 (#4731)
  cmd/profilecli/canary_exporter_probes.go
  go.mod
  go.sum
  go.work.sum
  pkg/ingester/otlp/convert.go
  pkg/ingester/otlp/ingest_handler_test.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

Implement comprehensive profile size limits across ingestion endpoints (#4734)
  pkg/adhocprofiles/adhocprofiles.go
  pkg/adhocprofiles/adhocprofiles_test.go
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_api_test.go
  pkg/distributor/distributor_test.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/ingester/pyroscope/ingest_adapter.go
  pkg/ingester/pyroscope/ingest_handler_test.go
  pkg/og/convert/jfr/profile.go
  pkg/og/convert/pprof/decoder.go
  pkg/og/convert/pprof/profile.go
  pkg/og/convert/pprof/profile_test.go
  pkg/og/ingestion/ingestion.go
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/og/structs/flamebearer/convert/convert_bench_test.go
  pkg/og/structs/flamebearer/convert/convert_test.go
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
  pkg/pyroscope/modules_experimental.go
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/debuginfod_client_test.go
  pkg/symbolizer/reader.go
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
  pkg/validation/symbolizer.go
Owners: @grafana/pyroscope-team, @aleks-p, @alsoba13, @korniltsev, @bryanhuhta, @marcsanmi

WIP: Allow retrieving heatmap from spans/individual profiles
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.mux.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_select_time_series.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/router.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/iterator.go
  pkg/model/heatmap/merger.go
  pkg/model/heatmap/points_builder.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/querier/querier.go
  pkg/querybackend/query_heatmap.go
  pkg/util/spanlogger/query_log.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta, @korniltsev

Fix series with groupBy
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
Owners: @korniltsev, @bryanhuhta

Implement exemplars for heatmap
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Support exemplars and series limit
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/model/heatmap/top.go
  pkg/querybackend/query_heatmap.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev

chore: fix regression in main
  pkg/distributor/distributor_api_test.go
Owners: @aleks-p, @alsoba13

chore: fix regression in main (#4738)
  pkg/distributor/distributor_api_test.go
Owners: @aleks-p, @alsoba13

chore(examples): update examples
  api/go.mod
  api/go.sum
  lidia/go.mod
  lidia/go.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev

Implement exemplars for heatmap
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Log query parameters
  pkg/util/spanlogger/query_log.go
Owners: @grafana/pyroscope-team

WIP: Allow retrieving heatmap from spans/individual profiles
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.mux.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_select_time_series.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/router.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/iterator.go
  pkg/model/heatmap/merger.go
  pkg/model/heatmap/points_builder.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/querier/querier.go
  pkg/querybackend/query_heatmap.go
  pkg/util/spanlogger/query_log.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta, @korniltsev

Use the correct string representation of span IDs
  pkg/model/heatmap/range.go
Owners: @korniltsev, @bryanhuhta

Support exemplars and series limit
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/model/heatmap/top.go
  pkg/querybackend/query_heatmap.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev

Fix series with groupBy
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
Owners: @korniltsev, @bryanhuhta

Remove unused message
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Remove unused fields, make lint happy
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/querier/http_test.go
  pkg/test/mocks/mockquerierv1connect/mock_querier_service_client.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team

Some more linting
  api/query/v1/query.proto
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/iterator.go
  pkg/model/heatmap/range_test.go
  pkg/querybackend/query_heatmap.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Fix bug, keys/values mix up
  pkg/model/heatmap/heatmap.go
Owners: @korniltsev, @bryanhuhta

Panic if attribute length mismatch
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

Avoid empty exemplars
  pkg/model/heatmap/range.go
Owners: @korniltsev, @bryanhuhta

Fix bug in the points builder
  pkg/model/heatmap/points_builder.go
  pkg/model/heatmap/points_builder_test.go
Owners: @korniltsev, @bryanhuhta

fmt
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

fix: Re-enable defaults for /render `from` and `until` parameters
  pkg/querier/http.go
  pkg/querier/http_test.go
Owners: @marcsanmi

Remove tests
  pkg/test/integration/http_status_codes_test.go
Owners: @grafana/pyroscope-team

Remove .github/workflows/update-make-docs.yml
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Update goreleaser and use it to push weekly builds (#4719)
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  Makefile
Owners: @grafana/pyroscope-team

chore: Publish Github releases immediately during release process (#4720)
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  docs/internal/RELEASE.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

fix: Re-enable defaults for /render `from` and `until` parameters (#4745)
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/test/integration/http_status_codes_test.go
Owners: @marcsanmi, @grafana/pyroscope-team

fix: Re-enable defaults for /render `from` and `until` parameters (#4745)
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/test/integration/http_status_codes_test.go
Owners: @marcsanmi, @grafana/pyroscope-team

docs: Update release notes
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Set IMAGE_PUBLISH_LATEST=false for patch release
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

Pyroscope 1.17.1 release (#4748)
  .github/workflows/release.yml
  docs/sources/release-notes/v1-17.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

fix: pass `$IMAGE_TAG` directly to Goreleaser
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

fix: pass `$IMAGE_TAG` directly to Goreleaser (#4749)
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

fix: pass `$IMAGE_TAG` directly to Goreleaser (#4749)
  .github/workflows/release.yml
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

chore: Bump Helm charts
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: Bump Helm charts (#4751)
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

Code generation
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.6.0.tgz
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.7.1.tgz
Owners: @grafana/pyroscope-team

Code generation
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/charts/alloy-1.4.0.tgz
  operations/pyroscope/helm/pyroscope/charts/alloy-1.5.1.tgz
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
