Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# area/read-path
/pkg/experiment/query_backend/ @marcsanmi @aleks-p
/pkg/experiment/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/experiment/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/experiment/distributor/ @alsoba13 @korniltsev
/pkg/experiment/ingester/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprof_split/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/experiment/compactor/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/experiment/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

Update generated files
  api/openapiv2/gen/phlare.swagger.json
Owners: @simonswine, @marcsanmi, @aleks-p

Revert "perf(v2): optimize compaction planning"
  pkg/experiment/metastore/compaction/compactor/compaction_queue.go
  pkg/experiment/metastore/compaction/compactor/compactor.go
  pkg/experiment/metastore/compaction/compactor/plan.go
  pkg/experiment/metastore/compaction/compactor/plan_test.go
Owners: @aleks-p

Fix segment-writer test
  pkg/experiment/ingester/segment_test.go
Owners: @alsoba13, @korniltsev

Format protobuf files
  api/metastore/v1/compactor.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Fix TestIndex_RestoreTimeBasedLoading
  pkg/experiment/metastore/index/index.go
  pkg/experiment/metastore/index/index_test.go
Owners: @aleks-p

Add BenchmarkIndex_GetTenantStats
  go.mod
  pkg/experiment/metastore/index/index_bench_test.go
  pkg/test/boltdb.go
Owners: @grafana/pyroscope-team, @aleks-p

Bump helm to v1.14.0
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

`make helm/docs`
  operations/pyroscope/helm/pyroscope/README.md
Owners: @grafana/pyroscope-team

Update helm chart version
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

Add 1.14 release docs
  docs/sources/release-notes/v1-14.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Add 1.14 release docs
  docs/sources/release-notes/v1-14.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore: Prepare for 1.14 release (#4269)
  docs/sources/release-notes/v1-14.md
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

reconfigure envVars
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/templates/deployments-statefulsets.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
Owners: @grafana/pyroscope-team

Remove test envVar
  operations/pyroscope/helm/pyroscope/values.yaml
Owners: @grafana/pyroscope-team

Fix indentation
  operations/pyroscope/helm/pyroscope/values.yaml
Owners: @grafana/pyroscope-team

add debug logs
  ebpf/bpf/profile.bpf.c
  ebpf/bpf/pyperf.bpf.c
  ebpf/pyrobpf/profile_arm64_bpfel.o
  ebpf/pyrobpf/profile_x86_bpfel.o
  ebpf/python/perf_arm64_bpfel.o
  ebpf/python/perf_x86_bpfel.o
  ebpf/sd/target.go
  ebpf/session.go
  ebpf/todo.txt
Owners: @korniltsev

perf(v2): initialize dataset segment head lazily
  pkg/experiment/ingester/segment.go
Owners: @alsoba13, @korniltsev

fix: add ingest request body size limit
  pkg/ingester/pyroscope/ingest_handler.go
  pkg/ingester/pyroscope/ingest_handler_test.go
Owners: @alsoba13, @korniltsev

Add tests for DeleteShard
  pkg/experiment/metastore/index/index_test.go
  pkg/experiment/metastore/index/store/index_store_test.go
Owners: @aleks-p

Refine interfaces
  api/gen/proto/go/metastore/v1/compactor.pb.go
  api/gen/proto/go/metastore/v1/compactor_vtproto.pb.go
  api/metastore/v1/compactor.proto
  api/openapiv2/gen/phlare.swagger.json
  go.mod
  pkg/experiment/metastore/index/cleaner/retention/retention.go
  pkg/experiment/metastore/index/cleaner/retention/retention_test.go
  pkg/experiment/metastore/index/cleaner/retention/time_based.go
  pkg/experiment/metastore/index/index_bench_test.go
  pkg/experiment/metastore/index/store/index_store_test.go
  pkg/experiment/metastore/index/store/partition.go
  pkg/experiment/metastore/index/store/shard.go
  pkg/experiment/metastore/index_raft_handler.go
  pkg/experiment/metastore/index_service.go
  pkg/experiment/metastore/tombstones/tombstone_queue.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

Add shard tombstone handling in compaction worker
  .mockery.yaml
  pkg/experiment/block/object.go
  pkg/experiment/compactor/metrics.go
  pkg/experiment/compactor/worker.go
  pkg/experiment/compactor/worker_test.go
  pkg/experiment/metastore/index/cleaner/cleaner.go
  pkg/experiment/metastore/index/cleaner/retention/retention.go
  pkg/test/mocks/mockindex/mock_store.go
  pkg/validation/limits.go
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @alsoba13, @aleks-p

Add tombstones gauge metric
  pkg/experiment/compactor/metrics.go
  pkg/experiment/compactor/worker.go
  pkg/experiment/metastore/index/cleaner/cleaner.go
  pkg/experiment/metastore/index/cleaner/retention/retention.go
  pkg/experiment/metastore/metastore.go
  pkg/experiment/metastore/tombstones/metrics.go
  pkg/experiment/metastore/tombstones/tombstones.go
  pkg/experiment/metastore/tombstones/tombstones_restore_test.go
  pkg/experiment/metastore/tombstones/tombstones_test.go
Owners: @alsoba13, @aleks-p

Refactor tombstones to index
  pkg/experiment/metastore/index/tombstones/metrics.go
  pkg/experiment/metastore/index/tombstones/store/tombstone_store.go
  pkg/experiment/metastore/index/tombstones/store/tombstone_store_test.go
  pkg/experiment/metastore/index/tombstones/tombstone_queue.go
  pkg/experiment/metastore/index/tombstones/tombstone_queue_test.go
  pkg/experiment/metastore/index/tombstones/tombstones.go
  pkg/experiment/metastore/index/tombstones/tombstones_restore_test.go
  pkg/experiment/metastore/index/tombstones/tombstones_test.go
  pkg/experiment/metastore/metastore.go
Owners: @aleks-p

Fix compaction worker native histograms
  pkg/experiment/compactor/metrics.go
Owners: @alsoba13

Fix tombstone queue checks
  pkg/experiment/metastore/index/tombstones/tombstone_queue.go
  pkg/experiment/metastore/index/tombstones/tombstone_queue_test.go
Owners: @aleks-p

Fix tombstone overwrite bug
  pkg/experiment/metastore/index/tombstones/store/tombstone_store.go
  pkg/experiment/metastore/index/tombstones/store/tombstone_store_test.go
  pkg/experiment/metastore/index/tombstones/tombstones_restore_test.go
Owners: @aleks-p

perf(v2): initialize dataset segment head lazily (#4274)
  pkg/experiment/ingester/segment.go
Owners: @alsoba13, @korniltsev

Improve logging
  pkg/experiment/compactor/worker.go
  pkg/experiment/metastore/index/cleaner/cleaner.go
  pkg/experiment/metastore/index/cleaner/retention/retention.go
Owners: @alsoba13, @aleks-p

docs: Update ride share tutorial documentation
  docs/sources/get-started/ride-share-tutorial.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Ignore overrides matching the default
  pkg/experiment/metastore/index/cleaner/retention/retention.go
Owners: @aleks-p

mroe logs
  ebpf/bpf/pyperf.bpf.c
  ebpf/python/perf_arm64_bpfel.o
  ebpf/python/perf_x86_bpfel.o
  ebpf/python/pyperf.go
  ebpf/sd/target.go
  ebpf/session.go
Owners: @korniltsev

Make cleanup async in workers
  pkg/experiment/compactor/worker.go
Owners: @alsoba13

Set default retention period to 31d
  pkg/experiment/metastore/index/cleaner/retention/retention.go
  pkg/validation/limits.go
  pkg/validation/retention_overrides_test.go
Owners: @aleks-p, @marcsanmi

chore: limit body size for /ingest
  pkg/api/api.go
  pkg/api/register_options.go
  pkg/ingester/pyroscope/ingest_handler.go
  pkg/util/body/limit.go
  pkg/util/body/limit_test.go
  pkg/validation/limits.go
  pkg/validation/validate.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev, @marcsanmi, @aleks-p

small fixes
  pkg/api/register_options.go
  pkg/util/body/limit_test.go
  pkg/validation/limits.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

fixing help-all
  cmd/pyroscope/help-all.txt.tmpl
Owners: @grafana/pyroscope-team

Improve worker shutdown handling
  pkg/experiment/compactor/worker.go
  pkg/experiment/compactor/worker_test.go
Owners: @alsoba13

fix: array order corruption
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @marcsanmi, @aleks-p

adding more tests
  pkg/ingester/pyroscope/ingest_handler_test.go
  pkg/util/body/limit_test.go
  pkg/validation/limits.go
  pkg/validation/testutil.go
Owners: @alsoba13, @korniltsev, @grafana/pyroscope-team, @marcsanmi, @aleks-p

typo
  pkg/ingester/pyroscope/ingest_handler_test.go
Owners: @alsoba13, @korniltsev
