Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

fix: sum exemplar values from same profile ID and timestamp across splits
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder_test.go
Owners: @korniltsev, @bryanhuhta

fix: sum exemplar values from same profile ID and timestamp across splits (#4753)
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder_test.go
Owners: @korniltsev, @bryanhuhta

perf: Add benchmarks for timeseries query (exemplars) performance (#4665)
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @aleks-p

docs: Update profiling docs to include Java support
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Update profiling docs to include Python support and eBPF
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore(examples): update examples
  api/go.mod
  api/go.sum
  examples/language-sdk-instrumentation/python/rideshare/django/app/requirements.txt
  examples/language-sdk-instrumentation/python/rideshare/fastapi/Dockerfile
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/python/simple/requirements.txt
  lidia/go.mod
  lidia/go.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @korniltsev

fix: Relative matching for source code mapping
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Rename GitHub integration to source code integration
  docs/sources/configure-server/configuring-github-integration.md
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Relative matching for source code mapping (#4754)
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

fix: Relative matching for source code mapping (#4754)
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Clarify after review feedback
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Mention how the repository can be overridden
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Update profiling docs to include Java and Python support (#4651)
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Add pyroscope.yaml
  examples/language-sdk-instrumentation/python/rideshare/flask/.pyroscope.yaml
Owners: @grafana/pyroscope-team

not too sure
  examples/language-sdk-instrumentation/python/rideshare/flask/.pyroscope.yaml
Owners: @grafana/pyroscope-team

Rename GitHub integration to source code integration (#4755)
  docs/sources/configure-server/configuring-github-integration.md
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

feat: implement AttributeTable with string interning for exemplar labels
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  api/types/v1/types.proto
  pkg/model/attribute_table.go
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
  pkg/model/time_series_test.go
  pkg/querybackend/query_time_series.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Partially revert function name modification from `pyspy`-based profiles
  pkg/og/convert/pprof/profile.go
  pkg/og/convert/pprof/profile_test.go
Owners: @korniltsev, @bryanhuhta

fix test
  pkg/test/integration/ingest_pprof_test.go
Owners: @grafana/pyroscope-team

fix(lidia): use stable sort
  lidia/builder.go
Owners: @korniltsev, @marcsanmi

test: add symbolizer test for parca bucket debuginfo source
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

Update golang version to 1.24.12
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

fix: Failed file lookup should be 404 instead of 500
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Add support for API docs and enums
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/querier/v1/querier.proto
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/curl.go
  tools/api-docs-generator/main.go
  tools/api-docs-generator/python.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Update golang version to 1.24.12 (#4760)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

chore: Set a maximum ingestion body size by default
  cmd/pyroscope/help-all.txt.tmpl
  pkg/validation/limits.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

Partially revert function name modification from `pyspy`-based profiles (#4757)
  pkg/og/convert/pprof/profile.go
  pkg/og/convert/pprof/profile_test.go
  pkg/test/integration/ingest_pprof_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team

chore: Set a maximum ingestion body size by default (#4761)
  cmd/pyroscope/help-all.txt.tmpl
  pkg/validation/limits.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

fix: Failed file lookup should be 404 instead of 500 (#4759)
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

chore: bump react router
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

chore: bump react router (#4763)
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

feat: Add deterministic profile ID generation
  cmd/pyroscope/help-all.txt.tmpl
  docs/sources/configure-server/reference-configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/pyroscope/ingest_adapter.go
  pkg/model/profileid/generator.go
  pkg/model/profileid/generator_test.go
  pkg/validation/limits.go
  pkg/validation/testutil.go
Owners: @grafana/pyroscope-team, @grafana/docs-profiles, @aleks-p, @alsoba13, @korniltsev, @bryanhuhta, @marcsanmi

Add release notes for v1.18
  docs/sources/release-notes/v1-1.md
  docs/sources/release-notes/v1-10.md
  docs/sources/release-notes/v1-11.md
  docs/sources/release-notes/v1-12.md
  docs/sources/release-notes/v1-13.md
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
  docs/sources/release-notes/v1-18.md
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/release-notes/v1-5.md
  docs/sources/release-notes/v1-6.md
  docs/sources/release-notes/v1-7.md
  docs/sources/release-notes/v1-8.md
  docs/sources/release-notes/v1-9.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Add release notes for v1.18
  docs/sources/release-notes/v1-1.md
  docs/sources/release-notes/v1-10.md
  docs/sources/release-notes/v1-11.md
  docs/sources/release-notes/v1-12.md
  docs/sources/release-notes/v1-13.md
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
  docs/sources/release-notes/v1-18.md
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/release-notes/v1-5.md
  docs/sources/release-notes/v1-6.md
  docs/sources/release-notes/v1-7.md
  docs/sources/release-notes/v1-8.md
  docs/sources/release-notes/v1-9.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Add release notes for v1.18 (#4765)
  docs/sources/release-notes/v1-1.md
  docs/sources/release-notes/v1-10.md
  docs/sources/release-notes/v1-11.md
  docs/sources/release-notes/v1-12.md
  docs/sources/release-notes/v1-13.md
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
  docs/sources/release-notes/v1-18.md
  docs/sources/release-notes/v1-2.md
  docs/sources/release-notes/v1-3.md
  docs/sources/release-notes/v1-4.md
  docs/sources/release-notes/v1-5.md
  docs/sources/release-notes/v1-6.md
  docs/sources/release-notes/v1-7.md
  docs/sources/release-notes/v1-8.md
  docs/sources/release-notes/v1-9.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore: add release 1.18.0 to Helm
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: add release 1.18.0 to Helm (#4766)
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: make release instructions more prescriptive
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Also add the type/docs label for clarity
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore: make release instructions more prescriptive (#4768)
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
