Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

lint
  lidia/gosym/pclntab.go
Owners: @korniltsev, @marcsanmi

disable unused linter for pclntab.go
  lidia/gosym/pclntab.go
Owners: @korniltsev, @marcsanmi

Address review
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attribute_table.go
  pkg/model/attribute_table_merger.go
  pkg/model/attribute_table_merger_test.go
  pkg/model/attributetable/util.go
  pkg/model/exemplar_builder.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/querybackend/query_time_series_with_attribute_table.go
  pkg/querybackend/query_time_series_with_attribute_table_test.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev

Reuse attribute_table model in heatmap
  pkg/model/attribute_table_merger.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

add an extraContainers field to pyroscope helm chart
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/templates/deployments-statefulsets.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
  operations/pyroscope/jsonnet/values.json
Owners: @grafana/pyroscope-team

Implement marshaling/unmarshaling
  pkg/frontend/frontend_diff_test.go
  pkg/frontend/frontend_select_merge_span_profile.go
  pkg/frontend/frontend_select_merge_stacktraces.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/model/tree.go
  pkg/model/tree_test.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/block_querier_test.go
  pkg/phlaredb/compact_test.go
  pkg/phlaredb/phlaredb_test.go
  pkg/phlaredb/profile_store_test.go
  pkg/phlaredb/sample_merge_test.go
  pkg/phlaredb/symdb/resolver_tree_test.go
  pkg/phlaredb/symdb/symdb_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query_tree.go
  pkg/segmentwriter/memdb/head_test.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @simonswine, @aleks-p, @alsoba13

Implmenet symbol merger
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/model/stacktraces.go
  pkg/model/tree.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querybackend/query_tree.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

new file name for lidia files with gopclntab support
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

improve error logging
  .idea/runConfigurations/v2.xml
  pkg/parca/debuginfo/store.go
Owners: @grafana/pyroscope-team

increase upload size
  .idea/runConfigurations/v2.xml
Owners: @grafana/pyroscope-team

Wire up frontend
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/tree.go
  pkg/model/tree_merger.go
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querier/select_merge.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @simonswine, @aleks-p

Fix various bugs
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/stacktraces.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @simonswine, @aleks-p

pprof query: add TreeNodeKind option
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_pprof.go
  pkg/phlaredb/symdb/resolver_pprof_tree.go
  pkg/querybackend/query_pprof.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev

test
  pkg/phlaredb/symdb/resolver_pprof_test.go
Owners: @simonswine, @korniltsev

sort imports
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_pprof_test.go
Owners: @simonswine, @korniltsev

Update lidia/gosym/parse.go
  lidia/gosym/parse.go
Owners: @korniltsev, @marcsanmi

Update lidia/options.go
  lidia/options.go
Owners: @korniltsev, @marcsanmi

const header size
  lidia/gosym/parse.go
Owners: @korniltsev, @marcsanmi

review fix
  lidia/gosym/parse.go
Owners: @korniltsev, @marcsanmi

error handling
  lidia/gosym/parse.go
  lidia/lidia.go
  lidia/lidia_test.go
Owners: @korniltsev, @marcsanmi

lidia: add gopclntab support for Go symbol resolution (#4782)
  lidia/gosym/parse.go
  lidia/gosym/pclntab.go
  lidia/lidia.go
  lidia/lidia_test.go
  lidia/options.go
Owners: @korniltsev, @marcsanmi

some renames
  pkg/phlaredb/symdb/resolver_pprof_tree.go
Owners: @simonswine, @korniltsev

some renames
  pkg/phlaredb/symdb/resolver_pprof_tree.go
Owners: @simonswine, @korniltsev

add location truncation
  pkg/phlaredb/symdb/resolver_pprof_tree.go
Owners: @simonswine, @korniltsev

Move attribute table
  pkg/model/attributetable/attributetable.go
  pkg/model/attributetable/attributetable_test.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

Refactor merger to be able to be reused
  pkg/model/attributetable/merger.go
  pkg/model/attributetable/merger_test.go
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

Move timeseries methods into their own package
  pkg/frontend/frontend_select_time_series.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/time_series.go
  pkg/model/timeseries/aggregator.go
  pkg/model/timeseries/exemplar_builder.go
  pkg/model/timeseries/iterator.go
  pkg/model/timeseries/merger.go
  pkg/model/timeseries/merger_test.go
  pkg/model/timeseries/range.go
  pkg/model/timeseries/range_test.go
  pkg/model/timeseries/timeseries.go
  pkg/model/timeseries/timeseries_test.go
  pkg/model/timeseries/top.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
  pkg/querier/querier.go
  pkg/querier/select_merge.go
  pkg/querier/select_merge_test.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @aleks-p

Add `.pre-commit-config.yaml` for pre-commit support (#4780)
  .pre-commit-config.yaml
Owners: @grafana/pyroscope-team

Some more generics
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/stacktraces.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @simonswine, @aleks-p

fixes
  pkg/model/stacktraces.go
  pkg/model/tree.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
Owners: @korniltsev, @bryanhuhta, @simonswine

Fixed collecting the right tree in all cases
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/resolver_tree_test.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
Owners: @marcsanmi, @bryanhuhta, @simonswine, @korniltsev

Simplify refactor, address review
  pkg/model/attributetable/attributetable.go
  pkg/model/attributetable/merger.go
  pkg/model/attributetable/merger_test.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

Fmt
  pkg/model/heatmap/merger.go
Owners: @korniltsev, @bryanhuhta

feat(profilecli): --tree param to use SelectMergeStacktraces instead of SelectMergeProfile
  cmd/profilecli/main.go
  cmd/profilecli/query.go
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
Owners: @grafana/pyroscope-team, @korniltsev, @bryanhuhta

feat: Remove label sanitization
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/frontend/readpath/queryfrontend/query_label_names.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/test/integration/ingest_pprof_test.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @marcsanmi, @bryanhuhta, @grafana/pyroscope-team, @aleks-p

admin(v2): query diagnostics
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

feat: Add support for Javascript and Typescript source code integration
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_javascript.go
  pkg/frontend/vcs/source/find_javascript_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

chore: Refactor attribute table into its own package (#4793)
  pkg/frontend/frontend_select_time_series.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attributetable/attributetable.go
  pkg/model/attributetable/attributetable_test.go
  pkg/model/attributetable/merger.go
  pkg/model/attributetable/merger_test.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/merger.go
  pkg/model/time_series.go
  pkg/model/timeseries/aggregator.go
  pkg/model/timeseries/exemplar_builder.go
  pkg/model/timeseries/iterator.go
  pkg/model/timeseries/merger.go
  pkg/model/timeseries/merger_test.go
  pkg/model/timeseries/range.go
  pkg/model/timeseries/range_test.go
  pkg/model/timeseries/timeseries.go
  pkg/model/timeseries/timeseries_test.go
  pkg/model/timeseries/top.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
  pkg/querier/querier.go
  pkg/querier/select_merge.go
  pkg/querier/select_merge_test.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @aleks-p

Bump chart version
  operations/pyroscope/helm/pyroscope/Chart.yaml
Owners: @grafana/pyroscope-team

helm: Update chart version
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team
