Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Address review
  pkg/model/labels.go
  pkg/model/labels_test.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

feat: add exemplar support to timeseries responses for individual profile retrieval (#4615)
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/exemplar_builder.go
  pkg/model/labels.go
  pkg/model/labels_test.go
  pkg/model/time_series.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
  pkg/model/time_series_test.go
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
  pkg/querier/querier.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @aleks-p

feat: add validation for exemplar types in timeseries queries
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @aleks-p

feat: add validation for exemplar types in timeseries queries (#4631)
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @aleks-p

Support version argument
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
Owners: @marcsanmi, @bryanhuhta

Use multiple mappings in findJavaFile
  pkg/frontend/vcs/source/find_java.go
Owners: @marcsanmi, @bryanhuhta

Add a note on ExtAsm
  pkg/frontend/vcs/source/find.go
Owners: @marcsanmi, @bryanhuhta

Add version .pyroscope.yaml
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

feat: Add `.pyroscope.yaml` with source code mapping support (#4606)
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  pkg/frontend/vcs/client/github.go
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/find_java_test.go
  pkg/frontend/vcs/source/find_test.go
  pkg/frontend/vcs/source/golang/golang.go
  pkg/frontend/vcs/source/golang/golang_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

initial implementation
  tools/java-jar-mapper/main.go
  tools/java-jar-mapper/main_test.go
Owners: @grafana/pyroscope-team

add tooling for getting functions and checking one function
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

initial profile-coverage
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

add progress
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

more working
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

java-jar-mapper fixes
  tools/java-jar-mapper/main.go
  tools/java-jar-mapper/main_test.go
Owners: @grafana/pyroscope-team

fix
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

java-jar-mapper deps.dev
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

sort functions
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

some java-jar-mapper updates to deps.dev integration
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

more java-jar-mapper updates
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

top functions by sample count
  .pyroscope.yaml
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

Update go version to 1.24.10
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/upgrade-go-version.sh
Owners: @grafana/pyroscope-team

print sample counts
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

add --top
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

sample counts bug fix
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

fix sample count sorting
  tools/profile-coverage/main.go
Owners: @grafana/pyroscope-team

add support for macaron
  .pyroscope.yaml
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

add debug info
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

add jar mapping config
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

Update go version to 1.24.10 (#4634)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/upgrade-go-version.sh
Owners: @grafana/pyroscope-team

working .pyroscope.yaml
  .pyroscope.yaml
Owners: @grafana/pyroscope-team

jar mapping reliability
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

jdk detection
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

jar mappings
  tools/java-jar-mapper/jar-mappings.json
Owners: @grafana/pyroscope-team

updated pyroscope yaml
  .pyroscope.yaml
Owners: @grafana/pyroscope-team

working .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

fix: preserve original timestamps in exemplars during aggregation
  pkg/model/time_series.go
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

fix: preserve original timestamps in exemplars during aggregation (#4637)
  pkg/model/time_series.go
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

fix: Update node in update_examples.Dockerfile
  Makefile.examples
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

cleanup code
  tools/java-jar-mapper/jar-mappings.json
  tools/java-jar-mapper/main.go
  tools/java-jar-mapper/main_test.go
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
