Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

chore: Enforce max nodes in v2 query-frontend
  pkg/frontend/frontend_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
Owners: @marcsanmi, @bryanhuhta

chore(deps): update a few frontend packages flagged for vulnerabilities
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/yarn.lock
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

chore(examples): update examples
  examples/language-sdk-instrumentation/ruby/rideshare/Gemfile.lock
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Gemfile.lock
  examples/language-sdk-instrumentation/ruby/simple/Gemfile.lock
Owners: @grafana/pyroscope-team

chore(deps): update a few frontend packages flagged for vulnerabilities (#4724)
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/yarn.lock
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

chore: Enforce max nodes in v2 query-frontend (#4723)
  pkg/frontend/frontend_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
Owners: @marcsanmi, @bryanhuhta

chore: add resources to provide guidance to coding agents
  .cursor/rules/development-workflow.mdc
  .cursor/rules/go-backend.mdc
  .cursor/rules/go-testing.mdc
  .cursor/rules/pyroscope-general.mdc
  .gitignore
  CLAUDE.md
  docs/internal/contributing/README.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

feat: Add support for Python source code integration
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_python_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

fmt + lint
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/source/find_python_test.go
Owners: @marcsanmi, @bryanhuhta

chore: Frontend update sweetalert2
  package.json
  public/app/ui/Modals/index.ts
  yarn.lock
Owners: @grafana/pyroscope-team

chore: Frontend update sweetalert2 (#4727)
  package.json
  public/app/ui/Modals/index.ts
  yarn.lock
Owners: @grafana/pyroscope-team

chore: Fix overlapping test names
  lidia/lidia_test.go
  pkg/frontend/vcs/token_test.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/metastore/index/cleaner/retention/retention_test.go
  pkg/objstore/client/factory_test.go
  pkg/objstore/providers/filesystem/bucket_client_test.go
  pkg/validation/validate_test.go
Owners: @korniltsev, @marcsanmi, @bryanhuhta, @alsoba13, @aleks-p, @simonswine

Fix overloaded type
  pkg/objstore/providers/filesystem/bucket_client_test.go
Owners: @simonswine

chore: Fix overlapping test names (#4728)
  lidia/lidia_test.go
  pkg/frontend/vcs/token_test.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/metastore/index/cleaner/retention/retention_test.go
  pkg/objstore/client/factory_test.go
  pkg/objstore/providers/filesystem/bucket_client_test.go
  pkg/validation/validate_test.go
Owners: @korniltsev, @marcsanmi, @bryanhuhta, @alsoba13, @aleks-p, @simonswine

take last match
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_python_test.go
Owners: @marcsanmi, @bryanhuhta

fmt
  pkg/frontend/vcs/source/find_python_test.go
Owners: @marcsanmi, @bryanhuhta

feat: Add support for Python source code integration (#4726)
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_python_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Remove function name modification from `pyspy`-based profiles
  pkg/og/convert/pprof/profile.go
  pkg/test/integration/ingest_pprof_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team

update test
  pkg/og/convert/pprof/profile_test.go
Owners: @korniltsev, @bryanhuhta

chore: Update OpenTelemetry dependencies proto=v1.9.0 profiles=v0.2.0
  cmd/profilecli/canary_exporter_probes.go
  go.mod
  go.sum
  go.work.sum
  pkg/ingester/otlp/convert.go
  pkg/ingester/otlp/ingest_handler_test.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

Add test .pyroscope.yaml
  examples/language-sdk-instrumentation/python/rideshare/flask/.pyroscope.yaml
Owners: @grafana/pyroscope-team

chore: add resources to provide guidance to coding agents (#4725)
  .cursor/rules/development-workflow.mdc
  .cursor/rules/go-backend.mdc
  .cursor/rules/go-testing.mdc
  .cursor/rules/pyroscope-general.mdc
  .gitignore
  CLAUDE.md
  docs/internal/contributing/README.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

fix: Properly map local file paths for Python source code integration
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Remove function name modification from `pyspy`-based profiles (#4730)
  pkg/og/convert/pprof/profile.go
  pkg/og/convert/pprof/profile_test.go
  pkg/test/integration/ingest_pprof_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team

Fixing inline link
  docs/sources/shared/supported-languages-ebpf.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Track discarded metrics in OTLP
  pkg/distributor/distributor_api_test.go
  pkg/ingester/otlp/ingest_handler.go
Owners: @aleks-p, @alsoba13, @korniltsev

Apply limit only when > 0
  pkg/ingester/pyroscope/ingest_handler_test.go
  pkg/pprof/pprof.go
Owners: @alsoba13, @korniltsev, @bryanhuhta

Close span after push
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Add tests for otlp endpoints
  pkg/distributor/distributor_api_test.go
  pkg/ingester/otlp/ingest_handler.go
Owners: @aleks-p, @alsoba13, @korniltsev

Track discarded metrics in Push
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Add tests for push endpoints
  pkg/distributor/distributor.go
  pkg/distributor/distributor_api_test.go
  pkg/pprof/pprof.go
Owners: @aleks-p, @alsoba13, @korniltsev, @bryanhuhta

chore: Implement symbolizer symbol size limits
  pkg/pyroscope/modules_experimental.go
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/debuginfod_client_test.go
  pkg/symbolizer/reader.go
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
  pkg/validation/symbolizer.go
Owners: @grafana/pyroscope-team, @marcsanmi, @korniltsev, @aleks-p

Remove unnecessary test
  pkg/distributor/distributor_api_test.go
Owners: @aleks-p, @alsoba13

Code consistency, as per code review
  pkg/ingester/otlp/ingest_handler.go
  pkg/pprof/pprof.go
Owners: @alsoba13, @korniltsev, @bryanhuhta

chore: Implement limits on the adhoc profiler endpoints
  pkg/adhocprofiles/adhocprofiles.go
  pkg/adhocprofiles/adhocprofiles_test.go
  pkg/og/convert/pprof/decoder.go
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/og/structs/flamebearer/convert/convert_bench_test.go
  pkg/og/structs/flamebearer/convert/convert_test.go
Owners: @grafana/pyroscope-team, @korniltsev, @bryanhuhta

improve profile size limit enforcement for jfr profiles
  pkg/api/api.go
  pkg/ingester/pyroscope/ingest_adapter.go
  pkg/ingester/pyroscope/ingest_handler_test.go
  pkg/og/convert/jfr/profile.go
  pkg/og/convert/pprof/profile.go
  pkg/og/convert/pprof/profile_test.go
  pkg/og/ingestion/ingestion.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev, @bryanhuhta

WIP: Limit gzip sizes
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_api_test.go
  pkg/distributor/distributor_test.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/og/convert/pprof/profile.go
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
Owners: @grafana/pyroscope-team, @aleks-p, @alsoba13, @korniltsev, @bryanhuhta

Fix test I broke
  pkg/distributor/distributor_test.go
Owners: @aleks-p, @alsoba13

chore: log exemplar query parameters
  pkg/util/spanlogger/query_log.go
Owners: @grafana/pyroscope-team

fix: Properly map local file paths for Python source code integration (#4732)
  pkg/frontend/vcs/source/find_python.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Fixing inline link (#4733)
  docs/sources/shared/supported-languages-ebpf.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team
