Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

feat: Log sanitized label names
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

fix: Add stricter validation for metrics from profiles fields
  pkg/model/recording_rule.go
  pkg/model/recording_rule_test.go
  pkg/settings/recording/recording.go
  pkg/settings/recording/recording_test.go
  pkg/validation/recording_rules_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team, @marcsanmi, @aleks-p

Update error message for external_labels name
  pkg/settings/recording/recording.go
  pkg/settings/recording/recording_test.go
Owners: @grafana/pyroscope-team

fix: panic when handling unsafe tenant name (#4519)
  pkg/tenant/interceptor.go
Owners: @grafana/pyroscope-team

fix: Add stricter validation for metrics from profiles fields (#4522)
  pkg/model/recording_rule.go
  pkg/model/recording_rule_test.go
  pkg/settings/recording/recording.go
  pkg/settings/recording/recording_test.go
  pkg/validation/recording_rules_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team, @marcsanmi, @aleks-p

Log service name too
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

feat: Log sanitized label names (#4521)
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

feat: Log sanitized label names (#4521)
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

Add admin page to list blocks for v2
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/time.go
Owners: @grafana/pyroscope-team

Print labels, remove block stats
  pkg/operations/v2/handlers.go
Owners: @grafana/pyroscope-team

Add dataset details page
  pkg/operations/v2/handlers.go
Owners: @grafana/pyroscope-team

Improve block and dataset details
  pkg/operations/v2/handlers.go
Owners: @grafana/pyroscope-team

Improve block and dataset details
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
Owners: @grafana/pyroscope-team

Cleanup
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
Owners: @grafana/pyroscope-team

Add dataset profiles explorer admin page
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.profile.visualization.gohtml
  pkg/pyroscope/modules_experimental.go
Owners: @grafana/pyroscope-team

Some more cleanup
  pkg/operations/v2/time.go
Owners: @grafana/pyroscope-team

Add dataset tsdb index admin page
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.index.gohtml
  pkg/operations/v2/tool.blocks.profile.visualization.gohtml
Owners: @grafana/pyroscope-team

feat: publish pre-compiled dashboards and recording rules
  .github/workflows/compile-mixin.yml
  Makefile
  README.md
  operations/pyroscope/jsonnet/README.md
  operations/pyroscope/mixin-compiled/dashboards/pyroscope-reads.json
  operations/pyroscope/mixin-compiled/dashboards/pyroscope-writes.json
  operations/pyroscope/mixin-compiled/metadata.json
  operations/pyroscope/mixin-compiled/rules/alert-rules.yaml
  operations/pyroscope/mixin-compiled/rules/recording-rules.yaml
  scripts/compile-mixin.sh
Owners: @grafana/pyroscope-team

Attempt at fixing hanging workflow
  .github/workflows/ci.yml
Owners: @grafana/pyroscope-team

chore: Automatically select self-hosted/github agents (#4514)
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/frontend.yml
  .github/workflows/fuzzer.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-examples-cron.yml
  .github/workflows/update-make-docs.yml
Owners: @grafana/pyroscope-team, @jdbaldry

fix: create fallback symbols for mappings without BuildIDs
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

feat(v2): add request-level write path overrides
  pkg/distributor/distributor.go
  pkg/distributor/writepath/router.go
  pkg/distributor/writepath/write_path_test.go
Owners: @aleks-p, @alsoba13

feat(v2): cancellable artificial delay
  pkg/util/delayhandler/connect.go
  pkg/util/delayhandler/connect_test.go
  pkg/util/delayhandler/delay.go
  pkg/util/delayhandler/http.go
  pkg/util/delayhandler/http_test.go
Owners: @grafana/pyroscope-team

feat(v2): add async ingest tests
  pkg/distributor/writepath/write_path_test.go
Owners: @aleks-p, @alsoba13

feat(v2): add example use case for request-level overrides
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Revert "feat(v2): add example use case for request-level overrides"
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

cancel artificial delay on async ingest
  pkg/distributor/writepath/router.go
  pkg/distributor/writepath/write_path_test.go
  pkg/util/delayhandler/connect.go
  pkg/util/delayhandler/delay.go
  pkg/util/delayhandler/http.go
Owners: @aleks-p, @alsoba13, @grafana/pyroscope-team

Remove import
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Fix bug from rebase
  pkg/util/delayhandler/http.go
Owners: @grafana/pyroscope-team

Bring back removed trace span
  pkg/distributor/writepath/router.go
Owners: @aleks-p, @alsoba13

Fix flaky admin test
  pkg/operations/handlers.go
  pkg/operations/handlers_test.go
Owners: @grafana/pyroscope-team

Add symbols page, improve profile call tree page
  pkg/api/api.go
  pkg/operations/admin.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

Improve profile call tree page
  pkg/operations/v2/model.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

feat(v2): cancel artificial delay on async ingest (#4261)
  pkg/distributor/distributor.go
  pkg/distributor/writepath/router.go
  pkg/distributor/writepath/write_path_test.go
  pkg/util/delayhandler/connect.go
  pkg/util/delayhandler/connect_test.go
  pkg/util/delayhandler/delay.go
  pkg/util/delayhandler/http.go
  pkg/util/delayhandler/http_test.go
Owners: @aleks-p, @alsoba13, @grafana/pyroscope-team

Fix flaky admin test (#4528)
  pkg/operations/handlers.go
  pkg/operations/handlers_test.go
Owners: @grafana/pyroscope-team

Display profile labels in a new profile card
  pkg/operations/v2/model.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

fix: Replace global nop logger with working logger
  pkg/pyroscope/pyroscope.go
  pkg/util/logger.go
Owners: @grafana/pyroscope-team

Remove empty addresses from stubs
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
Owners: @marcsanmi, @bryanhuhta

address review comments
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

Adding OTLP HTTP route with /pyroscope/ prefix
  pkg/api/api.go
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
