Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

Revert Renovate base config as the base config is in private repo (#4577)
  renovate.json
Owners: @grafana/pyroscope-team

fix: Latest OTLP HTTP exporter compatibility: gzip compression
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_auth_test.go
Owners: @alsoba13, @korniltsev

Case-insensitive comparison for header
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

Use generic HTTP error to avoid disclosing details
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

fix: opentelemetry-collector otlphttp exporter compatibility: gzip compression (#4579)
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_auth_test.go
Owners: @alsoba13, @korniltsev

chore(examples): update examples
  examples/language-sdk-instrumentation/nodejs/express-pull/package.json
  examples/language-sdk-instrumentation/nodejs/express-pull/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express/package.json
  examples/language-sdk-instrumentation/nodejs/express/yarn.lock
  examples/language-sdk-instrumentation/nodejs/tinyhttp/package.json
  examples/language-sdk-instrumentation/nodejs/tinyhttp/yarn.lock
Owners: @grafana/pyroscope-team

Update README.md as proposed by reviews
  operations/pyroscope/helm/pyroscope-monitoring/Chart.yaml
  operations/pyroscope/helm/pyroscope-monitoring/README.md
  operations/pyroscope/helm/pyroscope-monitoring/README.md.gotmpl
  operations/pyroscope/helm/pyroscope-monitoring/values.yaml
Owners: @grafana/pyroscope-team

fix: go version for update-contributors
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

use 1.24.8 better
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

fix: go version for update-contributors (#4582)
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

Simplify tracing for Raft handlers
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/tracing.go
Owners: @aleks-p

Add basic tracing to metastore endpoints
  pkg/metastore/compaction_service.go
  pkg/metastore/index_service.go
  pkg/metastore/query_service.go
  pkg/metastore/tenant_service.go
Owners: @aleks-p

Add even more tracing
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tracing/util.go
Owners: @aleks-p

Refactor metrics
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/metrics.go
  pkg/metastore/metastore.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tracing/context_registry.go
  pkg/metastore/tracing/context_registry_test.go
Owners: @aleks-p

Add tracing to Raft and boltdb (part 2)
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/index/index.go
  pkg/metastore/index/index_bench_test.go
  pkg/metastore/index/index_test.go
  pkg/metastore/index/query_test.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/index_service.go
  pkg/metastore/query_service.go
  pkg/metastore/tenant_service.go
Owners: @aleks-p

Add span events for FSM.Propose
  pkg/metastore/raftnode/node.go
Owners: @aleks-p

Tidy up some more
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/context_registry.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/index_service.go
  pkg/metastore/query_service.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tenant_service.go
Owners: @aleks-p

Make propagation safer
  pkg/metastore/fsm/context_registry.go
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/raftnode/node.go
Owners: @aleks-p

Minor touch ups
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/fsm/fsm.go
Owners: @aleks-p

Fix linter errors
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/index/index.go
  pkg/metastore/index/index_bench_test.go
  pkg/metastore/index/index_test.go
  pkg/metastore/index/query_test.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/tracing.go
Owners: @aleks-p

Refactor context registry
  pkg/metastore/fsm/fsm.go
  pkg/metastore/metastore.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tracing/context_registry.go
  pkg/metastore/tracing/context_registry_test.go
Owners: @aleks-p

Add tracing to Raft and boltdb
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/context_registry.go
  pkg/metastore/fsm/context_registry_test.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/metrics.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/index_service.go
  pkg/metastore/metastore_raft.go
  pkg/metastore/raftnode/node.go
Owners: @aleks-p

Fix tests
  pkg/metastore/fsm/context_registry.go
  pkg/metastore/fsm/context_registry_test.go
Owners: @aleks-p

fix: Helm release only supports one changed chart at a time
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yml
  Makefile
  operations/monitoring/helm/cr.yaml
  operations/monitoring/helm/ct.yaml
  operations/monitoring/helm/pyroscope-monitoring/.helmignore
  operations/monitoring/helm/pyroscope-monitoring/Chart.lock
  operations/monitoring/helm/pyroscope-monitoring/Chart.yaml
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/monitoring/helm/pyroscope-monitoring/README.md.gotmpl
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.5.3.tgz
  operations/monitoring/helm/pyroscope-monitoring/convert-dashboard.sh
  operations/monitoring/helm/pyroscope-monitoring/lgtm.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/NOTES.txt
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_operational.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-metastore.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-read-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-write-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboards.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_helpers.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_rules.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/dashboards.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/deployment.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/rules.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/service.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/tests/test-metrics.yaml
  operations/monitoring/helm/pyroscope-monitoring/values.yaml
Owners: @grafana/pyroscope-team

fix: Helm release only supports one changed chart at a time
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yml
  Makefile
  operations/monitoring/helm/cr.yaml
  operations/monitoring/helm/ct.yaml
  operations/monitoring/helm/pyroscope-monitoring/.helmignore
  operations/monitoring/helm/pyroscope-monitoring/Chart.lock
  operations/monitoring/helm/pyroscope-monitoring/Chart.yaml
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/monitoring/helm/pyroscope-monitoring/README.md.gotmpl
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.5.3.tgz
  operations/monitoring/helm/pyroscope-monitoring/convert-dashboard.sh
  operations/monitoring/helm/pyroscope-monitoring/lgtm.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/NOTES.txt
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_operational.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-metastore.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-read-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-write-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboards.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_helpers.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_rules.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/dashboards.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/deployment.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/rules.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/service.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/tests/test-metrics.yaml
  operations/monitoring/helm/pyroscope-monitoring/values.yaml
Owners: @grafana/pyroscope-team

fix(api): add ingest limits to connect push requests
  pkg/api/api.go
Owners: @grafana/pyroscope-team

Revert "fix(api): add ingest limits to connect push requests"
  pkg/api/api.go
Owners: @grafana/pyroscope-team

fix(api): add ingest limits to connect push requests
  pkg/api/connect_options.go
Owners: @grafana/pyroscope-team

fmt
  pkg/api/connect_options.go
Owners: @grafana/pyroscope-team

chore: remove arenas package
  pkg/og/storage/tree/tree.go
  pkg/og/util/arenahelper/arenas_disabled.go
  pkg/og/util/arenahelper/arenas_enabled.go
Owners: @grafana/pyroscope-team

fix(api): add ingest limits to connect push requests (#4586)
  pkg/api/connect_options.go
Owners: @grafana/pyroscope-team

Update workflow hash
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yml
Owners: @grafana/pyroscope-team

chore: remove arenas package (#4587)
  pkg/og/storage/tree/tree.go
  pkg/og/util/arenahelper/arenas_disabled.go
  pkg/og/util/arenahelper/arenas_enabled.go
Owners: @grafana/pyroscope-team

Remove test branch
  .github/workflows/helm-release.yml
Owners: @grafana/pyroscope-team

fix: Helm release only supports one changed chart at a time (#4583)
  .github/workflows/helm-ci.yml
  .github/workflows/helm-release.yml
  Makefile
  operations/monitoring/helm/cr.yaml
  operations/monitoring/helm/ct.yaml
  operations/monitoring/helm/pyroscope-monitoring/.helmignore
  operations/monitoring/helm/pyroscope-monitoring/Chart.lock
  operations/monitoring/helm/pyroscope-monitoring/Chart.yaml
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/monitoring/helm/pyroscope-monitoring/README.md.gotmpl
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.5.3.tgz
  operations/monitoring/helm/pyroscope-monitoring/convert-dashboard.sh
  operations/monitoring/helm/pyroscope-monitoring/lgtm.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/NOTES.txt
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_operational.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-metastore.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-read-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboard_v2-write-path.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/_dashboards.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_helpers.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/_rules.tpl
  operations/monitoring/helm/pyroscope-monitoring/templates/dashboards.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/deployment.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/rules.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/service.yaml
  operations/monitoring/helm/pyroscope-monitoring/templates/tests/test-metrics.yaml
  operations/monitoring/helm/pyroscope-monitoring/values.yaml
Owners: @grafana/pyroscope-team

Add test case for bytes unit
  pkg/og/convert/speedscope/testdata/two-sampled-bytes.speedscope.json
  pkg/test/integration/ingest_speedscope_test.go
Owners: @korniltsev, @bryanhuhta, @grafana/pyroscope-team

fix: Handle Speedscope sample types in ingestion (#4568)
  pkg/ingester/pyroscope/ingest_adapter.go
  pkg/og/convert/speedscope/testdata/two-sampled-bytes.speedscope.json
  pkg/test/integration/helper.go
  pkg/test/integration/ingest_speedscope_test.go
Owners: @alsoba13, @korniltsev, @bryanhuhta, @grafana/pyroscope-team

fix: Add `profile_name` label to Speedscope profile ingestion
  pkg/og/convert/speedscope/parser.go
  pkg/og/convert/speedscope/speedscope_test.go
Owners: @korniltsev, @bryanhuhta

fix: Add `profile_name` label to Speedscope profile ingestion (#4588)
  pkg/og/convert/speedscope/parser.go
  pkg/og/convert/speedscope/speedscope_test.go
Owners: @korniltsev, @bryanhuhta

fix: Implement Speedscope profile merging
  pkg/og/convert/speedscope/parser.go
  pkg/og/convert/speedscope/speedscope_test.go
  pkg/og/convert/speedscope/testdata/duplicates.speedscope.json
Owners: @korniltsev, @bryanhuhta
