Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Add Renovate config
  renovate.json
Owners: @grafana/pyroscope-team

Change platformAutomerge setting to false
  renovate.json
Owners: @grafana/pyroscope-team

Change Renovate config to use best-practices by default
  renovate.json
Owners: @grafana/pyroscope-team

Update .prettierignore to include additional files
  .prettierignore
Owners: @grafana/pyroscope-team

Add workflow to validate renovate config
  .github/workflows/renovate-config-validator.yml
Owners: @grafana/pyroscope-team

Replace npx call with shared validator action
  .github/workflows/renovate-config-validator.yml
Owners: @grafana/pyroscope-team

Change Renovate config validator to main branch
  .github/workflows/renovate-config-validator.yml
Owners: @grafana/pyroscope-team

Pin Renovate config validation action to specific tag
  .github/workflows/renovate-config-validator.yml
Owners: @grafana/pyroscope-team

Add Renovate config (#4499)
  .github/workflows/renovate-config-validator.yml
  .prettierignore
  renovate.json
Owners: @grafana/pyroscope-team

Added tests for OTLP HTTP json/protobuf paths
  pkg/test/integration/helper.go
  pkg/test/integration/ingest_otlp_test.go
  pkg/test/integration/testdata/otel-ebpf-profile.out.json
Owners: @grafana/pyroscope-team

feat: Use `allow-utf8-labelnames` client capability in profilecli (#4490)
  cmd/profilecli/client.go
  cmd/profilecli/client_test.go
Owners: @grafana/pyroscope-team

fix: Handle utf-8 matchers correctly (#4496)
  pkg/frontend/readpath/queryfrontend/compat.go
  pkg/frontend/readpath/queryfrontend/compat_test.go
Owners: @marcsanmi, @bryanhuhta

feat: Use `allow-utf8-labelnames` client capability in UI (#4493)
  package.json
  public/README.md
  public/app/components/TagsBar.tsx
  public/app/services/base.ts
  public/app/util/query.ts
  scripts/webpack/webpack.dev.js
  yarn.lock
Owners: @grafana/pyroscope-team

feat(v2): blocks admin (#4480)
  api/gen/proto/go/metastore/v1/metastorev1connect/tenant.connect.go
  api/gen/proto/go/metastore/v1/metastorev1connect/tenant.connect.mux.go
  api/gen/proto/go/metastore/v1/tenant.pb.go
  api/gen/proto/go/metastore/v1/tenant_vtproto.pb.go
  api/metastore/v1/tenant.proto
  api/openapiv2/gen/phlare.swagger.json
  pkg/api/api.go
  pkg/metastore/client/methods.go
  pkg/metastore/client/server_mock_test.go
  pkg/metastore/index/index.go
  pkg/metastore/tenant_service.go
  pkg/operations/v2/admin.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/time.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
  pkg/operations/v2/tool.blocks.detail.gohtml
  pkg/operations/v2/tool.blocks.index.gohtml
  pkg/operations/v2/tool.blocks.list.gohtml
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
  pkg/test/mocks/mockmetastorev1/mock_tenant_service_client.go
  pkg/test/mocks/mockmetastorev1/mock_tenant_service_server.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

Added tests for OTLP HTTP json/protobuf paths (#4500)
  pkg/test/integration/helper.go
  pkg/test/integration/ingest_otlp_test.go
  pkg/test/integration/testdata/otel-ebpf-profile.out.json
Owners: @grafana/pyroscope-team

Add `sanitized_label_names_total` counter metric
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

fix: Skip duplicated label name filtering in some cases
  pkg/querier/querier.go
Owners: @marcsanmi

tests for recording rules validating utf8
  pkg/model/recording_rules_test.go
Owners: @korniltsev, @bryanhuhta

Move incr to after error block
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

feat: Add `sanitized_label_names_total` counter metric (#4501)
  pkg/validation/validate.go
Owners: @marcsanmi, @aleks-p

Remove Dependabot
  .github/dependabot.yml
Owners: @grafana/pyroscope-team

Automatically select self-hosted/github agents in fork/main
  .github/workflows/backport.yml
  .github/workflows/ci.yml
  .github/workflows/frontend.yml
  .github/workflows/fuzzer.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-examples-cron.yml
  .github/workflows/update-make-docs.yml
Owners: @grafana/pyroscope-team, @jdbaldry

draft: change StacktraceTree implementation to fast Insert
  pkg/model/stacktrace_tree_indexed.go
  pkg/model/stacktraces_test.go
  pkg/model/tree.go
Owners: @korniltsev, @bryanhuhta

Guard against profiles with no lines
  pkg/ingester/otlp/convert.go
Owners: @alsoba13, @korniltsev

Remove Dependabot (#4505)
  .github/dependabot.yml
Owners: @grafana/pyroscope-team

Update OS matrix to correctly take ARM self-hosted runners
  .github/workflows/ci.yml
Owners: @grafana/pyroscope-team

Updated test data
  pkg/test/integration/testdata/otel-ebpf-profile.out.json
Owners: @grafana/pyroscope-team

Change matrix to still use `arch` parameter
  .github/workflows/ci.yml
Owners: @grafana/pyroscope-team

Fix syntax
  .github/workflows/ci.yml
Owners: @grafana/pyroscope-team

fix: OTLP: Guard against profiles with no lines (#4517)
  pkg/ingester/otlp/convert.go
  pkg/test/integration/testdata/otel-ebpf-profile.out.json
Owners: @alsoba13, @korniltsev, @grafana/pyroscope-team

fix: panic when handling unsafe tenant name
  pkg/tenant/interceptor.go
Owners: @grafana/pyroscope-team

Disable OTLP probes for now due to errors
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Comment out the methods for now to satisfy linter
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

fix: Disable OTLP probes for now due to errors in cluster (#4520)
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

fix: add read-path stub creation for unsymbolized profiles
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/ingester/otlp/testdata/TestSampleAttributes.json
Owners: @marcsanmi, @bryanhuhta, @alsoba13, @korniltsev

add v2 specific tesdata json output file
  pkg/ingester/otlp/testdata/TestSampleAttributes.json
  pkg/test/integration/ingest_otlp_test.go
  pkg/test/integration/testdata/README.md
  pkg/test/integration/testdata/otel-ebpf-profile.out.v2.json
Owners: @alsoba13, @korniltsev, @grafana/pyroscope-team

Review notes: defer to next steps in parsing rather than returning error immediately
  pkg/tenant/interceptor.go
Owners: @grafana/pyroscope-team

fix: Disable OTLP probes for now due to errors in cluster (#4520)
  cmd/profilecli/canary_exporter.go
  cmd/profilecli/canary_exporter_probes.go
Owners: @grafana/pyroscope-team

Address comment
  pkg/querier/querier.go
Owners: @marcsanmi

fix: Skip duplicated label name filtering in some cases (#4502)
  pkg/querier/querier.go
Owners: @marcsanmi

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
