Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

add an extraContainers field to pyroscope helm chart (#4783)
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
  operations/pyroscope/helm/pyroscope/templates/deployments-statefulsets.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
  operations/pyroscope/jsonnet/values.json
Owners: @grafana/pyroscope-team

feat(profilecli): add kube-proxy command for unified microservice access (#4777)
  cmd/profilecli/kube_proxy.go
  cmd/profilecli/main.go
Owners: @grafana/pyroscope-team

chore: Configure Renovate to respect minimumReleaseAge
  renovate.json
Owners: @grafana/pyroscope-team

Fix go.mod
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  go.work.sum
  lidia/go.mod
  lidia/go.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @korniltsev

Also update Makefile references
  Makefile
Owners: @grafana/pyroscope-team

PR comments
  cmd/profilecli/main.go
  cmd/profilecli/query.go
  pkg/pprof/pprof_test.go
Owners: @grafana/pyroscope-team, @korniltsev, @bryanhuhta

Generate assets
  api/gen/proto/go/adhocprofiles/v1/adhocprofiles.pb.go
  api/gen/proto/go/capabilities/v1/feature_flags.pb.go
  api/gen/proto/go/google/v1/profile.pb.go
  api/gen/proto/go/ingester/v1/ingester.pb.go
  api/gen/proto/go/metastore/v1/compactor.pb.go
  api/gen/proto/go/metastore/v1/index.pb.go
  api/gen/proto/go/metastore/v1/query.pb.go
  api/gen/proto/go/metastore/v1/raft_log/raft_log.pb.go
  api/gen/proto/go/metastore/v1/tenant.pb.go
  api/gen/proto/go/metastore/v1/types.pb.go
  api/gen/proto/go/push/v1/push.pb.go
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/segmentwriter/v1/push.pb.go
  api/gen/proto/go/settings/v1/recording_rules.pb.go
  api/gen/proto/go/settings/v1/setting.pb.go
  api/gen/proto/go/status/v1/status.pb.go
  api/gen/proto/go/storegateway/v1/storegateway.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/vcs/v1/vcs.pb.go
  api/gen/proto/go/version/v1/version.pb.go
  api/openapiv2/gen/phlare.swagger.json
  pkg/frontend/frontendpb/frontend.pb.go
  pkg/metastore/raftnode/raftnodepb/raft_node.pb.go
  pkg/querier/stats/stats.pb.go
  pkg/scheduler/schedulerpb/scheduler.pb.go
  pkg/segmentwriter/client/distributor/placement/adaptiveplacement/adaptive_placementpb/adaptive_placement.pb.go
  pkg/util/httpgrpc/httpgrpc.pb.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev, @alsoba13, @grafana/pyroscope-team

feat(profilecli): use SelectMergeStacktraces instead of SelectMergeProfile when --tree (#4795)
  cmd/profilecli/main.go
  cmd/profilecli/query.go
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
Owners: @grafana/pyroscope-team, @korniltsev, @bryanhuhta

chore: Configure Renovate to respect minimumReleaseAge (#4799)
  renovate.json
Owners: @grafana/pyroscope-team

Remove typescript as language option
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

feat: Add support for Javascript and Typescript source code integration (#4797)
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_javascript.go
  pkg/frontend/vcs/source/find_javascript_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

chore(deps): Add Renovate rules for managing Makefile dependencies
  renovate.json
Owners: @grafana/pyroscope-team

Add execution trace UIi
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/querybackend/backend.go
  pkg/querybackend/block_reader.go
  pkg/querybackend/query.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta

Collect and store query diagnostics
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  cmd/profilecli/client.go
  cmd/profilecli/query.go
  pkg/api/api.go
  pkg/api/api_experimental.go
  pkg/api/connect_options.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/diagnostics_list.gohtml
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/compat.go
  pkg/frontend/readpath/queryfrontend/diagnostics.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/queryfrontend/query_label_names.go
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @bryanhuhta

Simplify diagnostics collection
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  cmd/profilecli/client.go
  cmd/profilecli/query.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/compat.go
  pkg/frontend/readpath/queryfrontend/diagnostics.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/queryfrontend/query_label_names.go
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @bryanhuhta

Move query requests to the browser
  pkg/api/api_experimental.go
  pkg/frontend/readpath/queryfrontend/admin/admin.go
  pkg/frontend/readpath/queryfrontend/admin/admin_test.go
  pkg/frontend/readpath/queryfrontend/admin/diagnostics_list.gohtml
  pkg/frontend/readpath/queryfrontend/admin/pages.go
  pkg/frontend/readpath/queryfrontend/admin/query_diagnostics.gohtml
  pkg/frontend/readpath/queryfrontend/admin/static/styles.css
  pkg/frontend/readpath/queryfrontend/admin/static/util.js
  pkg/frontend/readpath/queryfrontend/admin/tree.go
  pkg/frontend/readpath/queryfrontend/diagnostics/interceptor.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store.go
  pkg/frontend/readpath/queryfrontend/diagnostics/store_test.go
  pkg/frontend/readpath/queryfrontend/diagnostics/wrapper.go
  pkg/pyroscope/modules_experimental.go
  pkg/querybackend/backend.go
  pkg/querybackend/block_reader.go
  pkg/querybackend/report_aggregator.go
  pkg/querybackend/report_aggregator_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @aleks-p

Address review
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/query/v1/query.proto
  api/types/v1/types.proto
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attribute_table.go
  pkg/model/attribute_table_merger.go
  pkg/model/attribute_table_merger_test.go
  pkg/model/attributetable/attributetable.go
  pkg/model/timeseries/merger.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
  pkg/querybackend/query_time_series_with_attribute_table.go
  pkg/querybackend/query_time_series_with_attribute_table_test.go
Owners: @simonswine, @marcsanmi, @aleks-p, @bryanhuhta, @korniltsev

fix: replace deprecated github.String with github.Ptr in tests
  pkg/frontend/vcs/client/github_test.go
Owners: @marcsanmi, @bryanhuhta

Update golang version to 1.24.12
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Update go.mod toolchain to 1.24.12
  go.mod
Owners: @grafana/pyroscope-team

Update Go to 1.24.12 to fix CVE-2025-61731 and CVE-2025-61726 (#4802)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  go.mod
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

Set pre-push as default hook in `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Owners: @grafana/pyroscope-team

Add tenant override for sanitization disabling
  docs/sources/configure-server/reference-configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/validation/limits.go
  pkg/validation/testutil.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team, @aleks-p, @alsoba13, @marcsanmi

make reference-help
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
Owners: @grafana/pyroscope-team

refactor: avoid typesv1 conversions in time series compact aggregation
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @bryanhuhta, @aleks-p

refactor: add iterator and create logical timeseriescompact folder
  pkg/model/timeseriescompact/aggregator.go
  pkg/model/timeseriescompact/aggregator_test.go
  pkg/model/timeseriescompact/iterator.go
  pkg/model/timeseriescompact/merger.go
  pkg/model/timeseriescompact/merger_test.go
  pkg/model/timeseriescompact/range.go
  pkg/model/timeseriescompact/range_test.go
  pkg/model/timeseriescompact/timeseriescompact.go
  pkg/querybackend/query_time_series.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

chore: Update embedded grafana/drilldown
  pkg/embedded/grafana/grafana.go
  renovate.json
  tools/update-embedded-checksums/README.md
  tools/update-embedded-checksums/main.go
Owners: @grafana/pyroscope-team

feat: Add configuration to skip label sanitization (#4796)
  cmd/pyroscope/help-all.txt.tmpl
  cmd/pyroscope/help.txt.tmpl
  docs/sources/configure-server/reference-configuration-parameters/index.md
  pkg/distributor/distributor.go
  pkg/frontend/readpath/queryfrontend/query_frontend_test.go
  pkg/frontend/readpath/queryfrontend/query_label_names.go
  pkg/frontend/readpath/queryfrontend/query_series_labels.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/test/integration/ingest_pprof_test.go
  pkg/validation/limits.go
  pkg/validation/testutil.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @grafana/pyroscope-team, @grafana/docs-profiles, @aleks-p, @alsoba13, @marcsanmi, @bryanhuhta

Make model.Tree generic
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  cmd/profilecli/query.go
  pkg/frontend/frontend_diff.go
  pkg/frontend/frontend_select_merge_stacktraces.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/model/flamegraph.go
  pkg/model/flamegraph_diff.go
  pkg/model/flamegraph_diff_bench_test.go
  pkg/model/flamegraph_test.go
  pkg/model/stack.go
  pkg/model/stacktraces.go
  pkg/model/stacktraces_test.go
  pkg/model/tree.go
  pkg/model/tree_merger.go
  pkg/model/tree_test.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/pprof/pprof.go
  pkg/pprof/pprof_test.go
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/select_merge.go
  pkg/querier/store_gateway_querier.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team, @bryanhuhta, @korniltsev

Fixed collecting the right tree in all cases
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/resolver_tree_test.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
Owners: @marcsanmi, @bryanhuhta, @simonswine, @korniltsev

Implement marshaling/unmarshaling
  pkg/frontend/frontend_diff_test.go
  pkg/frontend/frontend_select_merge_span_profile.go
  pkg/frontend/frontend_select_merge_stacktraces.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/model/tree.go
  pkg/model/tree_test.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/block_querier_test.go
  pkg/phlaredb/compact_test.go
  pkg/phlaredb/phlaredb_test.go
  pkg/phlaredb/profile_store_test.go
  pkg/phlaredb/sample_merge_test.go
  pkg/phlaredb/symdb/resolver_tree_test.go
  pkg/phlaredb/symdb/symdb_test.go
  pkg/querier/querier.go
  pkg/querier/querier_test.go
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query_tree.go
  pkg/segmentwriter/memdb/head_test.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @simonswine, @aleks-p, @alsoba13

fixes
  pkg/model/stacktraces.go
  pkg/model/tree.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
Owners: @korniltsev, @bryanhuhta, @simonswine

Fix various bugs
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/stacktraces.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @simonswine, @aleks-p

Implmenet symbol merger
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
  pkg/model/stacktraces.go
  pkg/model/tree.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querybackend/query_tree.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Wire up frontend
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/tree.go
  pkg/model/tree_merger.go
  pkg/og/structs/flamebearer/convert/convert.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/querier/select_merge.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @simonswine, @aleks-p

Some more generics
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/model/stacktraces.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
  pkg/querybackend/query_tree.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @simonswine, @aleks-p

WIP: More hashing PoCs that went no where
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
  pkg/phlaredb/symdb/symbol_merger_test.go.bak
Owners: @simonswine, @korniltsev

Send hashes across to aid comparison
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/query/v1/query.proto
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/symbol_merger.go
  pkg/phlaredb/symdb/symbol_merger_test.go
  pkg/querybackend/query_tree.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev

Allow to only run the tree based path using feature gate
  cmd/profilecli/client.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Try updating renovate
  .github/workflows/renovate-config-validator.yml
  cmd/profilecli/client.go
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
