Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

feat: add validation for unimplemented API features
  pkg/querier/querier.go
Owners: @marcsanmi

chore: Make profileEntryIterator more configurable
  pkg/phlaredb/schemas/v1/profiles.go
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @simonswine, @aleks-p, @marcsanmi

feat: add proto definitions for individual profile retrieval API (#4605)
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Implement profileIDSelector and address review comments
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @aleks-p

Disable ID retrieval until it is used in #4615
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @aleks-p

chore: Upgrade nodejs sdk examples to latest sdk and node
  examples/language-sdk-instrumentation/nodejs/express-pull/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-pull/package.json
  examples/language-sdk-instrumentation/nodejs/express-pull/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts/docker-compose.yml.patch
  examples/language-sdk-instrumentation/nodejs/express-ts/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express/package.json
  examples/language-sdk-instrumentation/nodejs/express/yarn.lock
  examples/language-sdk-instrumentation/nodejs/tinyhttp/Dockerfile
  examples/language-sdk-instrumentation/nodejs/tinyhttp/package.json
  examples/language-sdk-instrumentation/nodejs/tinyhttp/yarn.lock
Owners: @grafana/pyroscope-team

remove unwanted file
  examples/language-sdk-instrumentation/nodejs/express-ts/docker-compose.yml.patch
Owners: @grafana/pyroscope-team

feat: Add fastify example for nodejs sdk
  examples/language-sdk-instrumentation/nodejs/fastify/.gitignore
  examples/language-sdk-instrumentation/nodejs/fastify/Dockerfile
  examples/language-sdk-instrumentation/nodejs/fastify/README.md
  examples/language-sdk-instrumentation/nodejs/fastify/docker-compose.yml
  examples/language-sdk-instrumentation/nodejs/fastify/grafana-provisioning/datasources/pyroscope.yml
  examples/language-sdk-instrumentation/nodejs/fastify/grafana-provisioning/plugins/explore-profiles.yml
  examples/language-sdk-instrumentation/nodejs/fastify/index.js
  examples/language-sdk-instrumentation/nodejs/fastify/package.json
  examples/language-sdk-instrumentation/nodejs/fastify/yarn.lock
Owners: @grafana/pyroscope-team

feat: implement ExemplarBuilder with label intersection and deduplication
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/exemplar_builder.go
  pkg/model/labels.go
  pkg/model/time_series.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/model/time_series_merger.go
  pkg/model/time_series_test.go
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @aleks-p

fix: SelectSeries not correct for single reports (#4617)
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query.go
  pkg/querybackend/query_label_names.go
  pkg/querybackend/query_label_values.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_series_labels.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_tree.go
  pkg/querybackend/report_aggregator.go
  pkg/querybackend/report_aggregator_test.go
  pkg/querybackend/testdata/fixtures/time_series.json
  pkg/querybackend/testdata/fixtures/time_series_first_block.json
Owners: @marcsanmi, @aleks-p

docs: Update release documentation to address pain points
  .goreleaser.yaml
  docs/internal/RELEASE.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

leave in mailing list
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

fix: limit max nodes in symbolization queries
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/querybackend/client/client.go
Owners: @marcsanmi, @bryanhuhta, @aleks-p

chore: `make go/mod`
  api/go.mod
  api/go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

chore: Make profileEntryIterator more configurable (#4621)
  pkg/phlaredb/schemas/v1/profiles.go
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @simonswine, @aleks-p, @marcsanmi

Address review
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/pyroscope/modules_experimental.go
  pkg/querybackend/backend.go
  pkg/querybackend/client/client.go
  pkg/querybackend/client/client_test.go
Owners: @marcsanmi, @bryanhuhta, @grafana/pyroscope-team, @aleks-p

chore: Upgrade nodejs sdk examples to latest sdk and node (#4622)
  examples/language-sdk-instrumentation/nodejs/express-pull/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-pull/package.json
  examples/language-sdk-instrumentation/nodejs/express-pull/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts-inline/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express-ts/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express-ts/package.json
  examples/language-sdk-instrumentation/nodejs/express-ts/yarn.lock
  examples/language-sdk-instrumentation/nodejs/express/Dockerfile
  examples/language-sdk-instrumentation/nodejs/express/package.json
  examples/language-sdk-instrumentation/nodejs/express/yarn.lock
  examples/language-sdk-instrumentation/nodejs/tinyhttp/Dockerfile
  examples/language-sdk-instrumentation/nodejs/tinyhttp/package.json
  examples/language-sdk-instrumentation/nodejs/tinyhttp/yarn.lock
Owners: @grafana/pyroscope-team

docs: Update release documentation to address pain points (#4626)
  .goreleaser.yaml
  docs/internal/RELEASE.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

add originalQuery.Tree nil check
  pkg/frontend/readpath/queryfrontend/query_frontend.go
Owners: @marcsanmi, @bryanhuhta

Use GetMaxNodes to cleanly handle nil checks
  pkg/frontend/readpath/queryfrontend/query_frontend.go
Owners: @marcsanmi, @bryanhuhta

Add test cases
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Add a few more metastore compaction metrics
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/metrics.go
  pkg/metastore/compaction/compactor/metrics_test.go
Owners: @aleks-p

Rework stats collection approach, to avoid data races
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Bring back level label
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Update metric description
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Improve misconfiguration handling, variable names
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Fix backlog jobs calculation
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Fix some bugs
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  pkg/frontend/vcs/source/find_java.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Add two exemplary pyroscope.yaml files
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

Golang stdlib impovements
  .pyroscope.yaml
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/golang/golang.go
  pkg/frontend/vcs/source/golang/golang_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Handle local with source repo correctly
  pkg/frontend/vcs/source/find.go
Owners: @marcsanmi, @bryanhuhta

Add some config draft code
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/config_finder.go
  pkg/frontend/vcs/source/config_finder_test.go
Owners: @marcsanmi, @bryanhuhta

Spring boot is a mess
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

Merge both mocks
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Support assembler file endings for go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
Owners: @marcsanmi, @bryanhuhta

Add test cases
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

Fix cleanup function
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/find_java_test.go
Owners: @marcsanmi, @bryanhuhta

Instrument github errors better
  pkg/frontend/vcs/client/github.go
Owners: @marcsanmi, @bryanhuhta

Refactor AI slop
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/config_finder.go
  pkg/frontend/vcs/source/config_finder_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_java.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

fix: limit max nodes in symbolization queries (#4629)
  pkg/frontend/readpath/queryfrontend/query_frontend.go
  pkg/pyroscope/modules_experimental.go
  pkg/querybackend/backend.go
  pkg/querybackend/client/client.go
  pkg/querybackend/client/client_test.go
Owners: @marcsanmi, @bryanhuhta, @grafana/pyroscope-team, @aleks-p
