Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

fix: Fix `Update Contributors in README` workflow (#4654)
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

docs: Fix reference to `.goreleaser.yaml` (#4658)
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix(examples): update eBPF profiler to support Linux 6.16+ kernels (#4660)
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/Dockerfile
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/README.md
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/docker/docker-compose.yml
Owners: @grafana/pyroscope-team

fix: Return modified labels after validation sanitization
  pkg/distributor/distributor.go
  pkg/model/pprofsplit/pprof_split.go
  pkg/model/pprofsplit/pprof_split_by.go
  pkg/model/pprofsplit/pprof_split_test.go
  pkg/segmentwriter/segment.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @aleks-p, @alsoba13, @korniltsev, @bryanhuhta, @marcsanmi

fmt
  pkg/model/pprofsplit/pprof_split_test.go
  pkg/segmentwriter/segment.go
Owners: @korniltsev, @bryanhuhta, @alsoba13

fix test
  pkg/validation/validate_test.go
Owners: @marcsanmi, @aleks-p

chore: update helm release k8s-monitoring to v3.6.0 (#4652)
  Makefile
  operations/monitoring/helm/pyroscope-monitoring/Chart.lock
  operations/monitoring/helm/pyroscope-monitoring/Chart.yaml
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.5.3.tgz
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.6.0.tgz
Owners: @grafana/pyroscope-team

remove debuginfo module, place everything into distributor
  pkg/debuginfo/parcaglue.go
  pkg/distributor/distributor.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/pyroscope.go
Owners: @grafana/pyroscope-team, @aleks-p, @alsoba13

perf: Add benchmarks for timeseries query (exemplars) performance
  pkg/querybackend/query_time_series_test.go
Owners: @marcsanmi, @aleks-p

updates to expand coverage
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  tools/source-code-mapping-generators/java-jar-mapper/config.go
  tools/source-code-mapping-generators/java-jar-mapper/github.go
  tools/source-code-mapping-generators/java-jar-mapper/jar-mappings.json
  tools/source-code-mapping-generators/java-jar-mapper/jar.go
  tools/source-code-mapping-generators/java-jar-mapper/jdk.go
  tools/source-code-mapping-generators/java-jar-mapper/main.go
  tools/source-code-mapping-generators/java-jar-mapper/main_test.go
  tools/source-code-mapping-generators/java-jar-mapper/mapping.go
  tools/source-code-mapping-generators/java-jar-mapper/pom.go
  tools/source-code-mapping-generators/java-jar-mapper/services.go
Owners: @grafana/pyroscope-team

handle shaded dependencies
  tools/source-code-mapping-generators/java-jar-mapper/jar.go
  tools/source-code-mapping-generators/java-jar-mapper/main_test.go
Owners: @grafana/pyroscope-team

fmt
  tools/source-code-mapping-generators/java-jar-mapper/jar.go
  tools/source-code-mapping-generators/java-jar-mapper/services.go
Owners: @grafana/pyroscope-team

fix: Return modified labels after validation sanitization (#4662)
  pkg/distributor/distributor.go
  pkg/model/pprofsplit/pprof_split.go
  pkg/model/pprofsplit/pprof_split_by.go
  pkg/model/pprofsplit/pprof_split_test.go
  pkg/segmentwriter/segment.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @aleks-p, @alsoba13, @korniltsev, @bryanhuhta, @marcsanmi

separate config knobs
  pkg/debuginfo/parcaglue.go
  pkg/distributor/distributor.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/pyroscope.go
  pkg/symbolizer/symbolizer.go
Owners: @grafana/pyroscope-team, @aleks-p, @alsoba13, @marcsanmi, @korniltsev

Update golang version to 1.24.11
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Owners: @grafana/pyroscope-team

remove generated code
  go.mod
  go.work.sum
  pkg/debuginfo/parcaglue.go
  pkg/parca/debuginfo/client.go
  pkg/parca/debuginfo/debuginfod.go
  pkg/parca/debuginfo/fetcher.go
  pkg/parca/debuginfo/forwarder.go
  pkg/parca/debuginfo/metadata.go
  pkg/parca/debuginfo/reader.go
  pkg/parca/debuginfo/store.go
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo.pb.go
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo.pb.gw.go
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo_vtproto.pb.go
  pkg/symbolizer/symbolizer.go
Owners: @grafana/pyroscope-team, @marcsanmi, @korniltsev

fmt
  pkg/debuginfo/parcaglue.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/parca/debuginfo/metadata_test.go
  pkg/parca/debuginfo/store_test.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/pyroscope.go
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev, @marcsanmi

go/mod
  go.sum
Owners: @grafana/pyroscope-team

Update golang version to 1.24.11
  .pyroscope.yaml
Owners: @grafana/pyroscope-team

Update golang version to 1.24.11 (#4666)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  .pyroscope.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Owners: @grafana/pyroscope-team

fix: No data for format=dot queries, should not result in a 500
  pkg/querier/http.go
  pkg/querier/http_test.go
Owners: @marcsanmi

Update README.md
  README.md
Owners: @grafana/pyroscope-team

profilecli(canary): do not check for service.name label
  cmd/profilecli/canary_exporter_probes.go
  pkg/validation/validate.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

profilecli(canary): do not check for service.name label (#4677)
  cmd/profilecli/canary_exporter_probes.go
  pkg/validation/validate.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

fix: No data for format=dot queries, should not result in a 500 (#4675)
  pkg/querier/http.go
  pkg/querier/http_test.go
Owners: @marcsanmi

profilecli(canary): do not check for service.name label (#4677)
  cmd/profilecli/canary_exporter_probes.go
  pkg/validation/validate.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

fix: No data for format=dot queries, should not result in a 500 (#4675)
  pkg/querier/http.go
  pkg/querier/http_test.go
Owners: @marcsanmi

Update weekly f148 with fixes (#4678)
  cmd/profilecli/canary_exporter_probes.go
  pkg/querier/http.go
  pkg/querier/http_test.go
  pkg/validation/validate.go
Owners: @grafana/pyroscope-team, @marcsanmi, @aleks-p

chore: Run update-contributors workflow once a month
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

Update README.md (#4676)
  README.md
Owners: @grafana/pyroscope-team

feat(v2): enable Raft metrics
  pkg/metastore/raftnode/node.go
Owners: @aleks-p

helm: Add rustfs as object store
  Makefile
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/pyroscope/helm/pyroscope/Chart.lock
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/charts/rustfs-1.0.3-cs.3.tgz
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/templates/rustfs-create-bucket-job.yaml
  operations/pyroscope/helm/pyroscope/values.yaml
  operations/pyroscope/jsonnet/values.json
Owners: @grafana/pyroscope-team

chore: Update helm to 3.19.2
  Makefile
Owners: @grafana/pyroscope-team

chore: Address npm CVEs
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

chore: Update helm to 3.19.2 (#4680)
  Makefile
Owners: @grafana/pyroscope-team

chore: Run update-contributors workflow once a month (#4679)
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

chore: update rideshare examples
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/build.gradle.kts
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/.ruby-version
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Dockerfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Gemfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Gemfile.lock
Owners: @grafana/pyroscope-team

Assign appropriate HTTP status codes
  pkg/querier/http.go
Owners: @marcsanmi

chore: Address npm CVEs (#4682)
  package.json
  yarn.lock
Owners: @grafana/pyroscope-team

chore: update rideshare examples (#4683)
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/docker-compose.yml
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/build.gradle.kts
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/.ruby-version
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Dockerfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Gemfile
  examples/language-sdk-instrumentation/ruby/rideshare_rails/Gemfile.lock
Owners: @grafana/pyroscope-team
