Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# area/read-path
/pkg/experiment/query_backend/ @marcsanmi @aleks-p
/pkg/experiment/symbolizer/ @marcsanmi
/pkg/storegateway/ @aleks-p
/pkg/scheduler/
/pkg/phlaredb/symdb/ @simonswine
/pkg/phlaredb/tsdb/ @simonswine
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi
/pkg/experiment/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p
/pkg/experiment/distributor/
/pkg/experiment/ingester/
/pkg/og/convert/
/pkg/pprof/
/pkg/model/relabel/
/pkg/model/
/pkg/model/pprof_split/
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi
/pkg/ingester/
/pkg/phlaredb/shipper/

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/experiment/compactor/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/experiment/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

chore: Refactor API handler registration
  pkg/api/api.go
  pkg/api/api_experimental.go
  pkg/api/connect_options.go
  pkg/api/register_options.go
  pkg/phlare/phlare.go
Owners: @grafana/pyroscope-team

Update golang version to 1.23.10
  .github/workflows/ci.yml
  .github/workflows/e2e.yaml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/test_ebpf.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Owners: @grafana/pyroscope-team

docs(pyroscope-otel): update import statement for pyroscope-otel
  docs/sources/configure-client/trace-span-profiles/python-span-profiles.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Improve override name
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/limits.go
Owners: @aleks-p, @marcsanmi

Improve override name (#4247)
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/validation/limits.go
Owners: @aleks-p, @marcsanmi

chore: optimize metrics for discarded data in distributor
  pkg/distributor/distributor.go
Owners: @aleks-p

Make ring page methods explict
  pkg/api/register_options.go
Owners: @grafana/pyroscope-team

chore: Refactor API handler registration (#4244)
  pkg/api/api.go
  pkg/api/api_experimental.go
  pkg/api/connect_options.go
  pkg/api/register_options.go
  pkg/phlare/phlare.go
Owners: @grafana/pyroscope-team
