Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

address refs
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  tools/java-jar-mapper/main.go
  tools/java-jar-mapper/main_test.go
Owners: @grafana/pyroscope-team

make deterministic
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  tools/java-jar-mapper/main.go
Owners: @grafana/pyroscope-team

chore: Update golang version to 1.24.9 (#4596)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  examples/golang-pgo/Dockerfile
  examples/golang-pgo/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  examples/tracing/golang-push/go.mod
  go.mod
  go.work
  lidia/go.mod
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p, @korniltsev

feat: Implement `java-jar-mapper` tool
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  pkg/frontend/vcs/config/config.go
  tools/source-code-mapping-generators/java-jar-mapper/.gitignore
  tools/source-code-mapping-generators/java-jar-mapper/README.md
  tools/source-code-mapping-generators/java-jar-mapper/config.go
  tools/source-code-mapping-generators/java-jar-mapper/github.go
  tools/source-code-mapping-generators/java-jar-mapper/jar-mappings.json
  tools/source-code-mapping-generators/java-jar-mapper/jar.go
  tools/source-code-mapping-generators/java-jar-mapper/jdk.go
  tools/source-code-mapping-generators/java-jar-mapper/main.go
  tools/source-code-mapping-generators/java-jar-mapper/main_test.go
  tools/source-code-mapping-generators/java-jar-mapper/mapping.go
  tools/source-code-mapping-generators/java-jar-mapper/pom.go
  tools/source-code-mapping-generators/java-jar-mapper/services.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

fmt and lint
  tools/source-code-mapping-generators/java-jar-mapper/config.go
  tools/source-code-mapping-generators/java-jar-mapper/main_test.go
  tools/source-code-mapping-generators/java-jar-mapper/mapping.go
  tools/source-code-mapping-generators/java-jar-mapper/services.go
Owners: @grafana/pyroscope-team

fix: Update node in update_examples.Dockerfile (#4638)
  Makefile.examples
  tools/update_examples.Dockerfile
Owners: @grafana/pyroscope-team

feat: Add new source-code-coverage option to profilecli
  cmd/profilecli/main.go
  cmd/profilecli/source_code_coverage.go
  cmd/profilecli/source_code_coverage_test.go
Owners: @grafana/pyroscope-team

Use grpc.WithStatsHandler to record client metrics
  pkg/pyroscope/modules_experimental.go
  pkg/util/grpc.go
Owners: @grafana/pyroscope-team

Update metric description
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Add a few more metastore compaction metrics
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/metrics.go
  pkg/metastore/compaction/compactor/metrics_test.go
Owners: @aleks-p

Improve misconfiguration handling, variable names
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Bring back level label
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Rework stats collection approach, to avoid data races
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Fix backlog jobs calculation
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
Owners: @aleks-p

Calculate backlog jobs from batches
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/metrics.go
  pkg/metastore/compaction/compactor/metrics_test.go
Owners: @aleks-p

perf: Merge duplicate annotations
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
Owners: @korniltsev, @bryanhuhta

chore: Update java images from openjdk to sapmachine
  examples/grafana-alloy-auto-instrumentation/java/kubernetes/java-fast-slow.yaml
  examples/language-sdk-instrumentation/java/fib/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/simple/Dockerfile
  examples/tracing/java/Dockerfile
Owners: @grafana/pyroscope-team

Remove outdated comment
  pkg/model/time_series_merger.go
Owners: @korniltsev, @bryanhuhta

chore: Update java images from openjdk to sapmachine (#4647)
  examples/grafana-alloy-auto-instrumentation/java/kubernetes/java-fast-slow.yaml
  examples/language-sdk-instrumentation/java/fib/Dockerfile
  examples/language-sdk-instrumentation/java/rideshare/Dockerfile
  examples/language-sdk-instrumentation/java/simple/Dockerfile
  examples/tracing/java/Dockerfile
Owners: @grafana/pyroscope-team

perf: Merge duplicate annotations (#4646)
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
Owners: @korniltsev, @bryanhuhta

Introduce additional metastore compaction metrics (#4625)
  pkg/metastore/compaction/compactor/compaction_queue.go
  pkg/metastore/compaction/compactor/compaction_queue_test.go
  pkg/metastore/compaction/compactor/metrics.go
  pkg/metastore/compaction/compactor/metrics_test.go
Owners: @aleks-p

chore(examples): update examples
  examples/golang-pgo/go.work.sum
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.work.sum
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.work.sum
  examples/language-sdk-instrumentation/python/rideshare/django/app/requirements.txt
  examples/language-sdk-instrumentation/python/rideshare/fastapi/Dockerfile
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/python/simple/requirements.txt
Owners: @grafana/pyroscope-team

parca debug-info upload draft
  .idea/runConfigurations/v2.xml
  go.mod
  go.sum
  lidia/lidia.go
  pkg/api/api.go
  pkg/debuginfo/go.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/pyroscope/pyroscope.go
  pkg/symbolizer/symbolizer.go
  pkg/util/httpgrpc/server.go
Owners: @grafana/pyroscope-team, @korniltsev, @marcsanmi, @alsoba13

chore(examples): update examples
  examples/language-sdk-instrumentation/python/rideshare/django/app/requirements.txt
  examples/language-sdk-instrumentation/python/rideshare/fastapi/Dockerfile
  examples/language-sdk-instrumentation/python/rideshare/flask/Dockerfile
  examples/language-sdk-instrumentation/python/simple/requirements.txt
Owners: @grafana/pyroscope-team

chore: remove unnecesarry auth squats
  pkg/api/api.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_auth_test.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/pyroscope/modules.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

chore: update helm release k8s-monitoring to v3.6.0
  Makefile
  operations/monitoring/helm/pyroscope-monitoring/Chart.lock
  operations/monitoring/helm/pyroscope-monitoring/Chart.yaml
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.5.3.tgz
  operations/monitoring/helm/pyroscope-monitoring/charts/k8s-monitoring-3.6.0.tgz
Owners: @grafana/pyroscope-team

docs: Update profiling docs to include Java support
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Fix `Update Contributors in README` workflow
  .github/workflows/update-contributors.yml
Owners: @grafana/pyroscope-team

fix: Fetching go stdlib without configs
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

convert `coverage` in to subcommand of `source-code`
  cmd/profilecli/main.go
Owners: @grafana/pyroscope-team

override env var in param configuration
  cmd/profilecli/source_code_coverage.go
Owners: @grafana/pyroscope-team

fix: Fetching go stdlib without configs (#4655)
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

feat: Add new `source-code coverage` option to profilecli (#4642)
  cmd/profilecli/main.go
  cmd/profilecli/source_code_coverage.go
  cmd/profilecli/source_code_coverage_test.go
Owners: @grafana/pyroscope-team

refactor: stacktrace tree through avl tree
  pkg/phlaredb/symdb/partition_memory.go
  pkg/phlaredb/symdb/stacktrace_tree.go
  pkg/phlaredb/symdb/stacktrace_tree_test.go
Owners: @simonswine, @korniltsev

docs: Fix reference to `.goreleaser.yaml`
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore: remove unnecesarry auth squats (#4650)
  pkg/api/api.go
  pkg/ingester/otlp/ingest_handler.go
  pkg/ingester/otlp/ingest_handler_auth_test.go
  pkg/ingester/otlp/ingest_handler_test.go
  pkg/pyroscope/modules.go
Owners: @grafana/pyroscope-team, @alsoba13, @korniltsev

add parca
  examples/golang-pgo/go.work.sum
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.work.sum
  go.mod
  go.sum
  go.work.sum
  pkg/api/api.go
  pkg/debuginfo/go.go
  pkg/debuginfo/parcaglue.go
  pkg/parca/cache/cache.go
  pkg/parca/cache/cache_test.go
  pkg/parca/cache/cache_with_eviction.go
  pkg/parca/cache/cache_with_ttl.go
  pkg/parca/cache/loading.go
  pkg/parca/cache/loading_test.go
  pkg/parca/cache/lru/lru.go
  pkg/parca/cache/lru/lru_test.go
  pkg/parca/cache/lru/lru_with_eviction_test.go
  pkg/parca/cache/lru/metrics.go
  pkg/parca/cache/lru/options.go
  pkg/parca/cache/noop.go
  pkg/parca/debuginfo/client.go
  pkg/parca/debuginfo/debuginfod.go
  pkg/parca/debuginfo/debuginfod_test.go
  pkg/parca/debuginfo/fetcher.go
  pkg/parca/debuginfo/forwarder.go
  pkg/parca/debuginfo/metadata.go
  pkg/parca/debuginfo/metadata_test.go
  pkg/parca/debuginfo/reader.go
  pkg/parca/debuginfo/store.go
  pkg/parca/debuginfo/store_test.go
  pkg/parca/debuginfo/testdata/validelf_nosections
  pkg/parca/debuginfo/testdata/validelf_withsections
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo.pb.go
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo.pb.gw.go
  pkg/parca/gen/proto/go/parca/debuginfo/v1alpha1/debuginfo_vtproto.pb.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/symbolizer/symbolizer.go
Owners: @grafana/pyroscope-team, @marcsanmi, @korniltsev

note
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

feat: Add profile_id_selector for individual profile retrieval
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/querier/querier.go
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_tree.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta

fix(examples): update eBPF profiler to support Linux 6.16+ kernels
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/Dockerfile
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/README.md
  examples/grafana-alloy-auto-instrumentation/ebpf-otel/docker/docker-compose.yml
Owners: @grafana/pyroscope-team
