Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

fix: Missing labels updates to sample groups in `VisitSampleSeries` (#4695)
  pkg/model/pprofsplit/pprof_split.go
Owners: @korniltsev, @bryanhuhta

Add profile capture at distributor
  pkg/api/api.go
  pkg/distributor/distributor.go
  pkg/distributor/distributor_test.go
  pkg/pyroscope/modules.go
Owners: @grafana/pyroscope-team, @aleks-p, @alsoba13

Fix printed output
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Make it possible to specify the duration
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Add tracing for profile captures
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

Make capture context independent
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

chore(examples): fix issues with rideshare .NET example
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
Owners: @grafana/pyroscope-team

Link span of new capture context
  pkg/distributor/distributor.go
Owners: @aleks-p, @alsoba13

chore: Add tests to validate public read path endpoint status codes (#4685)
  pkg/frontend/frontend_diff.go
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_label_values.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/test/integration/http_status_codes_test.go
  pkg/util/spanlogger/query_log.go
Owners: @marcsanmi, @bryanhuhta, @grafana/pyroscope-team

fix: mask COS provider secret_key config
  pkg/objstore/providers/cos/bucket_client.go
  pkg/objstore/providers/cos/config.go
  pkg/objstore/providers/cos/config_test.go
Owners: @simonswine

fix: mask COS provider secret_key config (#4700)
  pkg/objstore/providers/cos/bucket_client.go
  pkg/objstore/providers/cos/config.go
  pkg/objstore/providers/cos/config_test.go
Owners: @simonswine

fix: mask COS provider secret_key config (#4700)
  pkg/objstore/providers/cos/bucket_client.go
  pkg/objstore/providers/cos/config.go
  pkg/objstore/providers/cos/config_test.go
Owners: @simonswine

fix panic in pprof split when using relabel.LabelDrop
  pkg/model/pprofsplit/pprof_split.go
Owners: @korniltsev, @bryanhuhta

Add test, remove one defensive copy
  pkg/model/pprofsplit/pprof_split.go
  pkg/model/pprofsplit/pprof_split_test.go
Owners: @korniltsev, @bryanhuhta

fix panic in pprof split when using `relabel.LabelDrop` (#4699)
  pkg/model/pprofsplit/pprof_split.go
  pkg/model/pprofsplit/pprof_split_test.go
Owners: @korniltsev, @bryanhuhta

fix panic in pprof split when using `relabel.LabelDrop` (#4699)
  pkg/model/pprofsplit/pprof_split.go
  pkg/model/pprofsplit/pprof_split_test.go
Owners: @korniltsev, @bryanhuhta

remove hardcoded metrics port in rideshare example
  examples/language-sdk-instrumentation/golang-push/rideshare/main.go
Owners: @grafana/pyroscope-team

remove hardcoded metrics port in rideshare example (#4701)
  examples/language-sdk-instrumentation/golang-push/rideshare/main.go
Owners: @grafana/pyroscope-team

fix: mask COS provider secret_key config (#4700)
  pkg/objstore/providers/cos/bucket_client.go
  pkg/objstore/providers/cos/config.go
  pkg/objstore/providers/cos/config_test.go
Owners: @simonswine

fix: mask COS provider secret_key config (#4700)
  pkg/objstore/providers/cos/bucket_client.go
  pkg/objstore/providers/cos/config.go
  pkg/objstore/providers/cos/config_test.go
Owners: @simonswine

chore: Update helm chart and release notes for v1.17
  docs/sources/release-notes/v1-17.md
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Remove unintended double base64 encoding in vcs service
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

chore: Release helm chart for version 1.16.1
  operations/monitoring/helm/pyroscope-monitoring/README.md
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

docs: Fix code blocks code generation (#4693)
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

remove release notes
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Update golang version to 1.24.11
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Owners: @grafana/pyroscope-team

chore: Patch golang.org/x/crypto/ssh
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

Update golang version to 1.24.11
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
Owners: @grafana/pyroscope-team

chore: Patch golang.org/x/crypto/ssh
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  go.work.sum
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/pyroscope-team

[release/v1.15] Backport go 1.24.11 and x/crypto update (#4707)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  api/go.sum
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  go.mod
  go.sum
  go.work.sum
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p

chore: Update helm chart and release notes for v1.17 (#4702)
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

Do not publish latest
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

[release/v1.16] Backport go 1.24.11 and x/crypto update (#4708)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  api/go.sum
  examples/golang-pgo/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  go.mod
  go.sum
  go.work.sum
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p

Do not publish latest
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

chore(release): do not run on weekly releases, pass correct release tag explicitly
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

docs: update release notes for v1.17, v1.16.x & v1.15.x
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

remove weekly git tag filter
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

docs: update release notes for v1.17, v1.16.x & v1.15.x (#4710)
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore(release): do not run on weekly tags, pass correct release tag explicitly (#4709)
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

docs: Fix code blocks code generation (#4693)
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team
