Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

feat: add v1 compatibility for empty profileID
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
Owners: @grafana/pyroscope-team

feat: add exemplar sampling in TimeSeriesBuilder
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
Owners: @korniltsev, @bryanhuhta

feat: add multi-block exemplar support
  pkg/model/time_series.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

fix linting
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

Fix error in configuring-github-integration.md
  docs/sources/configure-server/configuring-github-integration.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

address comments
  pkg/og/convert/speedscope/parser.go
  pkg/og/convert/speedscope/speedscope_test.go
  pkg/og/convert/speedscope/testdata/duplicates.speedscope.json
Owners: @korniltsev, @bryanhuhta

fix: Implement Speedscope profile merging (#4592)
  pkg/og/convert/speedscope/parser.go
  pkg/og/convert/speedscope/speedscope_test.go
  pkg/og/convert/speedscope/testdata/duplicates.speedscope.json
Owners: @korniltsev, @bryanhuhta

fix:utf-8 error
  pkg/querybackend/query_profile_entry.go
Owners: @marcsanmi, @aleks-p

feat: add include_exemplars flag to timeseries APIs
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  docs/sources/reference-server-api/index.md
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

refactor: move profileID fetching to query_time_series
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @marcsanmi, @aleks-p

reafctor: add lazy label fetching for exemplars to have all the labels
  pkg/model/time_series.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_test.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

Add ExemplarType enum
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

chore: Fix debug image
  Makefile
  cmd/pyroscope/debug.Dockerfile
Owners: @grafana/pyroscope-team

fix: SelectSeries not correct for single reports
  pkg/querybackend/block_reader_test.go
  pkg/querybackend/query.go
  pkg/querybackend/query_label_names.go
  pkg/querybackend/query_label_values.go
  pkg/querybackend/query_pprof.go
  pkg/querybackend/query_series_labels.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_tree.go
  pkg/querybackend/report_aggregator.go
  pkg/querybackend/report_aggregator_test.go
  pkg/querybackend/testdata/fixtures/time_series.json
  pkg/querybackend/testdata/fixtures/time_series_first_block.json
Owners: @marcsanmi, @aleks-p

vcs: Allow to provide functionName to the GetFile API. (#4613)
  api/connect-openapi/gen/vcs/v1/vcs.openapi.yaml
  api/gen/proto/go/vcs/v1/vcs.pb.go
  api/gen/proto/go/vcs/v1/vcs_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/vcs/v1/vcs.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Fix error in configuring-github-integration.md (#4614)
  docs/sources/configure-server/configuring-github-integration.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Fix cleanup function
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/find_java_test.go
Owners: @marcsanmi, @bryanhuhta

Handle local with source repo correctly
  pkg/frontend/vcs/source/find.go
Owners: @marcsanmi, @bryanhuhta

Spring boot is a mess
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

Add some config draft code
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/config_finder.go
  pkg/frontend/vcs/source/config_finder_test.go
Owners: @marcsanmi, @bryanhuhta

Refactor AI slop
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/config_finder.go
  pkg/frontend/vcs/source/config_finder_test.go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
  pkg/frontend/vcs/source/find_java.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Add two exemplary pyroscope.yaml files
  .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
Owners: @grafana/pyroscope-team

Fix some bugs
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  pkg/frontend/vcs/source/find_java.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Golang stdlib impovements
  .pyroscope.yaml
  pkg/frontend/vcs/config/config.go
  pkg/frontend/vcs/config/config_test.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_java.go
  pkg/frontend/vcs/source/golang/golang.go
  pkg/frontend/vcs/source/golang/golang_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta

Support assembler file endings for go
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_go.go
Owners: @marcsanmi, @bryanhuhta

Instrument github errors better
  pkg/frontend/vcs/client/github.go
Owners: @marcsanmi, @bryanhuhta

fix: Set file name and line number in symbolization (#4610)
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

feat: hack at using syft and github api to generate .pyroscope.yaml
  examples/language-sdk-instrumentation/java/rideshare/.pyroscope.yaml
  tools/syft-to-pyroscope-yaml/java_repo_mappings.json
  tools/syft-to-pyroscope-yaml/requirements.txt
  tools/syft-to-pyroscope-yaml/syft_to_pyroscope_yaml.py
Owners: @grafana/pyroscope-team

Fix error in configuring-github-integration.md (#4614)
  docs/sources/configure-server/configuring-github-integration.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

refactor: aggregate exemplar values across blocks before selecting top-n
  pkg/model/time_series.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

chore: Fix debug image (#4616)
  Makefile
  cmd/pyroscope/debug.Dockerfile
Owners: @grafana/pyroscope-team

feat: Add metric to track unsymbolized profile blocks at ingestion
  pkg/segmentwriter/memdb/head.go
  pkg/segmentwriter/memdb/metrics.go
Owners: @alsoba13, @korniltsev

feat: Add metric to track unsymbolized profile blocks at ingestion (#4619)
  pkg/segmentwriter/memdb/head.go
  pkg/segmentwriter/memdb/metrics.go
Owners: @alsoba13, @korniltsev

chore: Add trace spans for query-frontend
  pkg/frontend/readpath/queryfrontend/query_frontend.go
Owners: @marcsanmi, @bryanhuhta

feat: Add metric to track unsymbolized profile blocks at ingestion (#4619)
  pkg/segmentwriter/memdb/head.go
  pkg/segmentwriter/memdb/metrics.go
Owners: @alsoba13, @korniltsev

Ensure we are holding the lock when initializing the aggreagator.
  pkg/querybackend/report_aggregator.go
Owners: @marcsanmi, @aleks-p

chore: Add trace spans for query-frontend (#4620)
  pkg/frontend/readpath/queryfrontend/query_frontend.go
Owners: @marcsanmi, @bryanhuhta

Remove option from exemplar_type
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/querier/v1/querier.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Use error
  pkg/querybackend/report_aggregator.go
Owners: @marcsanmi, @aleks-p

Add exemplartype processing
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/querybackend/query_time_series.go
Owners: @korniltsev, @bryanhuhta, @marcsanmi, @aleks-p

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
