Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine

docs: Fix code blocks code generation (#4693)
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: update release notes for v1.17, v1.16.x & v1.15.x (#4710)
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: update release notes for v1.16.x & v1.15.x (#4710)
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Fix code blocks code generation (#4693)
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: update release notes for v1.15.x (#4710)
  docs/sources/release-notes/v1-15.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Do not publish homebrew
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

Do not publish homebrew
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

[release/v1.17] backport docs updates (#4711)
  docs/sources/reference-server-api/index.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  docs/sources/release-notes/v1-17.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: add warning for patching older release versions
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

[release/v1.16] backport docs updates (#4712)
  docs/sources/reference-server-api/index.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

[release/v1.15] backport docs updates (#4713)
  docs/sources/reference-server-api/index.md
  docs/sources/release-notes/v1-15.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Remove unintended double base64 encoding in vcs service (#4703)
  pkg/frontend/vcs/source/find.go
  pkg/frontend/vcs/source/find_test.go
Owners: @marcsanmi, @bryanhuhta

docs: add missing CVE reference in v1.17 release notes
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: add missing CVE reference in v1.17 release notes (#4715)
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore(release): do not run on weekly tags, pass correct release tag explicitly (#4709)
  .github/workflows/release.yml
Owners: @grafana/pyroscope-team

docs: add warning for patching older release versions (#4714)
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

exception example
  examples/language-sdk-instrumentation/dotnet/rideshare/example/ScooterService.cs
Owners: @grafana/pyroscope-team

chore(examples): update examples
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
Owners: @grafana/pyroscope-team

test: Prevent test flake in pkg/phlaredb/bucketindex
  pkg/phlaredb/bucketindex/loader_test.go
Owners: @aleks-p

Fix boolean templating
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

Push weekly release images through goreleaser
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  Makefile
Owners: @grafana/pyroscope-team

Allow linux only builds to speed up weekly/main builds
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

Update workflow so they behave as intended
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
Owners: @grafana/pyroscope-team

chore: Do not run update examples cron on forks
  .github/workflows/update-examples-cron.yml
Owners: @grafana/pyroscope-team

Migrate from builds to ids, as field is deprecated
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

Use correct GOTOOLCHAIN for goreleaser
  Makefile
Owners: @grafana/pyroscope-team

chore: Do not run update examples cron on forks (#4718)
  .github/workflows/update-examples-cron.yml
Owners: @grafana/pyroscope-team

Remove mirror not as useful as I initially thought
  .goreleaser.yaml
Owners: @grafana/pyroscope-team

Remove outdated comment
  pkg/phlaredb/bucketindex/loader_test.go
Owners: @aleks-p

test: Prevent test flake in pkg/phlaredb/bucketindex (#4717)
  pkg/phlaredb/bucketindex/loader_test.go
Owners: @aleks-p

Update default image prefix to docker.io/grafana
  .goreleaser.yaml
  Makefile
Owners: @grafana/pyroscope-team

Update goreleaser and use it to push weekly builds (#4719)
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  Makefile
Owners: @grafana/pyroscope-team

chore: Publish Github releases immediately during release process
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  docs/internal/RELEASE.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

chore: Publish Github releases immediately during release process (#4720)
  .github/workflows/release.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  docs/internal/RELEASE.md
Owners: @grafana/pyroscope-team, @grafana/docs-profiles

docs: add missing CVE reference in v1.17 release notes (#4715)
  docs/sources/release-notes/v1-17.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

loadgen
  examples/language-sdk-instrumentation/dotnet/rideshare/load-generator.py
Owners: @grafana/pyroscope-team

dockerfiles
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
Owners: @grafana/pyroscope-team

dockerignore
  examples/language-sdk-instrumentation/dotnet/rideshare/example/.dockerignore
Owners: @grafana/pyroscope-team

the fix
  examples/language-sdk-instrumentation/dotnet/rideshare/example/Example.csproj
Owners: @grafana/pyroscope-team

chore(exampless,.NET) update Pyroscope.Opentelemetry dependency, fix dynamic labels (#4722)
  examples/language-sdk-instrumentation/dotnet/rideshare/Dockerfile
  examples/language-sdk-instrumentation/dotnet/rideshare/example/.dockerignore
  examples/language-sdk-instrumentation/dotnet/rideshare/example/Example.csproj
  examples/language-sdk-instrumentation/dotnet/rideshare/load-generator.py
  examples/language-sdk-instrumentation/dotnet/rideshare/musl.Dockerfile
Owners: @grafana/pyroscope-team
