Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

fix: Replace nop logger used in label validation
  pkg/distributor/distributor.go
  pkg/util/logger.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @aleks-p, @alsoba13, @grafana/pyroscope-team, @marcsanmi

fix: create fallback symbols for mappings without BuildIDs (#4527)
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

Improve profile visualization further
  pkg/operations/v2/model.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

fix: Docs release workflow
  .github/workflows/publish-technical-documentation-release.yml
Owners: @jdbaldry

fix: Docs release workflow
  .github/workflows/publish-technical-documentation-release.yml
Owners: @jdbaldry

fix: Docs release workflow (#4534)
  .github/workflows/publish-technical-documentation-release.yml
Owners: @jdbaldry

Update help/readme
  tools/api-docs-generator/README.md
  tools/api-docs-generator/main.go
Owners: @grafana/pyroscope-team

Improve symbols page
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
Owners: @grafana/pyroscope-team

Update comments for uuid and annotations
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/push/v1/push.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/segmentwriter/v1/push.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/push/v1/push.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/push/v1/push.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/phlaredb/schemas/v1/profiles.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Remove anonotations from the docs
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Remove accidental downgrade
  api/go.mod
Owners: @simonswine, @marcsanmi, @aleks-p

fix: Replace nop logger used in label validation (#4531)
  pkg/distributor/distributor.go
  pkg/util/logger.go
  pkg/validation/validate.go
  pkg/validation/validate_test.go
Owners: @aleks-p, @alsoba13, @grafana/pyroscope-team, @marcsanmi

Run `make fmt`
  api/push/v1/push.proto
  api/types/v1/types.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Update docs/sources/reference-server-api/index.md
  docs/sources/reference-server-api/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

fix: Docs release workflow (#4533)
  .github/workflows/publish-technical-documentation-release.yml
Owners: @jdbaldry

Fix spelling in template
  docs/sources/reference-server-api/index.template
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Cleanup file
  docs/api-reference.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Improve profile explorer layout
  pkg/operations/v2/model.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
Owners: @grafana/pyroscope-team

fix: make minimum step duration configurable for eBPF profiling
  pkg/api/api.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/timeline/calculator.go
  pkg/querier/timeline/calculator_test.go
Owners: @grafana/pyroscope-team, @marcsanmi

chore: clarify otlp ingest handler naming
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

chore: clarify otlp ingest handler naming (#4535)
  pkg/ingester/otlp/ingest_handler.go
Owners: @alsoba13, @korniltsev

Improve TSDB index page
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/tool.blocks.dataset.index.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
Owners: @grafana/pyroscope-team

A few final touches
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

Cleanup code
  pkg/operations/v2/dataset_handlers.go
  pkg/operations/v2/handlers.go
  pkg/operations/v2/model.go
  pkg/operations/v2/pages.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.index.gohtml
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
  pkg/operations/v2/tool.blocks.profile.call.tree.gohtml
Owners: @grafana/pyroscope-team

Refactor pagination
  pkg/operations/v2/pages.go
  pkg/operations/v2/tool.blocks.dataset.profiles.gohtml
  pkg/operations/v2/tool.blocks.dataset.symbols.gohtml
  pkg/operations/v2/tool.pagination.gohtml
Owners: @grafana/pyroscope-team

More touchups
  pkg/operations/v2/model.go
  pkg/operations/v2/profile_handlers.go
  pkg/operations/v2/tool.blocks.dataset.gohtml
Owners: @grafana/pyroscope-team

Don't 500 on bad profile types
  .gitignore
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/profile.go
  pkg/model/profile_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @korniltsev

Don't 500 on bad profile types (#4537)
  .gitignore
  pkg/frontend/readpath/queryfrontend/query_diff.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/profile.go
  pkg/model/profile_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @bryanhuhta, @korniltsev

make the timeline minInterval configurable from the querier
  pkg/api/api.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/timeline/calculator.go
  pkg/querier/timeline/calculator_test.go
Owners: @grafana/pyroscope-team, @marcsanmi

Fix spelling in template
  docs/sources/reference-server-api/index.template
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Remove anonotations from the docs
  docs/sources/reference-server-api/index.md
  tools/api-docs-generator/main.go
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Update docs/sources/reference-server-api/index.md
  docs/sources/reference-server-api/index.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Update comments for uuid and annotations
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/push/v1/push.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/segmentwriter/v1/push.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/push/v1/push.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/push/v1/push.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/phlaredb/schemas/v1/profiles.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team

Cleanup file
  docs/api-reference.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Run `make fmt`
  api/push/v1/push.proto
  api/types/v1/types.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Update help/readme
  tools/api-docs-generator/README.md
  tools/api-docs-generator/main.go
Owners: @grafana/pyroscope-team

Remove accidental downgrade
  api/go.mod
Owners: @simonswine, @marcsanmi, @aleks-p

Update code generation
  api/connect-openapi/gen/metastore/v1/tenant.openapi.yaml
Owners: @simonswine, @marcsanmi, @aleks-p

fix: make minimum step duration configurable for eBPF profiling
  pkg/api/api.go
  pkg/pyroscope/modules.go
  pkg/pyroscope/modules_experimental.go
  pkg/querier/http.go
  pkg/querier/querier.go
  pkg/querier/timeline/calculator.go
  pkg/querier/timeline/calculator_test.go
Owners: @grafana/pyroscope-team, @marcsanmi

feat: Add `client_capability_enabled_total` counter in ClientCapability middleware
  pkg/featureflags/client_capability.go
  pkg/pyroscope/modules.go
Owners: @grafana/pyroscope-team

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
