Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

Update test to account for different order
  pkg/og/convert/speedscope/speedscope_test.go
Owners: @korniltsev, @bryanhuhta

Improve metastore observability (#4580)
  pkg/metastore/compaction_raft_handler.go
  pkg/metastore/compaction_service.go
  pkg/metastore/fsm/fsm.go
  pkg/metastore/fsm/tracing_tx.go
  pkg/metastore/index_raft_handler.go
  pkg/metastore/index_service.go
  pkg/metastore/metastore.go
  pkg/metastore/metastore_raft.go
  pkg/metastore/query_service.go
  pkg/metastore/raftnode/node.go
  pkg/metastore/tenant_service.go
  pkg/metastore/tracing/context_registry.go
  pkg/metastore/tracing/context_registry_test.go
  pkg/metastore/tracing/util.go
Owners: @aleks-p

docs: Add release notes for v1.16
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Update Helm charts
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

Update `app.kubernetes.io/version` metadata
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: parallelize mapping symbolization to improve query performance
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

chore: update symbolizer metrics
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

Last version string bump
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: Update golang version to 1.24.9
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  examples/golang-pgo/Dockerfile
  examples/golang-pgo/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  examples/tracing/golang-push/go.mod
  go.mod
  go.work
  lidia/go.mod
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p, @korniltsev

helm check fix
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/pyroscope-team

chore: Update golang version to 1.24.9 (#4596)
  .github/workflows/ci.yml
  .github/workflows/fuzzer.yml
  .github/workflows/release.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-contributors.yml
  .github/workflows/weekly-release.yml
  .goreleaser.yaml
  api/go.mod
  examples/golang-pgo/Dockerfile
  examples/golang-pgo/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-alloy/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare-k6/go.mod
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile
  examples/language-sdk-instrumentation/golang-push/rideshare/Dockerfile.load-generator
  examples/language-sdk-instrumentation/golang-push/rideshare/go.mod
  examples/language-sdk-instrumentation/golang-push/simple/Dockerfile
  examples/language-sdk-instrumentation/golang-push/simple/go.mod
  examples/tracing/golang-push/Dockerfile
  examples/tracing/golang-push/Dockerfile.load-generator
  examples/tracing/golang-push/go.mod
  go.mod
  go.work
  lidia/go.mod
Owners: @grafana/pyroscope-team, @simonswine, @marcsanmi, @aleks-p, @korniltsev

Add golang update to release notes
  docs/sources/release-notes/v1-16.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

Remove redundant comment
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

chore: update symbolizer metrics (#4595)
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

prealloacte totalLocs
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

chore: Update helm charts and release notes for v1.16 (#4593)
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

add MaxDebuginfodConcurrency config
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

add sensible default
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

chore: parallelize mapping symbolization to improve query performance (#4594)
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

chore: minor symbolizer metrics improvements
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

chore: Update helm charts and release notes for v1.16 (#4593)
  docs/sources/release-notes/v1-14.md
  docs/sources/release-notes/v1-15.md
  docs/sources/release-notes/v1-16.md
  operations/pyroscope/helm/pyroscope/Chart.yaml
  operations/pyroscope/helm/pyroscope/README.md
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services-hpa.yaml
  operations/pyroscope/helm/pyroscope/rendered/legacy-micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/micro-services.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary-v2.yaml
  operations/pyroscope/helm/pyroscope/rendered/single-binary.yaml
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Update release note docs to address website release notes
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

doc: link to correct layer of directory
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

add suggestion
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

docs: Update release note docs to address website release notes (#4598)
  docs/internal/RELEASE.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

chore: minor symbolizer metrics improvements (#4597)
  pkg/symbolizer/debuginfod_client.go
  pkg/symbolizer/symbolizer.go
Owners: @marcsanmi, @korniltsev

doc: link to correct layer of directory (#4599)
  docs/sources/view-and-analyze-profile-data/line-by-line.md
Owners: @grafana/docs-profiles, @grafana/pyroscope-team

feat: add proto defintions for individual profile retrieval API
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.mux.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_get_profile.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_frontend_get_profile.go
  pkg/querier/querier_get_profile.go
  pkg/test/mocks/mockquerierv1connect/mock_querier_service_client.go
  pkg/util/spanlogger/query_log.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta

update Exemplar labels proto description
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/types/v1/types.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/types/v1/types.proto
Owners: @simonswine, @marcsanmi, @aleks-p

Remove GetProfile endpoint and add span_id
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.mux.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_get_profile.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_frontend_get_profile.go
  pkg/querier/querier_get_profile.go
  pkg/test/mocks/mockquerierv1connect/mock_querier_service_client.go
  pkg/util/spanlogger/query_log.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta

fix: Source code module path parsing
  pkg/frontend/vcs/source/golang/modules.go
  pkg/frontend/vcs/source/golang/modules_test.go
Owners: @marcsanmi, @bryanhuhta

chore: Add tracing instrumentation to source code integration
  pkg/frontend/vcs/client/github.go
  pkg/frontend/vcs/commit.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
Owners: @marcsanmi, @bryanhuhta

fix: tryFindGo doesn't trim repo path when absolute path is used
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
Owners: @marcsanmi, @bryanhuhta

fix: Source code module path parsing (#4609)
  pkg/frontend/vcs/source/golang/modules.go
  pkg/frontend/vcs/source/golang/modules_test.go
Owners: @marcsanmi, @bryanhuhta

fix: tryFindGo doesn't trim repo path when absolute path is used (#4608)
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
Owners: @marcsanmi, @bryanhuhta

chore: Add tracing instrumentation to source code integration (#4607)
  pkg/frontend/vcs/client/github.go
  pkg/frontend/vcs/commit.go
  pkg/frontend/vcs/service.go
  pkg/frontend/vcs/source/find_go.go
  pkg/frontend/vcs/source/find_go_test.go
Owners: @marcsanmi, @bryanhuhta

fix: Set file name and line number in symbolization
  pkg/symbolizer/symbolizer.go
  pkg/symbolizer/symbolizer_test.go
Owners: @marcsanmi, @korniltsev

Update `make docs` procedure
  docs/make-docs
Owners: @jdbaldry

vcs: Allow to provide functionName to the GetFile API.
  api/connect-openapi/gen/vcs/v1/vcs.openapi.yaml
  api/gen/proto/go/vcs/v1/vcs.pb.go
  api/gen/proto/go/vcs/v1/vcs_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/vcs/v1/vcs.proto
Owners: @simonswine, @marcsanmi, @aleks-p

feat: add profileID to query pipeline for exemplar support
  pkg/model/time_series.go
  pkg/phlaredb/schemas/v1/profiles.go
  pkg/querybackend/query_profile_entry.go
  pkg/querybackend/query_time_series.go
Owners: @korniltsev, @bryanhuhta, @simonswine, @aleks-p, @marcsanmi

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
