Repository grafana/pyroscope, changes with the owners that CODEOWNERS names for each.
All owners: @grafana/pyroscope-team, @jdbaldry, @grafana/docs-profiles, @korniltsev, @marcsanmi, @aleks-p, @bryanhuhta, @simonswine, @alsoba13

chore: Update Grafana components
  package.json
  scripts/webpack/stubs/react-custom-scrollbars-2.js
  scripts/webpack/webpack.common.js
  yarn.lock
Owners: @grafana/pyroscope-team

fmt
  scripts/webpack/webpack.common.js
Owners: @grafana/pyroscope-team

fix(lidia): use stable sort (#4758)
  lidia/builder.go
Owners: @korniltsev, @marcsanmi

chore: Update Grafana components (#4767)
  package.json
  scripts/webpack/stubs/react-custom-scrollbars-2.js
  scripts/webpack/webpack.common.js
  yarn.lock
Owners: @grafana/pyroscope-team

chore: Update Grafana components to 12.3.1
  cmd/pyroscope/frontend.Dockerfile
  package.json
  public/app/components/FlameGraphWrapper.tsx
  yarn.lock
Owners: @grafana/pyroscope-team

fix: Correct Grafana UI icons path for production build
  package.json
  scripts/webpack/webpack.common.js
  yarn.lock
Owners: @grafana/pyroscope-team

Add debug logging to debuginfo upload
  pkg/parca/debuginfo/store.go
Owners: @grafana/pyroscope-team

Remove debuginfod support from parca/debuginfo package
  pkg/debuginfo/parcaglue.go
  pkg/parca/debuginfo/debuginfod.go
  pkg/parca/debuginfo/debuginfod_test.go
  pkg/parca/debuginfo/fetcher.go
  pkg/parca/debuginfo/metadata.go
  pkg/parca/debuginfo/metadata_test.go
  pkg/parca/debuginfo/store.go
  pkg/parca/debuginfo/store_test.go
  pkg/parca/debuginfo/testdata/validelf_nosections
  pkg/parca/debuginfo/testdata/validelf_withsections
  pkg/symbolizer/symbolizer.go
Owners: @grafana/pyroscope-team, @marcsanmi, @korniltsev

test: use HTTP/2 with AuthenticateUser middleware in debuginfo store test
  pkg/parca/debuginfo/fetcher.go
  pkg/parca/debuginfo/metadata.go
  pkg/parca/debuginfo/metadata_test.go
  pkg/parca/debuginfo/store.go
  pkg/parca/debuginfo/store_test.go
  pkg/symbolizer/symbolizer_test.go
Owners: @grafana/pyroscope-team, @marcsanmi, @korniltsev

make go/mod
  go.mod
  go.sum
Owners: @grafana/pyroscope-team

make fmt
  pkg/parca/debuginfo/metadata_test.go
Owners: @grafana/pyroscope-team

Remove .github/workflows/update-make-docs.yml (#4746)
  .github/workflows/update-make-docs.yml
Owners: @jdbaldry

Use exemplar with attribute table only for internal communication
  api/connect-openapi/gen/ingester/v1/ingester.openapi.yaml
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/connect-openapi/gen/storegateway/v1/storegateway.openapi.yaml
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/query/v1/query.proto
  api/types/v1/types.proto
  pkg/model/attributetable/attribute_table.go
  pkg/model/attributetable/merger.go
  pkg/model/attributetable/merger_test.go
  pkg/model/attributetable/util.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
  pkg/model/time_series_merger.go
  pkg/model/time_series_merger_test.go
  pkg/model/time_series_test.go
  pkg/querybackend/query_time_series.go
  pkg/querybackend/query_time_series_with_attribute_table.go
  pkg/querybackend/query_time_series_with_attribute_table_test.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Use attribute table when querying exemplars internally
  pkg/frontend/readpath/queryfrontend/query_select_time_series.go
  pkg/model/attributetable/merger.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev

fix linting issue
  pkg/model/time_series_test.go
Owners: @korniltsev, @bryanhuhta

chore: Update Grafana components to 12.3.1 (#4769)
  cmd/pyroscope/frontend.Dockerfile
  package.json
  public/app/components/FlameGraphWrapper.tsx
  scripts/webpack/webpack.common.js
  yarn.lock
Owners: @grafana/pyroscope-team

profilecli: add --force/-f flag to overwrite output files
  cmd/profilecli/main.go
  cmd/profilecli/output.go
  cmd/profilecli/query-blocks.go
  cmd/profilecli/query.go
Owners: @grafana/pyroscope-team

Update pkg/parca/debuginfo/metadata.go
  pkg/parca/debuginfo/metadata.go
Owners: @grafana/pyroscope-team

remove writepath options from the new debuginfo handlers
  pkg/api/api.go
Owners: @grafana/pyroscope-team

profilecli: add --force/-f flag to overwrite output files (#4776)
  cmd/profilecli/main.go
  cmd/profilecli/output.go
  cmd/profilecli/query-blocks.go
  cmd/profilecli/query.go
Owners: @grafana/pyroscope-team

feat(profilecli): add kube-proxy command for unified microservice access
  cmd/profilecli/kube_proxy.go
  cmd/profilecli/main.go
Owners: @grafana/pyroscope-team

level.Error
  pkg/parca/debuginfo/store.go
Owners: @grafana/pyroscope-team

cleanup
  pkg/parca/debuginfo/store.go
Owners: @grafana/pyroscope-team

remove cache
  pkg/parca/cache/cache.go
  pkg/parca/cache/cache_test.go
  pkg/parca/cache/cache_with_eviction.go
  pkg/parca/cache/cache_with_ttl.go
  pkg/parca/cache/loading.go
  pkg/parca/cache/loading_test.go
  pkg/parca/cache/lru/lru.go
  pkg/parca/cache/lru/lru_test.go
  pkg/parca/cache/lru/lru_with_eviction_test.go
  pkg/parca/cache/lru/metrics.go
  pkg/parca/cache/lru/options.go
  pkg/parca/cache/noop.go
Owners: @grafana/pyroscope-team

Address review feedback
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_select_time_series.go
  pkg/frontend/frontend_stubs.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/iterator.go
  pkg/model/heatmap/merger.go
  pkg/model/heatmap/points_builder.go
  pkg/model/heatmap/points_builder_test.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/querybackend/query_heatmap.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta, @korniltsev

Fix missing is
  pkg/frontend/frontend_stubs.go
Owners: @marcsanmi, @bryanhuhta

Disable default selector
  cmd/profilecli/kube_proxy.go
Owners: @grafana/pyroscope-team

Read kubernetes args from env vars
  cmd/profilecli/kube_proxy.go
Owners: @grafana/pyroscope-team

Review suggestion
  cmd/profilecli/kube_proxy.go
Owners: @grafana/pyroscope-team

Allow retrieving heatmap from spans/individual profiles (#4736)
  api/connect-openapi/gen/querier/v1/querier.openapi.yaml
  api/connect-openapi/gen/query/v1/query.openapi.yaml
  api/gen/proto/go/querier/v1/querier.pb.go
  api/gen/proto/go/querier/v1/querier_vtproto.pb.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.go
  api/gen/proto/go/querier/v1/querierv1connect/querier.connect.mux.go
  api/gen/proto/go/query/v1/query.pb.go
  api/gen/proto/go/query/v1/query_vtproto.pb.go
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/querier/v1/querier.proto
  api/query/v1/query.proto
  api/types/v1/types.proto
  docs/sources/reference-server-api/index.md
  pkg/frontend/frontend_stubs.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_heatmap.go
  pkg/frontend/readpath/router.go
  pkg/model/heatmap/heatmap.go
  pkg/model/heatmap/heatmap_test.go
  pkg/model/heatmap/iterator.go
  pkg/model/heatmap/merger.go
  pkg/model/heatmap/points_builder.go
  pkg/model/heatmap/points_builder_test.go
  pkg/model/heatmap/range.go
  pkg/model/heatmap/range_test.go
  pkg/model/heatmap/top.go
  pkg/querier/http_test.go
  pkg/querier/querier.go
  pkg/querybackend/query_heatmap.go
  pkg/test/mocks/mockquerierv1connect/mock_querier_service_client.go
  pkg/util/spanlogger/query_log.go
  tools/api-docs-generator/curl.go
  tools/api-docs-generator/main.go
  tools/api-docs-generator/python.go
Owners: @simonswine, @marcsanmi, @aleks-p, @grafana/docs-profiles, @grafana/pyroscope-team, @bryanhuhta, @korniltsev

fix: Correct datatype for Exemplar value uint64->int64
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/types/v1/types.proto
  pkg/model/exemplar_builder.go
  pkg/model/heatmap/range.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Fix missing test
  pkg/model/time_series_builder_test.go
Owners: @korniltsev, @bryanhuhta

fix: Correct datatype for Exemplar value uint64->int64 (#4779)
  api/gen/proto/go/types/v1/types.pb.go
  api/gen/proto/go/types/v1/types_vtproto.pb.go
  api/openapiv2/gen/phlare.swagger.json
  api/types/v1/types.proto
  pkg/model/exemplar_builder.go
  pkg/model/heatmap/range.go
  pkg/model/time_series_builder.go
  pkg/model/time_series_builder_test.go
Owners: @simonswine, @marcsanmi, @aleks-p, @korniltsev, @bryanhuhta

Add `.pre-commit-config.yaml` for pre-commit support
  .pre-commit-config.yaml
Owners: @grafana/pyroscope-team

Add Renovate rules for managing Makefile dependencies
  renovate.json
Owners: @grafana/pyroscope-team

Make model.Tree generic
  pkg/frontend/frontend_diff.go
  pkg/frontend/frontend_select_merge_stacktraces.go
  pkg/frontend/readpath/query_service_handler.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_span_profile.go
  pkg/frontend/readpath/queryfrontend/query_select_merge_stacktraces.go
  pkg/model/flamegraph.go
  pkg/model/flamegraph_diff.go
  pkg/model/flamegraph_diff_bench_test.go
  pkg/model/flamegraph_test.go
  pkg/model/stack.go
  pkg/model/stacktraces.go
  pkg/model/stacktraces_test.go
  pkg/model/tree.go
  pkg/model/tree_merger.go
  pkg/model/tree_test.go
  pkg/phlaredb/block_querier.go
  pkg/phlaredb/head_queriers.go
  pkg/phlaredb/sample_merge.go
  pkg/phlaredb/symdb/resolver.go
  pkg/phlaredb/symdb/resolver_tree.go
  pkg/querier/ingester_querier.go
  pkg/querier/querier.go
  pkg/querier/select_merge.go
  pkg/querier/store_gateway_querier.go
Owners: @marcsanmi, @bryanhuhta, @korniltsev, @grafana/pyroscope-team, @simonswine

init
  lidia/gosym/pclntab.go
  lidia/gosym/symtab.go
Owners: @korniltsev, @marcsanmi

add gopclntab
  lidia/gosym/parse.go
  lidia/gosym/pclntab.go
  lidia/gosym/symtab.go
Owners: @korniltsev, @marcsanmi

integrate lidia
  lidia/lidia.go
  lidia/options.go
Owners: @korniltsev, @marcsanmi

add test for gopclntab-only symbol resolution
  lidia/lidia_test.go
Owners: @korniltsev, @marcsanmi

CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @grafana/pyroscope-team

# Documentation.
/.github/workflows/publish-technical-documentation-next.yml     @jdbaldry
/.github/workflows/publish-technical-documentation-release.yml  @jdbaldry
/.github/workflows/update-make-docs.yml                         @jdbaldry
/docs/                                                          @grafana/docs-profiles @grafana/pyroscope-team
/docs/docs.mk                                                   @jdbaldry
/docs/make-docs                                                 @jdbaldry
/docs/variables.mk                                              @jdbaldry

# eBPF collector
/ebpf/ @korniltsev

# LIDIA debug symbols format
/lidia/ @korniltsev @marcsanmi

# area/read-path
/pkg/querybackend/ @marcsanmi @aleks-p
/pkg/symbolizer/ @marcsanmi @korniltsev
/pkg/storegateway/ @aleks-p
/pkg/scheduler/ @korniltsev @bryanhuhta
/pkg/phlaredb/symdb/ @simonswine @korniltsev
/pkg/phlaredb/tsdb/ @simonswine @korniltsev
/pkg/querier/ @marcsanmi
/pkg/frontend/ @marcsanmi @bryanhuhta
/pkg/block/ @simonswine @marcsanmi @alsoba13
/pkg/phlaredb/block @simonswine

# area/write-path
/pkg/distributor/ @aleks-p @alsoba13
/pkg/segmentwriter/ @alsoba13 @korniltsev
/pkg/og/convert/ @korniltsev @bryanhuhta
/pkg/pprof/ @korniltsev @bryanhuhta
/pkg/model/relabel/ @korniltsev @bryanhuhta
/pkg/model/ @korniltsev @bryanhuhta
/pkg/model/pprofsplit/ @korniltsev @bryanhuhta
/pkg/validation/ @marcsanmi @aleks-p
/pkg/ingester/otlp @marcsanmi @korniltsev
/pkg/ingester/ @alsoba13 @korniltsev
/pkg/phlaredb/shipper/ @korniltsev @bryanhuhta

# area/compactor
/pkg/compactor/ @alsoba13
/pkg/compactionworker/ @alsoba13
/pkg/phlaredb/bucketindex/ @aleks-p
/pkg/phlaredb/downsample/ @aleks-p

# area/metastore
/pkg/metastore/ @aleks-p

# parquet
/pkg/objstore/parquet/ @simonswine
/pkg/phlaredb/query/ @simonswine
/pkg/phlaredb/schemas/v1/ @simonswine @aleks-p
/pkg/parquet/ @simonswine

# api
/api/ @simonswine @marcsanmi @aleks-p

# objstore
/pkg/objstore/ @simonswine
